.endDateWarning{    
    position: fixed; z-index: 99; width: 30%; left: 35%;top:150px; background: rgba(255,255,255,0.8);   min-height: 150px;    border-radius: 3px;
    .notice-con{
        color:black;font-size:14px;
        h4{ text-indent: 15px; color: red;    margin-top: 20px;}
        .notice-item{
            line-height: 25px;
        }
    }
    .close-btn{background:grey;width:6em;text-align:center;line-height: 40px;font-size:16px;color:white;display: inline-block; cursor: pointer;border-radius: 5px; margin: 15px;}
}