@CHARSET "UTF-8";
div,p,h{margin:0;padding:0;}
.modal-container{
	width:40%;height:275px;background:white;border-radius:10px;margin:0 auto;position:relative;color:black;margin: 0 auto;min-width: 570px;
}
#model-container{position:relative;}
#addGroup-con .circle{
	width:180px;height:180px;text-align:center;border-radius:50%;background:rgb(245,245,245);    margin: 15px auto 20px;
}
.circle >p{font-size:16px;color:rgb(189,189,189);}
.add-btn{
	border-radius:22px;background:rgb(88,199,183);color:white;font-size:18px;display:block;width:175px;line-height:42px;    margin: 20px auto;text-align: center;
}
.h-box{display:-webkit-box;}
.flex{-webkit-box-flex: 1;}
ul,li{list-style:none;}
#add-group{padding:35px 48px;}
#add-group >h4{font-size:25px;}
#add-group >.input-con{margin: 40px 30px 45px;}
.input-con >label{width:80px;height:38px;line-height:40px;    display: block;}
.input-con >input{border:1px solid rgb(207,218,220);width:320px;line-height:40px;font-size: 15px;text-indent: 1em;    display: block;}
#add-group >.button-con{    margin: 0 22%;}
.button-con >a{display:inline-block;border-radius:5px;width:90px;line-height: 35px; text-align: center;}
.button-con >.save{background:rgb(2,177,154);color:white;}
.button-con >.cancel{background:white;color:black;border:1px solid rgb(207,218,220);margin-left: 80px;}
/* 有分组时 */
.header-con{height:50px;position:relative;}
.header-con >.go-back{width:50px;height:50px;position:absolute;left:13px;    cursor: pointer;}
.header-con .go-back >span{width:20px;height:20px;display:inline-block;border:1px solid black;border-radius:50%;    margin-top: 12px;line-height: 20px;text-align: center;}
.header-con .name{width:100%;text-align:center;line-height:50px;    font-size: 24px;}
.header-con >.finish{position:absolute;width:50px;text-align:right;line-height:50px;right:13px;top:0;    font-size: 15px;}
.nav-con{margin:0 60px;    font-size: 14px;}
.nav-con .check-box >span{vertical-align: text-bottom;margin-left: 6px;}
.nav-con .delete-all{display:block;padding:0 14px;margin:0 45px 0 20px;border: 1px solid black;   line-height: 1.5em;}
.nav-con .add-group{    display: inline-block;    vertical-align: text-bottom;  margin-right: 6px;    cursor: pointer;}
.group-list{margin:25px 60px 45px 20px;    overflow: auto; height: 160px;}
.group-list >li{border-bottom:1px solid rgb(212,212,212);    line-height: 45px;    cursor: pointer;}
.group-list .station-name{margin-left:12px;font-size:24px;}
.group-list .station-num{margin-right:10px;}
.station-list .station-name{margin-left:12px;}
.station-list{margin:25px 60px 45px 20px;    overflow: auto; height: 150px;}
.station-list li{border-bottom:1px solid rgb(212,212,212);    line-height: 45px;font-size:16px;}
/* 添加电站 */
.saveStationBtn{display:inline-block;border-radius:5px;width:70px;line-height:25px;text-align:center;background:rgb(2,177,154);color:white;}