.equipmentBrand, .equipmentFault, .equipmentModel {
    .top-bar {
        height: 75px;
        line-height: 75px;
        border-bottom: 1px solid #ccc;
        position: relative;
        z-index: 99;
    }

    .switch-date-type {
        display: inline-block;
        margin-left: 100px;
        span {
            font-size: 16px;
            margin: 0 10px;
            cursor: pointer;
            &.active {
                color: #1cb09a;
            }
        }
    }

    input {
        border: none;
        background-color: transparent;
        text-align: center;
        font-size: 18px;
        width: 100px;
    }

    button {
        position: absolute;
        right: 20px;
        top: 25px;
        padding: 0 20px;
        background-color: transparent;
        border: 1px solid #1cb09a;
        font-size: 14px;
        line-height: 2;
        color: #1cb09a;
    }

    .eb-content {
        margin-top: 10px;
        .chart1 {
            width: calc(100% / 3 - 10px);
            height: 260px;
            float: left;
            margin-left: 10px;
            background-color: #fff;
        }
        .chart2 {
            width: calc(100% - 33.3% - 20px);
            height: 260px;
            margin-left: calc(100% / 3 + 10px);
            background-color: #f9f5ec;
        }
        .chart3 {
            width: calc(100% / 3 - 10px);
            float: left;
            margin-left: 10px;
            background-color: #fff;
        }
        .chart4 {
            width: calc(100% - 66.6% - 20px);
            margin: 0px calc(100% / 3 + 10px);
            background-color: #fff;
        }
        .chart5 {
            width: calc(100% / 3 - 10px);
            float: right;
            margin-right: 10px;
            background-color: #fff;
        }
    }
}