$main-color: #1cb09a;
.expertLibrary {
    .top-bar {
        height: 75px;
        line-height: 75px;
        border-bottom: 1px solid #ccc;

        button {
            width: 80px;
            height: 30px;
            line-height: 30px;
            background-color: #fff;
            border: 1px solid $main-color;
            color: $main-color;
            vertical-align: middle;
            margin-left: 10px;
            &.active {
                background-color: $main-color;
                color: #fff;
            }
        }
    }
}