$main-color: #1cb09a;
$color-zj: #953bb3;
$color-gj: #ff3d39;
$color-zji: #ffc61a;
$color-cj: #0db8ff;
$color-cn: #28d328;

.expertLibrary {
    .top-bar {
        height: 75px;
        line-height: 75px;
        border-bottom: 1px solid #ccc;

        button {
            width: 80px;
            height: 30px;
            line-height: 30px;
            background-color: #fff;
            border: 1px solid $main-color;
            color: $main-color;
            vertical-align: middle;
            margin-left: 10px;
            &.powerTypeActive {
                background-color: $main-color;
                color: #fff;
            }
        }
    }

    .el-content {
        display: table;
        width: 100%;
        .el-left {
            display: table-cell;
            width: 250px;
            .search {
                margin: 10px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid $main-color;
                overflow: hidden;
                position: relative;
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    padding-left: 1em;
                    font-size: 16px;
                }
                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 40px;
                    background-color: $main-color;
                    border: none;
                    color: #fff;
                    font-size: 30px;
                    -webkit-text-stroke: 2px $main-color;
                }
            }

            .switch {
                background-color: #fff;
                display: table;
                width: calc(100% - 20px);
                margin: 20px 10px;
                .switch-tab {
                    display: table-cell;
                    width: 35px;
                    height: 280px;
                    border: 1px solid $main-color;
                    button {
                        height: 140px;
                        background-color: #fff;
                        border: none;
                        color: $main-color;
                        font-size: 16px;
                        &.active {
                            background-color: $main-color;
                            color: #fff;
                        }
                    }
                }
                .switch-content {
                    display: table-cell;
                    vertical-align: top;
                    
                }
            }
            .tips {
                margin: 10px;
                background-color: #fff;
                height: 200px;
                display: table;
                width: calc(100% - 20px);
                .tips-title {
                    display: table-cell;
                    width: 35px;
                    padding: 2px;
                    font-size: 16px;
                    vertical-align: middle;
                    text-align: center;
                    background-color: $main-color;
                    color: #fff;
                    
                }
                .tips-content {
                    ul {
                        margin: 0;
                        padding: 0;
                        margin-left: 40px;
                        margin-top: 40px;
                        li {
                            margin: 0;
                            font-size: 14px;
                            line-height: 1.5em;
                            input[type="checkbox"]:checked {
                                margin-right: 10px;
                                width: 14px;
                                height: 14px;
                                &::after {
                                    content: '';
                                    width: 100%;
                                    height: 100%;
                                    display: inline-block;
                                }
                            }
                            &:nth-child(1) {
                                color: $color-zj;
                                input[type="checkbox"]:checked::after {
                                    background-color: $color-zj;
                                }
                            }
                            &:nth-child(2) {
                                color: $color-gj;
                                input[type="checkbox"]:checked::after {
                                    background-color: $color-gj;
                                }
                            }
                            &:nth-child(3) {
                                color: $color-zji;
                                input[type="checkbox"]:checked::after {
                                    background-color: $color-zji;
                                }
                            }
                            &:nth-child(4) {
                                color: $color-cj;
                                input[type="checkbox"]:checked::after {
                                    background-color: $color-cj;
                                }
                            }
                            &:nth-child(5) {
                                color: $color-cn;
                                input[type="checkbox"]:checked::after {
                                    background-color: $color-cn;
                                }
                            }
                        }
                    }
                }
            }
        }
        .el-right {
            display: table-cell;
            padding: 10px 5px;
            .el-box {
                padding: 0 5px;
                width: 50%;
                float: left;
                margin-bottom: 10px;
                >div {
                    background-color: #fff;
                    height: 180px;
                    border-radius: 3px;
                    padding: 10px;
                    cursor: pointer;
                    .base-info {
                        img {
                            float: left;
                            width: 100px;
                            height: 100px;
                        }
                        >div {
                            padding-left: 20px;
                            overflow: hidden;
                            h4 {
                                margin: 0;
                                border-bottom: 1px solid #eee;
                                line-height: 1.5;
                            }
                            p {
                                font-size: 12px;
                                line-height: 1.5;
                                color: #777;
                                &:last-of-type {
                                    border-bottom: 1px solid #eee;                                
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .el-details {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 9999;
        .details-content {
            width: 860px;
            height: 430px;
            margin: 100px auto;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, .9);
            .details-top {
                height: 200px;
                border-bottom: 1px solid #ddd;
                img {
                    margin-top: 25px;
                    margin-left: 40px;
                    width: 130px;
                    height: 130px;
                    float: left;
                }
                .base-info {
                    float: left;
                    margin-top: 25px;
                    width: 440px;
                    margin-left: 20px;
                    h4 {
                        margin: 0;
                        line-height: 1.5;
                        border-bottom: 1px solid #ddd;
                    }
                    .first-div {
                        border-bottom: 1px solid #ddd;
                        p {
                            float: left;
                            width: 200px;
                            line-height: 2;
                            color: #666;
                            font-size: 14px;
                            &:nth-of-type(2n) {
                                margin-left: 40px;
                            }
                        }
                    }
                }
                .info-right {
                    float: right;
                    width: 200px;
                    height: 100%;
                    border-left: 1px solid #ddd;
                }
            }
            .details-bottom-charts {
                >div {
                    float: left;
                    width: 33.3%;
                    height: 230px;
                    position: relative;
                    border-right: 1px solid #ddd;
                    &:last-of-type {
                        border: none;
                    }
                    h4 {
                        color: $main-color;
                        text-align: center;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                    }
                }
            }
        }
    }


    ul.checkbox-list {
        margin: 0;
        padding: 0;
        margin-left: 40px;
        margin-top: 40px;
        li {
            margin: 0;
            padding: 0;
            line-height: 1.5em;
            font-size: 14px;
            label {
                &:hover {
                    cursor: pointer;
                }
            }
            input[type="checkbox"] {
                width: 14px;
                height: 14px;
                margin-right: 10px;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    border: 1px solid #333;
                }
                &:checked {
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        background-color: $main-color;
                        border: none;
                    }
                    & + span {
                        color: $main-color;
                    }
                }
            }
        }
    }

    .skill {
        p {
            height: 1.9em;
            line-height: 1.5;
            overflow: hidden;
            margin-top: 5px;
            span {
                display: inline-block;
                padding: 3px 7px;
                border-radius: 3px;
                color: #fff;
                opacity: .8;
                &.zj {
                    background-color: $color-zj;
                }
                &.gj {
                    background-color: $color-gj;
                }
                &.zji {
                    background-color: $color-zji;
                }
                &.cj {
                    background-color: $color-cj;
                }
                &.cn {
                    background-color: $color-cn;
                }
            }
        }
    }
}