.fanRunningState{
    .frs-content {
        padding: 10px;
        .frs-chart {
            display: block;
            background-color: #fff !important;
            width: 100%;
            min-height: 270px;
        }
    }
}