.fengyunList{
    .top-bar {
        height: 75px;
        line-height: 75px;
        border-bottom: 1px solid #ccc;

        .switch-date-type {
            display: inline-block;
            margin-left: 100px;
            span {
                padding: 0 10px;
                font-size: 16px;
                cursor: pointer;
                &.active {
                    color: #1cb09a;
                }
            }
        }
        input {
            background-color: transparent;
            border: none;
            font-size: 18px;
            text-align: center;
            width: 100px;
        }
    }

    .fl-content {
        margin-top: 10px;
        thead {
            background-color: #fff;
            th {
                // font-weight: normal;
                height: 50px;
            }
        }
        tbody {
            tr {
                height: 50px;
                font-size: 16px;
                &:nth-child(2n) {
                    background-color: #fff;
                }
                &:nth-child(2n - 1) {
                    background-color: #def0f8;
                }
                td {
                    span {
                        margin-right: 10px;
                        &.jiangbei {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            vertical-align: middle;
                            &.jiangbei-1 {
                                background: url('../../../images/datang/siteAnalysis/jiangbei.png') top;
                            }
                            &.jiangbei-2 {
                                background: url('../../../images/datang/siteAnalysis/jiangbei.png') center;
                            }
                            &.jiangbei-3 {
                                background: url('../../../images/datang/siteAnalysis/jiangbei.png') bottom;
                            }
                        }
                    }
                }
            }
        }
    }
}