.lossOfPower{
    .switch-power {
        .switch-date-type {
            display: inline-block;
            margin-left: 150px;
            span {
                font-size: 16px;
                margin: 0 20px;
                cursor: pointer;
                &.active {
                    color: #1cb09a;
                }
            }
        }
        input {
            border: none;
            background-color: transparent;
            text-align: center;
            font-size: 18px;
            width: 100px;
        }
    }

    .top-box {
        margin: 10px 0;
        padding: 0 5px;
        .block {
            width: 50%;
            padding: 0 5px;
            float: left;
            >div {
                background-color: #fff;
                width: 100%;
                height: 250px;
                padding: 25px 0;
                .title {
                    width: 135px;
                    height: 100%;
                    float: left;
                    border-right: 1px solid #ccc;
                    position: relative;
                    p {
                        width: 1.5em;
                        height: auto;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        font-size: 18px;
                        line-height: 1.2em;
                    }
                }
                .lop-chart {
                    overflow: hidden;
                    height: 100%;
                }
            }
        }
    }

    .bottom-box {
        padding: 0 10px;
        >div{
            background-color: #ffffff;
        }
    }
}