.powerPrediction {
    .switch-power {
        .switch-date-type {
            display: inline-block;
            margin-left: 150px;
            span {
                font-size: 16px;
                margin: 0 20px;
                cursor: pointer;
                &.active {
                    color: #1cb09a;
                }
            }
        }
        input {
            border: none;
            background-color: transparent;
            text-align: center;
            font-size: 18px;
            width: 100px;
        }
    }  

    .top-box {
        margin-top: 10px;
        padding: 0 5px;
        >div {
            float: left;
            width: 33.3%;
            padding: 0 5px;
            &:nth-child(1) {
                width: 33.3%;
                >div {
                    background-color: #1f79a8;
                    .middle {
                        >div.pull-right {
                            width: 30%;
                            >div {
                                height: 0.5em;
                            }
                        }
                    }
                }
            }
            >div {
                background-color: #2c9cd6;
                height: 230px;
                color: #fff;
                padding: 10px;
                .top {
                    padding: 0 20px;
                    border-bottom: 1px solid rgba(255,255,255,.3);
                    p > span {
                        font-size: 24px;
                    }
                    div {
                        font-size: 20px;
                    }
                }
                .middle {
                    padding: 5px 5px;
                    font-size: 14px;
                    border-bottom: 1px solid rgba(255,255,255,.3);
                    .col-xs-4 {
                        overflow: hidden;
                        span {
                            white-space: nowrap;
                        }
                    }
                }
                .bottom {
                    padding: 5px 20px 0;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .bottom-box {
        margin-top: 10px;
        padding: 0 10px;
    }
}