.screen {
    float: right;
    position: relative;
    width: 220px;
    div.text {
        margin-top: 15px;
        p {
            line-height: 1.5;
            font-size: 12px;
        }
    }
    >button {
        position: absolute;
        right: 50px;
        top: 25px;
        padding: 0 20px;
        background-color: transparent;
        border: 1px solid #1cb09a;
        font-size: 14px;
        line-height: 2;
        color: #1cb09a;
        &.active {
            background-color: #1cb09a;
            padding-bottom: 20px;
            color: #fff;
        }
    }

    .screenBox {
        width: 250px;
        background: #1cb09a;
        position: absolute;
        top: 75px;
        right: 10px;
        padding-top: 10px;
        div.line-text {
            line-height: 1.5;
            margin-top: 10px;
            text-align: center;
            span {
                color: #fff;
                font-size: 14px;
            }
            input {
                background-color: transparent;
                border: 1px solid #fff;
                width: 50px;
                line-height: 1.5;
                text-align: center;
                color: #fff;
                margin: 0 5px;
            }
        }
        .menology{
            width: 160px;
            margin: 20px auto;
            span {
                float: left;
                width: 33%;
                height: 2em;
                text-align: center;
                line-height: 2;
                background-color: rgba(255,255,255,.7);
                color: #333;
                cursor: pointer;
                border-right: 1px solid #1cb09a;
                border-bottom: 1px solid #1cb09a;
                &.active {
                    background-color: #fff;
                }
            }
        }
        .btn-grup {
            width: 160px;
            margin: 20px auto;
            button {
                line-height: 2;
                background-color: #fff;
                color: #1cb09a;
                border: none;
                font-size: 14px;
                padding: 5px 20px;
            }
        }
    }
}