.windPowerOperations{
    .top-bar {
        height: 75px;
        line-height: 75px;
        border-bottom: 1px solid #ccc;

        .switch-date-type {
            display: inline-block;
            margin-left: 100px;
            span {
                padding: 0 10px;
                font-size: 16px;
                cursor: pointer;
                &.active {
                    color: #1cb09a;
                }
            }
        }
        input {
            background-color: transparent;
            border: none;
            font-size: 18px;
            text-align: center;
            width: 100px;
        }
    }

    .content {
        padding: 10px;
        .con-left {
            float: left;
            width: 400px;
            .block1 {
                height: 255px;
                background-color: #ffffff;
                padding: 20px;
    
                ul {
                    margin: 0;
                    padding: 0;
    
                    li {
                        margin-top: 7px;
                        background-color: #5989d9;
                        line-height: 2.5em;
                        color: #fff;
                        padding: 0 20px;
                        font-size: 14px;
                        span {
                            display: inline-block;
                            width: 120px;
                        }
                    }
                }
            }
            .block2 {
                margin-top: 10px;
                background-color: #ffffff;
                position: relative;
                h3 {
                    position: absolute;
                    margin-top: 10px;
                    left: 30px;
                    top: 0;
                    z-index: 10;
                    font-size: 16px;
                    color: #333;
                }
            }
        }
        .block-map {
            float: left;
            margin-left: 10px;
            background-color: #ffffff;
        }
    }

}