
.alarm-page {
    padding: 0 4.16%;
    background-color: #8cb5c9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    
    .header {
        $lineHeight: 175px;
        position: relative;
        h2 {
            margin: 0;
            line-height: $lineHeight;
            color: #fff;
            font-size: 30px;
        }
        >div {
            position: absolute;
            right: 0;
            top: 0;
            line-height: $lineHeight;
            img {
                margin-right: 4em;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .blocks {
        $grid: 2.27%;
        margin-bottom: 50px;
        > div {
            height: 76px;
            span {
                font-size: 18px;
            }
        }
        .block1 {
            width: 10 * $grid;
            margin-right: $grid;
            background-color: #a86daa;
            >div{
                height: 100%;
                text-align: center;
                color: #fff;
                &:first-child {
                    width: 30%;
                    background-color: #8f6391;
                    padding-top: 1em;
                }
                &:last-child {
                    width: 70%;
                    div {
                        width: 50%;
                        padding-top: 1em;
                    }
                }
            }
        }
        .block2 {
            width: 18 * $grid;
            margin-right: $grid;
            background-color: #6d6daa;
            >div{
                height: 100%;
                text-align: center;
                color: #fff;
                &:first-child {
                    width: 16.66%;
                    background-color: #646497;
                    padding-top: 1em;
                }
                &:last-child {
                    width: 83.34%;
                    div {
                        width: 20%;
                        padding-top: 1em;
                    }
                }
            }
        }
        .block3 {
            width: 14 * $grid;
            background-color: #6daa85;
            >div{
                height: 100%;
                text-align: center;
                color: #fff;
                &:first-child {
                    width: 21.4%;
                    background-color: #5c9271;
                    padding-top: 1em;
                }
                &:last-child {
                    width: 78.6%;
                    div {
                        width: 33.3%;
                        padding-top: 1em;
                    }
                }
            }
        }
    }

    .my-paging {
        span {
            color: #fff;
        }
        .page-number span.page-next, .page-number span.page-pre {
            border: none;
        }
    }

    .my-table {
        color: #fff;
        margin-bottom: 50px;
        thead {
            background-color: transparent;
            border: 2px solid #fff;
            th {
                height: 78px;
                font-size: 22px;
                font-weight: normal;
                padding: 0 1em;
            }
        }
        tbody {
            tr {
                background-color: #a3c4d4;
                border-bottom: 2px solid #8cb5c9;
                td {
                    height: 80px;
                    font-size: 22px;
                    padding: 0 1em;
                }
            }
        }
    }
}