@CHARSET "UTF-8";
/* 产品资料 */
.light-black{color:#6e6e6e;}
.dark-black{color:#464646;}
.product-detail{padding:40px 60px 60px;}
.product-detail >.title{color:#1cb09a;font-size:18px;text-align:center;margin:0 0 20px;}
.product-detail >.pro-introduce{margin-bottom:25px;font-size:12px;}
.product-detail >.pro-introduce label{display:inline-block;width:5em;}
.margin-left15{margin-left:15px;}
.margin-right15{margin-right:15px;}
.product-detail .main-words{border:1px solid rgb(205,205,205);height:245px;}
.product-detail .attachment{margin-top:20px;font-size:12px;} 
.product-detail .attachment label{margin:0 25px 0 10px;}
.product-detail .attachment span{color:#1cb09a;font-size:14px;}
/* 历史维修 */
.history-detail{padding:40px 60px 60px;}
.history-detail >.title{color:#1cb09a;font-size:18px;text-align:center;margin:0 0 20px;}
.history-detail >.pro-introduce{margin-bottom:25px;font-size:12px;}
.history-detail >.pro-introduce label{display:inline-block;width:5em;}
.history-detail .main-words{border:1px solid rgb(205,205,205);height:245px;}
/* 故障指导 */
.fault-detail{    padding: 20px 15px 0px;}
.fault-detail >.title{color:#313131;font-size:16px;margin:0 0 20px;}
.fault-detail >.pro-introduce{color:#565656;    margin-bottom: 20px;}
.fault-detail .judge-input{margin:0 15px 0 38px;display:none;}
.fault-detail input[type="checkbox"] + .checkbox-label:before{display: inline-block;
    content:"";    vertical-align: text-top;
    width: 14px;
    height: 14px;
    padding: 2px;
    border-radius: 15px;
    border:1px solid rgb(233,233,233);}
.fault-detail input[type="checkbox"]:checked + .checkbox-label:before{
	background-color:rgb(16,203,180);border:1px solid rgb(16,203,180);
	background-clip: content-box, padding-box;
}
.fault-detail .checkbox-label{margin-left:40px;}
.fault-detail .search-con{
	border:1px solid rgb(212,212,212);float: left;
}
.fault-detail .search-con > input{border:none;line-height: 26px;
    height: 26px;}
.fault-detail .search-con >a{    display: inline-block;
    background: rgb(16,203,180);
    color: white;
    width: 46px;
    text-align: center;
    height: 26px;
    line-height: 26px;}
.fault-detail .pagination > li > a {
    padding: 0;
    font-size: 14px;
    background-color: white;
    color: #777;
    border-radius: 3px;
    margin-right: 3px;
}
.table > thead > tr > th {
	color:#313131;font-size:16px;
    padding: 0;
    text-align: center;
    font-weight: normal;
    border: none;    line-height: 45px;
}
.table > tbody > tr > td.text_center {
    text-align: center;
}