@CHARSET "UTF-8";
/* header */
.page-knowledge header{text-indent:18px;border-top:1px solid rgb(218,225,231);border-bottom:1px solid rgb(218,225,231);line-height:44px;background:rgb(237,241,242);}
.page-knowledge .body-main{margin:0 18px;}
/* 查询模块 */
.search-con{    padding-top: 5px;}
.search-con .tab-con{width:49%;margin-right:2%;padding:18px 50px 14px;background:white;    height: 187px;}
.search-con .search-condition{width:49%; padding: 12px 50px;
background:white;  height: 187px;}
.tab-con >a{display:block;color:#1cb09a;font-size:26px;height:155px;border:1px solid rgb(221,221,221);width:32%;margin-left:2%;text-align:center;float: left;}
.tab-con >a:first-child{margin-left:0;}
.tab-con >a.active{color:white;border:1px solid rgb(107,211,226);background:rgb(107,211,226);}
.tab-con >a>span{ writing-mode: vertical-rl;
    margin: 28px auto 0;}
.condition{display:-webkit-box; -webkit-box-orient: horizontal;}
.condition .select-list{width:110px;position:relative;    border-radius: 7px 0 0 7px;cursor: pointer;}
.select-list select{height: 34px;border-radius: 7px 0 0 7px;-webkit-appearance: none;  appearance:none;-moz-appearance:none;border: none;background:rgb(182,228,222);width:110px;padding-left:12px;line-height:34px;font-size:18px;cursor: pointer;}
.select-list select option{
    height: 26px;color:white;
    padding: 10px 0;
    border: none;
    outline: none;
    -webkit-appearance:none;
	height:40px;    background: rgba(0,0,0,0.5);width:110px;text-align:center;
}
.select-list img{position:absolute;}
.select-list .triangle-up{    top: 10px;    right: 10px;}
.select-list .triangle-down{    bottom: 10px;    right: 10px;}
.condition .input-container{-webkit-box-flex:1;}
.condition .input-container >input{border:none;width: 100%;
    height:34px;background:rgb(249,249,249);
    text-indent: 1em;}
.condition .search-btn{cursor: pointer;width:47px;background:rgb(28,176,154) url(../../images/knowledgeBase/search-icon.png) no-repeat;border-radius:  0 7px 7px 0;    background-position: center;}
.condition-items{background:rgb(119,217,202);    height: 80px;}
.condition-items >h3{font-size:16px;    padding: 8px 18px;cursor: pointer;
    margin: 0;}
.condition-items ul{padding: 0 18px 15px;}
.condition-items ul >li{font-size:13px;color:black;float:left;margin-right:30px;cursor: pointer;    margin-bottom: 4px;}
/* 排序 */
.range{height:44px;line-height: 44px;    float: left;}
.range label{margin-left:50px;}
.range input[type="radio"]{
    display: none;
}
.range label:before{
    display: inline-block;
    content:"";
    width: 15px;
    height: 15px;
    padding:2px;
    border-radius: 50%;
    border:1px solid rgb(160,162,162);    vertical-align: middle;
}

.range input[type="radio"]:checked + label:before{
	background-color:rgb(16,203,180);
	border:1px solid rgb(16,203,180);
    background-clip: content-box, padding-box;
}
.range >span,.range >i{cursor:pointer;}
.range>i{    margin-right: 50px;}
/* 列表内容 */

.products-list .pro-item{      cursor: pointer; float: left;background:white;width:32%;margin:0 2% 16px 0;border-radius:7px;padding:16px 14px;     box-shadow: 0 3px 6px rgb(197,205,206);}
.products-list .pro-item:nth-child(3n){margin-right:0px;}
.pro-item h5{font-size:16px;color:#1cb09a; margin: 0 0 10px 0;white-space:nowrap;   
            text-overflow:ellipsis;   
            -o-text-overflow:ellipsis;  
             overflow: hidden;
             width: 100%;}
.pro-item .col-sm-8 >p{font-size:12px;}
.col-sm-8 >p label{color:rgb(110,110,110);width: 4em;}
.col-sm-8 >p span{color:rgb(70,70,70);margin-left:10px;    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    width:63%;
    float: left;}
.col-sm-4 >p{text-align:center;}
.pro-item .detail{    padding: 5px 0 0px;white-space:nowrap;   
            text-overflow:ellipsis;   
            -o-text-overflow:ellipsis;  
             overflow: hidden;
             width: 100%;
}
.view-num{color:#ffc208;font-size:35.5px;}

.activeOrderItem {
    color: rgb(6 , 190, 189);
}

.activeTypeItem {
    color: white;
}
.noactiveTypeItem {
    color: black;
}

.no-data-con{display:none;     padding: 15px 100px 0px;  text-align: center;
    padding-right: 420px;}
.no-data-con img{width:280px;}
.no-data-con .nodata-tip{position:absolute;    width: 230px;
    height: 140px;
    top:48px;
    background: rgb(0,190,190);
    border-radius: 10px;    left: 296px;
    line-height: 140px;
    text-align: center;
    font-size: 20px;
    color: white;}
.nodata-tip .triangle-tip{position:absolute;border-right: 40px solid rgb(0,190,190);
    top: 55px;
    left: -40px;
    width: 0px;
    height: 0;
    display: block;
    z-index: 2;
    border-top: 20px solid transparent;
    border-bottom: 10px solid transparent;}