@CHARSET "UTF-8";
span{display:inline-block;}
.detail-header{height:70px;}
.date-con{float:left;}
.tabs-con{float:right;    margin-right: 50px;}
.tabs-con li{display:inline-block;font-size:20px;height：1.2em;margin-left:1em;    padding-bottom: 5px;    cursor: pointer;}
li >.square{    width: 8px;height: 8px;background: #ff6100; margin-right: 5px; vertical-align: middle;display:none;}
.tab-active{border-bottom:1px solid #ff6100;}
.tab-active span{display:inline-block;}
.curves-con{margin:20px;}
.curves-con .year-con{width:50%;}
.curves-con .total-con{width:50%;}
.curves-con .month-con{width:100%;    margin: 60px 0 20px;}
