@CHARSET "UTF-8";
.dataAnalysis-con{
	margin:0px 10px 25px;
}
.score{
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgb(96,199,184)),to(rgb(119,227,165)));    margin-top: 10px;    padding-top: 20px;    padding-bottom: 15px;
}
.score >.score-circle{
	background:white;border:1px solid rgb(211,242,231);border-radius:50%;width:100px;height:100px;margin:0px auto 6px;    line-height: 100px;
    text-align: center;color:rgb(169,198,6);font-size: 40px;
}
.score>p{color:white;text-align:center;}
.score >.score-title{font-size:15px;margin:10px 0 6px;}
.score >.score-params{font-size:13px;margin:6px 0 0;}
.evaluate-detail{background:white;padding:10px;height:245px;width:100%;}
.evaluate-detail >div{width:33%;margin-right :0.5%;float:left;height:100%;}
.evaluate-detail >div:last-child{margin-right :0;}
.evaluate-detail .graph{background:rgb(238,238,238);}
.evaluate-detail .detail-center{}
.evaluate-detail .detail-right{}
.detail-center >div{    height: 71px;background:rgb(238,238,238);    margin-bottom: 6px;    padding: 5px 0;}
.detail-center >div:last-child{margin-bottom:0;}
.detail-right >div{    height: 71px;background:rgb(238,238,238);    margin-bottom: 6px;    padding: 5px 0;}
.detail-right >div:last-child{margin-bottom:0;}
.num-con{text-align: center;}
.num-con >.circle-num{border-radius:50%;border:2px solid rgb(178,178,178);width:27px;height:27px;line-height:24px;text-align:center;    display: inline-block;}
.p-title{color:rgb(51,51,51);font-size:14px;margin: 3px 0;}
.p-detail{color:rgb(102,102,102);font-size:13px;}
.table-data{margin:10px 0 25px;}
.table > thead > tr > th {
    width: 16.6666%;
}