@CHARSET "UTF-8";
.wp-container{margin:13px 26px 28px 0;}
.wp-container .item{width:31%;margin-left:2.334%;    background: rgb(248,248,248);margin-bottom: 25px;cursor:pointer;}
.item .item-title{height:55px;font-size:26px;color:white;    line-height: 55px;}
.item-title img{margin:0 11px;}
.item1{background:#8bc34a;}
.item2{background:#428ec4;}
.item3{background:#fe9700;}
.item4{background:#1caf9a;}
.item5{background:#b172b3;}
.item6{background:#ff6100;}
.info-con{padding:20px;color:rgb(90,90,90);    text-align: center;}
.info-con >.pull-left{border-right:1px solid rgb(238,238,238);width:50%;}
.info-con >.pull-right{width:50%;}
.percent{   font-size: 23px;color:grey;}
.orientation-line{width: 30px;margin: 5px auto;border:1px solid grey;}
.down-line{    border: 1px solid #e74c3c;}
.down-percent{color:#e74c3c; }
.up-line{    border: 1px solid #06bebd;}
.up-percent{color:#06bebd;}
.info-title{font-size:14px;}
.info-num{font-size:30px;font-weight:bold;}
.info-unit{font-size:14px;    height: 25px;}
.triangle{border-right:1}
.hover-alert{background:url("../../../images/wp/dataAnalysis/overview/hover-bg.png") no-repeat;background-size:100% 100%;    width: 150px;
    height: 108px;
    z-index: 2;
    position: absolute;
    left: 25px;
    top: -28px;display:none;}
    .hover-alert p{font-size:12px;    margin-top: 2px;font-weight: normal;
    }
    .hover-alert .num{  font-size: 20px;
    margin-bottom: 10px;    font-weight: bold;}
br{ 
display:inline; line-height:110px; 
} 
.overview-title {
    line-height: 60px;
    background: rgb(249,250,252);
    border-bottom: 1px solid rgb(227,228,229);
}
.arrow-con{height:15px;display:inline-block;}
.arrow-con.red{    width: 10px;background:url("../../../images/wp/dataAnalysis/overview/down.png") no-repeat;    background-size: 100% 100%;}
.arrow-con.green{    width: 10px;background:url("../../../images/wp/dataAnalysis/overview/up.png") no-repeat ;   background-size: 100% 100%;}