@CHARSET "UTF-8";
.mete-con {
    margin: 0px 10px 25px;
}
.mete-con .square {
    width: 35%;
    margin-left: 10%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 14px;
}
.mete-con .square:first-child {
    background: rgb(140,41,103);
}
.mete-con .square:nth-child(2) {
    background: rgb(245,102,105);
}
.tab {
    background: rgb(0,189,189);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;
}
.dimention{    -webkit-appearance: none;
    background: rgb(78,208,208) url("../../../images/wp/dataAnalysis/arrow-down.png") no-repeat;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 30px;
    width: 90px;
    padding-left: 10px;
    color: white;    background-position: 90%;
    }