@CHARSET "UTF-8";
.dimention {
    -webkit-appearance: none;
    background: rgb(59,180,233) url(../../../images/wp/dataAnalysis/arrow-down.png) no-repeat;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 30px;
    width: 90px;
    padding-left: 10px;
    color: white;
    background-position: 90%;
}