@CHARSET "UTF-8";
.ranking-con{background:white;margin:10px;padding:0 130px 30px;    height: 627px}
.title-con{border-bottom:1px solid rgb(235,235,235);    padding-top: 30px;text-align: center;    margin-bottom: 38px;}
.title-con .title{border-bottom:3px solid rgb(93,196,196);    font-size: 30px; padding: 0 15px;}
.pr-con{width:48%;margin-right:4%;}
.power-con{width:48%;}
.span{display:inline-block;}
.item-header{background:rgb(242,242,242);border-bottom:1px solid rgb(235,235,235);font-size:18px;line-height:30px;text-indent:1em;}
.pr-con  li{line-height:40px;font-size:14px;border-bottom:1px solid rgb(235,235,235)}
.power-con  li{line-height:40px;font-size:14px;border-bottom:1px solid rgb(235,235,235)}
.window-center  li{line-height:40px;font-size:14px;border-bottom:1px solid rgb(235,235,235)}
.pr-left{width:50%;    padding-left: 15px;}
.pr-left img{vertical-align:baseline;    margin-right: 6px;}
.pr-center{width:20%;    text-align: center;}
.pr-right{width:30%;}
.progressBar{width:90px;height:7px;border:1px solid rgb(178,178,178);background:white;line-height: 0px;margin-top: 17px;    float: right;margin-right: 24px;}
.bar-content{height:5px;background:rgb(204,204,204);border-right:1px solid rgb(178,178,178);}

.bar-first .progressBar{border:1px solid rgb(194,78,0);}
.bar-first .pr-center{color:rgb(255,102,0)}
.bar-first .bar-content{background:rgb(255,102,0);border-right:1px solid rgb(194,78,0);}

.bar-second .progressBar{border:1px solid rgb(204,144,0);}
.bar-second .bar-content{background:rgb(255,180,0);border-right:1px solid rgb(204,144,0);}
.bar-second .pr-center{color:rgb(255,180,0)}

.bar-third .progressBar{border:1px solid rgb(152,161,2);}
.bar-third .bar-content{background:rgb(194,206,0);border-right:1px solid rgb(152,161,2);}
.bar-third .pr-center{color:rgb(194,206,0)}

.serial-con{position:relative;}
.serial-con .serial-num{position:absolute;bottom:2px;left:10px;    font-size: 12px; color: white;}
.serial-con .common-num{background:rgb(204,204,204);width:20px;height:20px;line-height:20px;color:black;text-align:center;    border-radius: 50%;margin-right: 10px;margin-left: 2px;}
.more{text-align:right;}
.more a{color:rgb(0,91,172);font-size:14px;text-align:center;}

#cover{background:black;display:none;position:absolute;left:0; top:0;z-index:2;opacity:0.5;width:100%;height:100%;}

#prMore{position: fixed;width: 100%;z-index: 3; display: none; height: 100%;    left: 0;top: 0;}
#powerMore{position: fixed;width: 100%;z-index: 3; display: none; height: 100%;    left: 0;top: 0;}
.window-center{width:50%;left:25%;top:15%;background: white;     position: absolute;}