@CHARSET "UTF-8";
.app-content-full-map {
        background: rgb(240,243,244) !important;
     color: black !important; 
}
.dimention {
    -webkit-appearance: none;
    background: rgb(78,208,208) url(../../../images/wp/dataAnalysis/arrow-down.png) no-repeat;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 30px;
    width: 90px;
    padding-left: 10px;
    color: white;
    background-position: 90%;
}