.automaticReport {
    .header {
        background-color: #fff;
        line-height: 50px;
        padding: 0.5em 2em;
        margin: 10px 0;
        min-height: 60px;
        button {
            line-height: 1.5em;
            margin-right: 1em;
            background-color: transparent;
            border: 1px solid #666;
            color: #666;
            border-radius: 2px;
            font-size: 14px;
            padding: 5px 10px;
            &.green {
                background-color: #1cb09a;
                color: #fff;
                border-color: #1cb09a;
            }
            &.active {
                background-color: #1cb09a;
                color: #fff;
                border-color: #1cb09a;
                &::after {
                    content: '√';
                    display: inline-block;
                }
            }
        }
        input {
            line-height: 1.5;
            border: none;
            background-color: transparent;
            text-align: center;
            font-size: 20px;
            width: 110px;
        }
    }
    .content-body {
        background-color: #fff;
        padding: 1em 2em;
        .tab {
            button {
                line-height: 1.5em;
                margin-right: 1em;
                background-color: transparent;
                border: 1px solid #666;
                color: #666;
                border-radius: 2px;
                font-size: 14px;
                padding: 5px 10px;
                &.active {
                    background-color: #1cb09a;
                    color: #fff;
                    border-color: #1cb09a;
                    &::after {
                        content: '√';
                        display: inline-block;
                    }
                }
            }
        }
    }
}