.nav-border> li.active > a, nav-border > li.active > a:hover, .nav-border > li.active > a:focus {
    color: #54a886;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1D9E6A!important;
    /* border-bottom-color: #9C4040 !important; */
}
.nav-border > li:hover > a, .nav-border > li.active > a, nav-border > li.active > a:hover {
    border-color: transparent;
    border-bottom: 2px solid #1D9E6A!important;
    color: #54a886;
}
.btn-next{
    width: 158px;
    padding: 10px 0px;
    border-radius: 0px;
    color: #ffffff !important;
    background-color: #54a886;
    border-color: #54a886;
    }
.btn-prev{
    width: 158px;
    padding: 10px 0px;
    border-radius: 0px;
    color: #333 !important;
    background-color: #fff;
    border-color:#999;
    }
 .navbar-header-black{
   /*  background-color: #2f383d; */
    padding-bottom: 30px;
    margin-top: -1px;
    }
    
.hover-action {
  display: none!important;
}
.input-style{
    margin-right: 5px;
    border: 1px solid #d0d0d0;
    border-radius: 0px;
    color: #999;
    height: 42px;
    padding-left: 5px;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: none;
}
.hr-top{
  width: 100px;
    border-bottom: 1px solid #005bac;
    margin: 4px;
}
.b-b-black5{
  border-bottom:1px solid #ccc;
}
.m-n-t-xxxs {
  margin-top: -2px;
}
.m-n{
  margin:0px;
}
.m-t-xxlg{
  margin-top: 100px;
}
.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-l {
  margin-left: 15px;
}
.m-l-llg{
  margin-left:150px
}
.p-r-llg{
 padding-right:150px
}
.m-t-md {
  margin-top: 20px;
}
.m-l-md {
  margin-left: 20px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-xxl {
  margin-top: 50px;
}
/**
  字体大小
*/
.font-big-1{
  font-size:30px;
}
.font-big-32{
  font-size:32px;
}
.font-big-36{
  font-size:36px;
}
.font-big-34{
  font-size:34px;
}
.font-big-26{
  font-size:26px;
}
.font-big{
  font-size:24px;
}
.font-h{
  font-size:22px;
}
.font-h1{
  font-size:20px;
}
.font-h2{
  font-size:18px;
}
.font-h3{
  font-size:16px;
}
.font-h4{
  font-size:14px;
}
.font-h5{
  font-size:13px;
}
.font-h6{
  font-size:12px;
}

/**
  字体颜色
*/
.href-blur{
  color:#005bac!important;
}
.data-orange {
  color : #f27136!important;
}
.black-5{
  color:#ccc
}
.black-4{
  color:#999
}
.bg-black-4{
  background-color:#999
}
.bg-blue-1{
  background-color:#4696cf;
}
.bg-blue-2{
  background-color:#41b4c0;
}
.black-3{
  color:#707070
}
.black-2{
  color:#666
}
.bg-black-2{
  background-color:#666
}
.bg-black-05{
  background-color:rgba(0, 0, 0,0.05);
}
.black-1{
  color:#333
}
.blue-1{
  color:#1e3e50
}
.blue-2{
  color:#4f5f6f
}
.blue-3{
  color:#4488BB
}
.blue-4{
  color:#3E6792
}
.blue-5{
  color:#4696cf
}
.blue-6{
  color:#41b4c0
}
.white-1{
  color:#ffffff
}
.white-2{
  color:#f0f3f6
}
.grey{
  color:#98a6ad
}
.no-padder{
  padding: 0px!important;
}
.input-tr td input{
     width: 100%;
    height: 100%;
    border: 0px;
    color: #333;
    text-align: center;
}
.input-tr td select{
    width: 100%;
    height: 100%;
    border: 0px;
    padding-left: 2px;
    color: #333;
    text-align: center;
}
.size-lg{
  width: 200px!important;
}
/**
背景颜色
*/
.btn-green{
    color: #fff;
    background-color: #54a886;
    border-color: #ccc;
    border-radius: 0px;
    height: 42px;
    border: 0px;
    width: 116px;
}
.btn-blue{
    color: #fff;
    background-color: #005bac;
    border-color: #ccc;
    border-radius: 0px;
    height: 42px;
    border: 0px;
    width: 200px;
    padding: 10px
}
.btn-green:hover, .btn-green:focus, .btn-green.focus {
    color: #fff;
    text-decoration: none;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue.focus {
    color: #fff;
    text-decoration: none;
}
.bg-blue{
  background-color: #0099f2;
}
.bg-green{
  background-color: #31d6cb;
}
.bg-black{
   background-color: #2f383d;
}

.wrapper-xs {
  padding: 5px;
}
.wrapper-sm {
  padding: 10px;
}
.wrapper {
  padding: 15px;
}
.wrapper-md {
  padding: 20px;
}
.wrapper-lg {
  padding: 30px;
}
.a-cur-poi{
  cursor: pointer;
}
.bg-blue a:hover,.bg-blue a:focus {
    color: #fff;
    text-decoration: none;
}
/* .form-control {
    height: 46px;
    color: #555;
    border: 1px solid #d0d0d0;
    border-radius: 0px;
} */
.dotted-hr{
  border-bottom:1px dotted  #ccc;
}
.table-station>thead>tr>th {
    font-size: 16px;
    color:#54a886;
    text-align: center;
    border: 0px;
}
.table-station>tbody>tr>td {
    font-size: 14px;
    color:#999;
}
.table-bordered {
    border: transparent;
}
.areaNav{
      border-bottom: transparent;
}
.areaNav>li>a {
    margin-right: 5px;
    border: 1px solid #d0d0d0;
    border-radius: 0px;
    width: 110px;
    text-align: center;
    color: #999;
}
.areaNav>li.active>a{
    color: #005bac!important;
    cursor: default;
    background-color: #fff!important;
    border: 1px solid #005bac!important;
}
.areaNav>li>a:hover{
    color: #005bac;
    cursor: default;
    background-color: #fff;
    border: 1px solid #005bac;
}
.areaNav>li>a:focus{
    color: #005bac;
    cursor: default;
    background-color: #fff;
    border: 1px solid #005bac;
}
