.listView {
    .switch-power {
        .left-block {
            margin-left: 50px;
            span {
                cursor: pointer;
                margin-right: 20px;
                &.active {
                    color: #06BEBD;
                    border-bottom: 2px solid #06BEBD;
                }
            }
        }
        .right-block{
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .content {
        padding: 0 20px;
        min-height: 400px;
        overflow: auto;
        div.NBQID {
            margin-top: 20px;
            cursor: pointer;
            span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }
        }
    }
}