.issueTaskList{
    .page-padding{padding:0 20px 20px;}
    .background-white{background:white;}
    .p-t-15{padding-top:15px;}
    .m-b-10{margin-bottom:10px;}
    .m-r-10{margin-right:10px;}
    .m-t-20{margin-top:20px;}
    .m-r-20{margin-right:20px;}
    .m-b-20{margin-bottom:20px;}
    .task-title{color:#23b7e5;cursor:pointer;}
    .search-condition-con{
        .search-label{font-size:14px;margin:0 5px 0 20px;}
        .calendar input{height:30px;width:140px;}
    }
    
    .form-con{
        padding:20px 50px;
        .line-height35{line-height: 35px;}
        label{margin:0 20px 0 0;}
        label.control-label{margin:0}
        .form-line{margin-bottom:30px;
        }
        .label-left{
            border-right:1px solid #9f9c9c;padding:0px 20px 0 0;font-size:16px;line-height:16px;display:inline-block;width:85%;text-align:right;
        }
        .dropdown {padding-right: 5px;}
        .right-line{margin:0 0 8px 0;    min-height: 35px;
            .input-distance{width:70px;    height: 32px;}
            .person-item{width:32%;margin-right:1%;margin-bottom:10px;}
            .task-title-input{width:100%;height:34px;line-height:34px;}
            .task-describe{width:100%;height:112px;}
            .money-input{height:30px;width:80px;}
            .time-line{margin-bottom:10px;    line-height: 30px;}
            .upload-img-con{
                display:inline-block;width:50px;height:50px;margin: 0 20px 10px 0;position: relative;
                img{width:50px;height:50px;}
                .delete-flag{position:absolute;width:10px;height:10px;border-radius:50%;background:#FF6262top:-5px;right:-5px;color: white;
                    text-align: center;line-height: 4px;font-size: 26px;cursor:pointer;}
            }
            .delete-line-btn{text-align:center;font-size:28px;color:#1caf9a;    cursor: pointer;}
            .fileimgsize-sm {border: 1px solid #cfdadd;width: 50px;height: 50px;margin-right: 10px;float: left;
                input[type="file"] { position: absolute; width: 100px;height: 95px;opacity: 0;}
            }

        }
        .calendar input{height:30px;}
        .map-con{height:210px;}
        .cancel-btn{display:inline-block;padding: 10px 20px;margin-right: 55px;background:rgb(128,128,128);color:white;}
        .release-btn{display:inline-block;padding:10px 20px;background:rgb(34,174,153);color:white;}
        .i-checks input:checked + i {border-color: #1caf9a;}
        .i-checks input:checked + i:before {background-color: #1caf9a;}
        .required{color:#FF6262margin-right:5px;}
        .upload-img{width: 40%;margin: 2% 10%;cursor:pointer;}
        .history-content-item{    border-bottom: 1px solid rgb(200,200,200);}
        .disable-bonus-btn{background: rgb(200,200,200);}
    }
    .bigImg{display:none;position: fixed;background: rgba(0,0,0,0.8);top: 0;bottom: 0;left: 0;right: 0;z-index: 9999;text-align: center;padding-top: 100px;}
}