.abnormalShutdown {
  //异常停机part
  .abnormalCon {
    .select-con {
      font-size: 14px;
      height: 24px;
      select {
        background: rgba(13, 52, 99, 1);
        border: 1px solid rgba(95, 146, 200, 1);
        opacity: 0.7;
        border-radius: 2px;
        margin-left: 5px;
        margin-right: 40px;
      }
      .calendar input {
        background: rgba(13, 52, 99, 1);
        border: 1px solid rgba(95, 146, 200, 1);
        opacity: 0.7;
        border-radius: 2px;
        text-align: center;
      }
      .calendar span.clearable {
        z-index: 1;
      }
      .search {
        width: 48px;
        height: 25px;
        background: rgba(28, 175, 154, 1);
        border-radius: 2px;
        text-align: center;
        line-height: 25px;
        float: right;
        cursor: pointer;
      }
      .startTimeUp-con {
        display: inline-block;
        vertical-align: top;
        span {
          vertical-align: middle;
        }
        .startTimeUp {
          float: right;
          width: 200px;
          height: 22px;
          line-height: 25px;
          background: rgba(13, 52, 99, 1);
          border: 1px solid rgba(95, 146, 200, 1);
          opacity: 0.7;
          border-radius: 2px;
          text-align: center;
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
    .alertModal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 100;
      overflow: hidden;
      transition: height 0.2s ease 0s;
      .st-con {
        width: 400px;
        height: 240px;
        padding: 20px 20px 5px 20px;
        background: #396faa;
        position: absolute;
        top: 135px;
        left: 440px;
        font-size: 14px;
        .radioBox {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px;
          .ce-box {
            margin-right: 30px;
            position: relative;
            line-height: 18px;
        }
          input[type="radio"] {
            opacity: 0;
            margin-left: -16px;
            position: absolute;
            left: 16px;
          }
          input[type="radio"] + label::before {
            content: "";
            background: rgba(22, 54, 95, 0.27);
            border: 1px solid rgba(20, 54, 98, 1);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            float: left;
            margin-right: 6px;
            margin-top: 1px;
          }
          input[type="radio"]:checked + label::before {
            background: rgba(37, 195, 152, 1);
            border: 1px solid rgba(37, 195, 152, 1);
            background-clip: content-box;
            padding: 2px;
          }
        }
        .choose-box{
          width: 100%;
          height: 150px;
          padding: 15px;
          background: rgba(36, 81, 130, 1);
          position: relative;
          .calendar input {
            background: rgba(13, 52, 99, 1);
            border: 1px solid rgba(95, 146, 200, 1);
            opacity: 0.7;
            border-radius: 2px;
            text-align: center;
          }
          .calendar span.clearable {
            z-index: 1;
          }
          .copyTime {
            position: absolute;
            top: 15px;
            left: 15px;
            .start {
              width: 130px;
              height: 24px;
              margin-left: 5px;
              background: #0d3463;
              border: 1px solid #5f92c8;
              opacity: 0.7;
              border-radius: 2px;
              text-align: center;
              display: inline-block;
            }
            .end {
              width: 130px;
              height: 24px;
              background: #0d3463;
              border: 1px solid #5f92c8;
              opacity: 0.7;
              border-radius: 2px;
              text-align: center;
              display: inline-block;
            }
          }
        }
      }
    }
    .btn-con {
      margin-top: 20px;
      font-size: 14px;
      overflow: hidden;
      .add-con {
        color: #25d5bc;
        float: left;
        margin-top: 4px;
        cursor: pointer;
      }
      .rz-con {
        float: left;
        margin-left: 400px;
        cursor: pointer;
        .rz-icon-con {
          display: inline-block;
          width: 28px;
          height: 28px;
          background: rgba(41, 162, 239, 1);
          border-radius: 50%;
          text-align: center;
          line-height: 28px;
          margin-right: 4px;
        }
      }
    }
    .table-con {
      margin-top: 5px;
      position: relative;
      .add-line-con {
        width: 100%;
        height: 54px;
        background: rgba(40, 82, 123, 1);
        position: absolute;
        top: 50px;
        z-index: 1;
        font-size: 14px;
        table {
          height: 100%;
          td {
            // padding: 10px;
            // padding-top: 7px;
            // padding-bottom: 7px;
          }
        }
        .calendar span.clearable {
          line-height: 36px !important;
        }
        select {
          width: 90%;
          height: 40px;
          background: rgba(20, 53, 90, 1);
          border: none;
          display: block;
          margin: auto;
        }
        input {
          width: 90%;
          height: 40px;
          background: rgba(20, 53, 90, 1);
          border: none;
          text-align: center;
          display: block;
          margin: auto;
        }
        .button-edit {
          width: 45%;
          height: 28px;
          line-height: 28px;
          cursor: pointer;
          background: rgba(41, 189, 180, 1);
          text-align: center;
          float: left;
        }
        .button-cancel {
          width: 45%;
          height: 28px;
          line-height: 28px;
          cursor: pointer;
          background: rgba(48, 86, 134, 1);
          border: 1px solid rgba(22, 55, 97, 1);
          text-align: center;
          float: right;
        }
      }
      .headTable {
        width: 100%;
        & thead tr td {
          padding: 15px 0px;
          background: #0d2d4f;
          text-align: center;
          border-right: 1px solid #092139;
          font-size: 14px;
        }
        & thead tr td:first-child {
          border-left: 0;
        }

        & thead tr td:last-child {
          border-right: 0;
        }
      }
      .noData {
        background-color: rgba(18, 66, 113, 0.3);
        &:hover {
          background-color: #1b4980;
        }
      }
      .listTable {
        margin: auto;
        width: 100%;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 14px;
        color: rgb(178, 216, 255);
        & tbody tr {
          background-color: rgba(18, 66, 113, 0.3);
          &:hover {
            background-color: #1b4980;
          }
          .trEditStatus {
            border: 0;
            background: #28527b;
            // padding: 7px 10px;
          }
          td {
            cursor: pointer;
            text-align: center;
            border: 1px solid #0a1c2c;
            padding: 14px 10px;
            border-bottom: 0;
            &:first-child {
              border-left: 0;
            }
            &:last-child {
              border-right: 0;
            }
            .button-edit {
              width: 47px;
              height: 28px;
              line-height: 28px;
              cursor: pointer;
              background: rgba(41, 189, 180, 1);
              float: left;
            }
            .button-cancel {
              width: 47px;
              height: 28px;
              line-height: 28px;
              cursor: pointer;
              background: rgba(48, 86, 134, 1);
              border: 1px solid rgba(22, 55, 97, 1);
              float: right;
            }
          }
        }
        .calendar span.clearable {
          line-height: 36px !important;
        }
        select {
          width: 100%;
          height: 100%;
          background: rgba(20, 53, 90, 1);
          border: none;
        }
        input {
          width: 100%;
          height: 100%;
          background: rgba(20, 53, 90, 1);
          border: none;
          text-align: center;
        }
      }
    }
  }
}

.listTable-con::-webkit-scrollbar {
  width: 0px;
  position: absolute;
  left: 100px;
}

.listTable-con::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(33, 80, 136, 1);
  border-radius: 5px;
  display: none;
}

.listTable-con::-webkit-scrollbar-track {
  display: none;
}
