.accountManagement{
    ul,p{
        padding:0;
        margin:0;
    }
    .poiter{
        cursor: pointer;
    }
    .button-span{
        display: inline-block;
        padding:6px 15px;
        margin-right:10px;
        background:#1caf9a;
        border-radius: 2px;
    }
    .flex{
        display:flex;
    }
    .flex_1{
        flex:1;
    }
    .left-menu{
        background-image: linear-gradient(25deg, rgba(48, 38, 111, 0.92) 0%, rgba(4, 64, 197, 0.3) 40%, rgba(113, 148, 173, 0.21) 120%); 
        .menu-btn{
            height:30px;line-height: 30px;margin:20px auto;width:190px;cursor: pointer;
            list-style: none;
            background:rgba(23,62,106,0.8);
            border:1px solid rgba(45,99,159,1);
            color:rgba(255,255,255,0.8);
            text-align:center;
            &.active-btn{
                background:rgba(28,175,154,0.8);
                border:1px solid rgba(45,99,159,1);
            }
            a{
                display: block;
                color: rgba(255,255,255,0.8);
                position: relative;
            }
            .device-number{
                position: absolute;
                right:20px;
            }
        }
    }
    .block-area{
        margin: 20px 40px;
        .excel-line{
            border-bottom: 1px dashed rgba(255,255,255,0.4);
            padding-bottom: 10px;
            select{
                background: rgba(13, 44, 76,1);
            }
            .download{
                color:rgba(28,175,154,1);
                cursor: pointer;
                margin-left:30px;
            }
        }
    }
    .my-table {
        .fixed-left {
            background-color: #14385c;
        }
        tr {
            cursor: pointer;
            &.tr-click{
                &:hover {
                    background-color: #1b4980;
                }
                &.active {
                    background-color: #1b4980;
                }
            }
        }
        th {
            cursor: default;
            height: 50px;
            font-size: 16px;
            color: rgba(255, 255, 255, .7);
            background-color: #0d2d4f;
            font-weight: normal;
            text-align: center !important;
            border: 1px solid #092139;
            border-bottom: none;
            border-top: none;
            &:nth-child(2) {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
        td {
            height: 50px;
            color: rgb(178, 216, 255);
            border: 1px solid #092139;
            position: relative;
            font-size: 12px;
            background-color: rgba(18,66,113,0.3);
            &:nth-child(2) {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    .alertModal {
        position: fixed;
        top: 0; 
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: hidden;
        transition: height 0.2s ease 0s;
    }
}