.actionPlanSummary {
    background: url("../../images/enrichment/public/dataReportSummaryBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    .themeBlocks {
        padding: 0 30px;
        >div {
            margin-top: 30px;
            height: 160px;
            >div {
                width: 32%;
                height: 100%;
                float: left;
                background: rgba(22, 62, 103, .5);
                margin-right: 2%;
                cursor: pointer;
                transition: all 0.1s linear;
                &.shipmentInspectionManagement {
                    margin-right: 0;
                }
                &.active {
                    height: 175px;
                    border: 1px solid #04d9df;
                    border-bottom: none;
                }
            }
        }
    }
    div.detail-content {
        padding: 0 30px;
        box-sizing: border-box;
        margin-top: 15px; // width: 100%;
        overflow: hidden;
        position: relative;
        >div.detail-container {
            min-width: 1289px;
            height: 100%;
            overflow: hidden; // background-color: pink;
            div.themeDetail {
                padding-bottom: 10px;
                height: 100%; // min-width: 100%;
                overflow-x: hidden;
                >div {
                    padding: 0 30px;
                    height: 100%;
                    >div {
                        height: 100%;
                        background: rgba(22, 62, 103, .6);
                        border: 1px solid #04d9df;
                        position: relative;
                        .tabs {
                            position: absolute;
                            width: 20px;
                            left: -21px;
                            top: 0;
                            >div {
                                margin-bottom: 10px;
                                text-align: center;
                                cursor: pointer;
                                background: rgba(22, 62, 103, .6);
                                &.active {
                                    background-color: #04d9df;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}