.analyzeSummary {
    background: url("../../images/enrichment/public/dataReportSummaryBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    .a-content {
        margin: 15px 0;
        overflow: hidden;
        position: relative;
        .goIndex {
            position: absolute;
            left: -20px;
            top: 50%;
            width: 50px;
            height: 50px;
            margin-top: -2px;
            cursor: pointer;
            @-webkit-keyframes quananimate {
                0% {
                    opacity: 0.4;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0.4;
                }
            }
            div.quan-big{
                position: absolute;
                left: 0.5px;
                top: 0.5px;
                width: 50px;
                height: 50px;
                background-color: rgba(43, 87, 165, 0.5);
                border-radius: 50%;
                animation: quananimate 2.5s linear infinite;
                -moz-animation: quananimate 1s linear infinite;
                -webkit-animation: quananimate 1.5s linear infinite;
                -o-animation: quananimate 1s linear infinite;
            }
            div.quan-small{
                position: absolute;
                left: 7.5px;
                top: 7.5px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: rgba(54, 105, 191, .7);
                animation: quananimate 2.5s linear infinite;
                -moz-animation: quananimate 1s linear infinite;
                -webkit-animation: quananimate 1.5s linear infinite;
                -o-animation: quananimate 1s linear infinite;
            }
            div.qiu {
                width: 26px;
                height: 26px;
                margin: 12px auto;
                border-radius: 50%;
                background-image: linear-gradient( 90deg, rgb(32, 105, 189) 0%, rgb(126, 107, 198) 100%);
                background-image: -moz-linear-gradient( 90deg, rgb(32, 105, 189) 0%, rgb(126, 107, 198) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(32, 105, 189) 0%, rgb(126, 107, 198) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(32, 105, 189) 0%, rgb(126, 107, 198) 100%);
                box-shadow: 0px 2px 4px 0px rgba(44, 100, 159, 0.65), inset -0.105px 1.997px 8px 0px rgba(255, 255, 255, 0.52), inset 0px -2px 5px 0px rgba(105, 157, 243, 0.004);
            }
            
        }
        >div.a-container {
            margin: 0 auto;
            position: relative;
            background-color: rgba(18, 66, 113, .3);
            background-image: linear-gradient( -119deg, rgba(110, 125, 139, .05) 0%, rgba(100, 140, 183, .05) 36%, rgba(255, 0, 114, .05) 86%);
            background-image: -moz-linear-gradient( -119deg, rgba(110, 125, 139, .05) 0%, rgba(100, 140, 183, .05) 36%, rgba(255, 0, 114, .05) 86%);
            background-image: -webkit-linear-gradient( -119deg, rgba(110, 125, 139, .05) 0%, rgba(100, 140, 183, .05) 36%, rgba(255, 0, 114, .05) 86%);
            background-image: -ms-linear-gradient( -119deg, rgba(110, 125, 139, .05) 0%, rgba(100, 140, 183, .05) 36%, rgba(255, 0, 114, .05) 86%);
            .themeDetail {
                overflow-x: hidden;
                overflow-y: hidden;
                .my-table {
                    .fixed-left {
                        background-color: #14385c;
                    }
                    tr.tr-click:hover {
                        background-color: #1b4980;
                    }
                    th {
                        height: 45px;
                        font-size: 16px;
                        color: rgba(255, 255, 255, .7);
                        background-color: rgba(22, 46, 71, .8);
                        border-bottom: none;
                        font-weight: normal;
                        text-align: center !important;
                        border: 1px solid rgb(50, 89, 134);
                        border-bottom: none;
                    }
                    td {
                        height: 50px;
                        font-size: 16px;
                        color: rgb(178, 216, 255);
                        border: 1px solid rgb(50, 89, 134);
                        padding: 0 1em;
                        position: relative;
                    }
                }
                .analyze-header {
                    height: 43px;
                    .analyze-title {
                        position: absolute;
                        line-height: 43px;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 43px; // text-align: center;
                        font-size: 18px;
                        z-index: 11;
                        pointer-events: none;
                        span b {
                            font-size: 16px;
                            color: #fff;
                            font-weight: normal;
                        }
                        .title {
                            display: inline-block;
                            position: relative;
                            width: 300px;
                            left: 50%;
                            top: 0;
                            margin-left: -150px;
                            text-align: center;
                        }
                    }
                }
                .analyze-theme-conclusion {
                    // line-height: 50px;
                    font-size: 12px;
                    color: rgba(255, 255, 255, .7);
                    span {
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                }
            }
            .theme-default {
                transition: 0.2s margin-left linear;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}