.analyzeSummary {
    background: url("../../images/enrichment/public/dataReportSummaryBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    .a-content {
        margin: 15px 0;
        overflow: hidden;
        position: relative;
        .goIndex {
            position: absolute;
            left: -20px;
            top: 50%;
            width: 50px;
            height: 50px;
            margin-top: -2px;
            z-index: 99;
            cursor: pointer;
            @-webkit-keyframes quananimate {
                0% {
                    opacity: 0.3;
                }
                50% {
                    opacity: 1;
                }
                60% {
                    opacity: 1;
                }
                100% {
                    opacity: 0.2;
                }
            }
            div.quan-big {
                position: absolute;
                left: 0.5px;
                top: 0.5px;
                width: 60px;
                height: 60px;
                background-color: rgba(98, 106, 195, .5);
                border-radius: 50%;
                animation: quananimate 2s linear infinite;
                -moz-animation: quananimate 2s linear infinite;
                -webkit-animation: quananimate 2s linear infinite;
                -o-animation: quananimate 2s linear infinite;
            }
            div.quan-small {
                position: absolute;
                left: 7.5px;
                top: 7.5px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: rgba(98, 106, 195, .5);
                animation: quananimate 2s linear infinite;
                -moz-animation: quananimate 2s linear infinite;
                -webkit-animation: quananimate 2s linear infinite;
                -o-animation: quananimate 2s linear infinite;
            }
            div.qiu {
                width: 36px;
                height: 36px;
                margin: 12px;
                border-radius: 50%;
                position: relative;
                background-image: linear-gradient( 90deg, rgb(32, 105, 189) 0%, rgb(126, 107, 198) 100%);
                background-image: -moz-linear-gradient( 90deg, rgb(32, 105, 189) 0%, rgb(126, 107, 198) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(32, 105, 189) 0%, rgb(126, 107, 198) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(32, 105, 189) 0%, rgb(126, 107, 198) 100%);
                box-shadow: 0px 2px 4px 0px rgba(44, 100, 159, 0.65), inset -0.105px 1.997px 8px 0px rgba(255, 255, 255, 0.52), inset 0px -2px 5px 0px rgba(105, 157, 243, 0.004);
            }
        }
        >div.a-container {
            margin: 0 auto;
            position: relative;
            background-color: rgba(18, 66, 113, .3);
            background-image: linear-gradient( -119deg, rgba(110, 125, 139, .2) 0%, rgba(100, 140, 183, .05) 16%, rgba(100, 140, 183, .05) 76%, rgba(255, 0, 114, .2) 100%);
            .themeDetail {
                overflow-x: hidden;
                overflow-y: hidden;
                .my-table {
                    .fixed-left {
                        background-color: #14385c;
                    }
                    tr.tr-click:hover {
                        background-color: #1b4980;
                    }
                    th {
                        height: 45px;
                        font-size: 16px;
                        color: rgba(255, 255, 255, .7);
                        background-color: rgba(22, 46, 71, .8);
                        border-bottom: none;
                        font-weight: normal;
                        text-align: center !important;
                        border: 1px solid rgb(50, 89, 134);
                        border-bottom: none;
                    }
                    td {
                        height: 50px;
                        font-size: 16px;
                        color: rgb(178, 216, 255);
                        border: 1px solid rgb(50, 89, 134);
                        padding: 0 1em;
                        position: relative;
                    }
                }
                .analyze-header {
                    height: 43px;
                    .analyze-title {
                        position: absolute;
                        line-height: 43px;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 43px; // text-align: center;
                        font-size: 18px;
                        z-index: 11;
                        pointer-events: none;
                        span b {
                            font-size: 16px;
                            color: #fff;
                            font-weight: normal;
                        }
                        .title {
                            display: inline-block;
                            position: relative;
                            width: 300px;
                            left: 50%;
                            top: 0;
                            margin-left: -150px;
                            text-align: center;
                        }
                    }
                }
                .analyze-theme-conclusion {
                    // line-height: 50px;
                    font-size: 12px;
                    color: rgba(255, 255, 255, .7);
                    span {
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                } // 设备故障
                .equipmentFailure {
                    .classify {
                        overflow: hidden;
                        .item {
                            width: 31%;
                            box-sizing: border-box;
                            height: 100%;
                            background-color: #124271;
                            .item-header {
                                height: 28px;
                                line-height: 28px; // opacity: 0.3;
                                background: linear-gradient(389deg, rgba(14, 51, 93, 1), rgba(14, 54, 109, 1), rgba(35, 36, 91, 1));
                            }
                            .item-table-list {
                                height: calc(100% - 28px);
                                background: linear-gradient(209deg, rgba(14, 51, 93, 1), rgba(14, 54, 109, 1), rgba(35, 36, 91, 1));
                                padding: 10px;
                                .my-table th {
                                    height: 33px;
                                }
                                .my-table td {
                                    height: 33px;
                                }
                            }
                        }
                    }
                    .combination {
                        height: 100px;
                        position: relative;
                        .consequence {
                            margin: 0 auto;
                            text-align: center;
                            vertical-align: middle;
                            width: 139px;
                            height: 42px;
                            border: 1px solid #40B7AB;
                            border-radius: 21px;
                            font-size: 16px;
                            color: #FEFEFF;
                            transform: translateY(29px);
                            line-height: 40px;
                            &.active {
                                box-shadow: 0 0 20px 2px #40B7AB;
                                cursor: pointer;
                                >div {
                                    box-shadow: 0 0 20px 2px #40B7AB inset;
                                    border-radius: 21px;
                                }
                            }
                        }
                        .line {
                            background-color: #40B7AB;
                            position: absolute;
                            margin: 0;
                            &.line-x {
                                transition: all 0.2s linear 0.2s;
                                height: 1px;
                                width: calc(34.5% - 69px);
                                &.active {
                                    transition: all 0.2s linear;
                                }
                            }
                            &:nth-child(5) {
                                top: 45px;
                                left: 15.5%;
                            }
                            &:nth-child(2) {
                                top: 55px;
                                left: 15.5%;
                            }
                            &:nth-child(3) {
                                top: 45px;
                                right: 15.5%;
                            }
                            &:nth-child(4) {
                                top: 55px;
                                right: 15.5%;
                            }
                            /************/
                            &.line-y {
                                transition: all 0.2s linear;
                                width: 1px;
                                height: 45px;
                                &.active {
                                    transition: all 0.2s linear 0.2s;
                                }
                            }
                            &:nth-child(6) {
                                top: 0px;
                                left: 15.5%;
                            }
                            &:nth-child(7) {
                                bottom: 0px;
                                left: 15.5%;
                            }
                            &:nth-child(8) {
                                top: 0px;
                                right: 15.5%;
                            }
                            &:nth-child(9) {
                                bottom: 0px;
                                right: 15.5%;
                            }
                            &:nth-child(10) {
                                height: 29px;
                                top: 0px;
                                right: 50%;
                                &.active {
                                    transition: all 0.2s linear;
                                }
                            }
                            &:nth-child(11) {
                                height: 29px;
                                bottom: 0px;
                                right: 50%;
                                &.active {
                                    transition: all 0.2s linear;
                                }
                            }
                        }
                    }
                }
            }
            .theme-default {
                transition: 0.2s margin-left linear;
                position: absolute;
                left: 0;
                top: 0;
                .ball4 {
                    float: right;
                    width: 100px;
                    margin-right: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    .ball {
                        cursor: pointer;
                        text-align: center;
                        line-height: 100px;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        font-size: 16px;
                        margin: 0 auto;
                        transition: all 0.5s ease 0s;
                        &:nth-child(1) {
                            box-shadow: 0 0 40px 10px rgba(65, 194, 185, 1) inset;
                        }
                        &:nth-child(2) {
                            box-shadow: 0 0 40px 10px rgba(61, 193, 226, 1) inset;
                        }
                        &:nth-child(3) {
                            box-shadow: 0 0 40px 10px rgba(148, 143, 96, 1) inset;
                        }
                        &:nth-child(4) {
                            box-shadow: 0 0 40px 10px rgba(126, 116, 203, 1) inset;
                            &:hover+div {
                                width: 75px;
                            }
                        }
                        &:hover {
                            width: 150px;
                            height: 150px;
                            line-height: 150px;
                            transform: translateX(-16.666%);
                        }
                    }
                    .shadow {
                        height: 0px;
                        box-shadow: 0 0 27px 5px rgba(126, 116, 203, 1);
                        width: 50px;
                        margin-top: 20px;
                        margin-bottom: 50px;
                        transition: all 0.5s ease 0s;
                    }
                }
            }
        }
    }
}