.businessManagement{
    .dashed-b-line{
        border-bottom: 1px dashed rgba(255,255,255,0.3s);
    }
    .font14{
        font-size:14px;
    }
    .font12{
        font-size:12px;
    }
    .title-line{
        font-weight: bold;
        line-height: 50px;
    }
    .edit-btn{
        position: absolute;
        right:20px;
        padding: 6px 15px;
        border-radius: 2px;
        background-color: #1caf9a;
        border-color: #1caf9a;
    }
    .info-line{
        line-height: 40px;
        color: rgba(255,255,255,0.8);
        padding-left:60px;
        .value-bind{
            color:rgba(255,255,255,0.5);
            margin-left: 10px;
        }
    }
    .alertModal {
        position: fixed;
        top: 0; // bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: hidden;
        transition: height 0.2s ease 0s;
    }
}