.configureSystemModules {
    color: white;
    .flex {
        display: flex;
    }
    .flex_1 {
        flex: 1;
    }
    .new-btn {
        display: inline-block;
        background: rgb(27, 172, 146);
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: white;
        font-size: 29px;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: sub;
        cursor: pointer;
    }
    .my-table {
        // background-color: rgba(18,66,113,0.3);
        .fixed-left {
            background-color: #14385c;
        }
        tr {
            cursor: pointer;
            &.tr-click {
                &:hover {
                    background-color: #1b4980;
                }
                &.active {
                    background-color: #1b4980;
                }
            }
        }
        th {
            cursor: default;
            height: 50px;
            font-size: 16px;
            color: rgba(255, 255, 255, .7);
            background-color: #0d2d4f;
            font-weight: normal;
            text-align: center !important;
            border: 1px solid #092139;
            border-bottom: none;
            border-top: none;
            &:nth-child(1) {
                // border-right: none;
                // border-left: none; // padding-right: 2em;
                // text-align: center;
            }
            &:nth-child(2) {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
        td {
            height: 50px;
            color: rgb(178, 216, 255);
            border: 1px solid #092139;
            padding: 0 2em;
            position: relative;
            font-size: 12px;
            background-color: rgba(18, 66, 113, 0.3);
            &:nth-child(1) {
                // border-right: none;
                // border-left: none; // padding-right: 2em;
                // text-align: center;
            }
            &:nth-child(2) {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    .alertModal {
        position: fixed;
        top: 0; // bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: hidden;
        transition: height 0.2s ease 0s;
    }
    .addBtnModal {
        >div {
            width: 400px;
            background: #fff;
            border-radius: 5px;
            margin: 100px auto 0;
            color: #333;
            header {
                text-align: center;
                background-color: #e6e9ec;
                font-size: 18px;
                padding: 5px 0;
            }
            section {
                padding: 10px 10px;
                .my-table {
                    background-color: transparent;
                    table {
                        background-color: transparent;
                        tr {
                            background-color: transparent;
                            &:hover {
                                background-color: transparent;
                            }
                            th {
                                background-color: transparent;
                                color: #333;
                                border: 1px solid #ccc;
                                border-bottom: none;
                                height: 30px;
                            }
                            td {
                                color: #333;
                                background-color: transparent;
                                border: 1px solid #ccc;
                                padding: 0 10px;
                                height: 30px;
                            }
                        }
                    }
                }
                label {
                    display: block;
                    padding: 5px;
                    span {
                        display: inline-block;
                        width: 50px;
                    }
                    span.required {
                        width: 20px;
                        color: red;
                        font-size: 20px;
                        vertical-align: top;
                    }
                    input {
                        width: 280px;
                    }
                }
            }
            footer {
                padding: 10px;
                text-align: center;
                button {
                    padding: 5px 15px;
                    margin: 0 10px;
                    &.add {
                        background: #29bdb4;
                        border: 1px solid #29bdb4;
                        color: #fff;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}