.dataReportSummary {
    background: url("../../images/enrichment/public/dataReportSummaryBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    .e-container {
        margin: 0 30px;
    }
    .themeTabs {
        margin-top: 20px;
        >div {
            float: left;
            .theme {
                cursor: pointer;
                overflow: hidden;
                &.active {
                    // background: rgba(49, 126, 203, 0.4);
                    box-shadow: 0px 0px 6px rgb(255, 255, 255);
                    .theme-title {
                        background: rgba(70, 118, 167, .4);
                    }
                }
                .theme-title {
                    line-height: 25px;
                    height: 25px;
                    font-size: 14px;
                    text-align: center;
                    background: -webkit-linear-gradient(left, #305c8a, #52678f);
                    background: -o-linear-gradient(right, #305c8a, #52678f);
                    background: -moz-linear-gradient(right, #305c8a, #52678f);
                    background: linear-gradient(to right, #305c8a, #52678f);
                    &.disabled {
                        cursor: no-drop;
                        color: rgba(255, 255, 255, 0.6);
                        background: #3d5165;
                    }
                }
            }
        }
    }
    .detail-content {
        // background-color: rgba(49, 126, 203, 0.4);
        overflow: hidden;
        margin-top: 10px;
        position: relative;
        >div.theme-detail-content {
            min-width: 1289px;
            height: 100%;
            overflow: hidden;
            .themeDetail {
                min-width: 1306px;
            }
        }
    }
    .d-container {
        // margin: 10px 30px 0;
        .tabs {
            margin-bottom: 10px;
            button {
                min-width: 90px;
                padding: 0 1em;
                height: 25px;
                border: none;
                margin-right: 10px;
                background: -webkit-linear-gradient(left, #305c8a, #52678f);
                background: -o-linear-gradient(right, #305c8a, #52678f);
                background: -moz-linear-gradient(right, #305c8a, #52678f);
                background: linear-gradient(to right, #305c8a, #52678f);
                opacity: 0.7;
                &.active {
                    background: #163e67;
                    color: #3be1d5;
                    padding-bottom: 10px;
                    height: 35px;
                    margin-bottom: -10px;
                    opacity: 1;
                }
            }
        }
        .sub-container {
            background-color: rgba(22, 62, 103, .9);
            padding: 0 20px;
            .handles {
                // margin-top: 1px;
                i,
                a {
                    cursor: pointer;
                    margin-left: 30px;
                    line-height: 22px;
                    color: #1cb09a;
                    &.gray {
                        color: transparent;
                        border: 2px solid rgba(255, 255, 255, .5);
                        background-color: transparent;
                    }
                }
                i {
                    background-color: #3BABAD;
                    border: 2px solid #3BABAD;
                    border-radius: 3px;
                    color: #fff;
                }
            }
            #automaticReportView {
                overflow: auto;
                background-color: #fff;
                min-height: 300px;
                margin-top: 10px;
                form {
                    display: none;
                }
                table {
                    min-width: 100%;
                    td {
                        height: 50px;
                        border-color: #ccc;
                        color: #2d2d2d;
                        word-break: keep-all;
                        white-space: nowrap;
                        overflow: hidden;
                        padding: 1em;
                    }
                    tr:first-child {
                        background-color: #dee0e2;
                        td {
                            color: #28b1a7;
                            font-weight: 700;
                            height: 60px;
                        }
                    }
                }
            }
            .shift {
                height: 35px;
                background-color: #dee0e2;
                button {
                    min-width: 90px;
                    padding: 0 1em;
                    height: 35px;
                    border: none;
                    color: #2d2d2d;
                    background: transparent;
                    &.active {
                        background: #fff;
                        color: #3be1d5;
                    }
                }
            }
        }
    }
    .themeFreedom {
        .handle {
            position: relative;
            height: 50px;
            line-height: 50px;
            .search {
                float: left;
                input {
                    background-color: #163C63;
                    width: 150px;
                    height: 26px;
                    border: 1px solid #335781;
                }
                i {
                    // margin-left: -30px;
                    color: rgba(255, 255, 255, 0.6);
                    position: relative;
                    left: -30px;
                    z-index: 3;
                    font-size: 18px;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
            .btn1 {
                cursor: pointer;
                i {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #8F70BC;
                    color: #fff;
                    vertical-align: middle;
                    margin-right: 5px;
                    font-size: 18px;
                }
                float: left;
                margin-left: 28%;
            }
            .btn2 {
                cursor: pointer;
                i {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #1CB09A;
                    color: #fff;
                    vertical-align: middle;
                    margin-right: 5px;
                    font-size: 16px;
                }
                float: left;
                margin-left: 80px;
            }
            .my-paging {
                float: right;
            }
        }
        .freedom-content-lis {
            background-color: rgba(22, 62, 103, .9);
            padding: 15px;
            >div.list-content {
                overflow: hidden;
                height: 100%;
                background: #fff;
                table {
                    min-width: 100%;
                    td {
                        height: 50px;
                        border: 1px solid #ccc;
                        color: #2d2d2d;
                        word-break: keep-all;
                        white-space: nowrap;
                        overflow: hidden;
                        padding: 1em;
                    }
                    thead {
                        background-color: #dee0e2;
                        th {
                            border: 1px solid #ccc;
                            border-bottom: none;
                            color: #28b1a7;
                            font-weight: 700;
                            height: 60px;
                        }
                    }
                }
            }
        }
        .slide-down.subscribe-report {
            height: 0;
            overflow: hidden;
            &.pop-up {
                height: 100vh;
                padding-top: 10vh;
                .close-pop-up {
                    position: absolute;
                    top: calc(10vh - 0.5em);
                    right: calc((100% - 1000px) / 2 - 0.8em);
                    font-size: 40px;
                    cursor: pointer;
                    font-style: normal;
                }
            }
            article.box {
                width: 1000px;
                height: 80vh;
                margin: 0 auto;
                background-color: #fff;
                header {
                    height: 50px;
                    line-height: 50px;
                    background-color: #F1F1F1;
                    text-align: center;
                    color: #333;
                    font-size: 20px;
                }
                section {
                    padding: 20px;
                    .my-table {
                        table {
                            min-width: 100%;
                            td {
                                height: 30px;
                                border: 1px solid #f1f1f1;
                                color: #2d2d2d;
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow: hidden;
                                padding: 1em;
                                .subscribe {
                                    display: inline-block;
                                    border: 1px solid #ccc;
                                    border-radius: 2px;
                                    color: transparent;
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                    cursor: pointer;
                                    margin-right: 0.5em;
                                    vertical-align: middle;
                                    &+span {
                                        cursor: pointer;
                                    }
                                    &.enable {
                                        background-color: #3690FE;
                                        border-color: #3690FE;
                                        color: #fff;
                                        &+span {
                                            color: #3690FE;
                                        }
                                    }
                                }
                            }
                            thead {
                                background-color: #f1f1f1;
                                th {
                                    border: 1px solid #f1f1f1;
                                    border-bottom: none;
                                    color: #28b1a7;
                                    font-weight: 700;
                                    height: 40px;
                                    text-align: center !important;
                                }
                            }
                        }
                    }
                }
                footer {
                    text-align: center;
                    button {
                        width: 100px;
                        height: 40px;
                        background-color: #f1f1f1;
                        color: #333;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        font-size: 20px;
                    }
                }
            }
        }
        .slide-down.manage-template {
            height: 0;
            overflow: hidden;
            &.pop-up {
                height: 100vh;
                padding-top: 10vh;
                .close-pop-up {
                    position: absolute;
                    top: calc(10vh - 0.5em);
                    right: calc((100% - 1000px) / 2 - 0.8em);
                    font-size: 40px;
                    cursor: pointer;
                    font-style: normal;
                }
            }
            article.box {
                width: 1000px;
                height: 80vh;
                margin: 0 auto;
                background-color: #fff;
                overflow: hidden;
                header {
                    height: 50px;
                    line-height: 50px;
                    background-color: #F1F1F1;
                    text-align: center;
                    color: #333;
                    font-size: 20px;
                }
                section {
                    width: calc(100% - 40px);
                    margin: 20px auto;
                    height: calc(80vh - 150px); // overflow-y: scroll;
                    overflow: hidden;
                    position: relative;
                    >table {
                        min-width: 100%;
                        position: absolute;
                        min-width: auto;
                        width: 100%;
                        table-layout: fixed;
                        thead {
                            background-color: #f1f1f1;
                            th {
                                border: 1px solid #f1f1f1;
                                border-bottom: none;
                                color: #28b1a7;
                                font-weight: 700;
                                height: 40px;
                                text-align: center;
                                &:first-child {
                                    width: 200px;
                                }
                                &:last-child {
                                    width: 250px;
                                }
                            }
                        }
                    }
                    .scroll {
                        width: calc(100% + 18px);
                        height: 100%;
                        padding-top: 40px;
                        overflow-y: scroll;
                        table {
                            width: 100%;
                            table-layout: fixed;
                            border-right: 2px solid #f1f1f1;
                            td {
                                height: 40px;
                                border: 1px solid #f1f1f1;
                                color: #2d2d2d;
                                word-break: keep-all;
                                white-space: nowrap;
                                overflow: hidden;
                                padding: 0 1em;
                                &:first-child {
                                    width: 200px;
                                }
                                &:last-child {
                                    width: 250px;
                                }
                                .subscribe {
                                    display: inline-block;
                                    border: 1px solid #ccc;
                                    border-radius: 2px;
                                    color: transparent;
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                    cursor: pointer;
                                    margin-right: 0.5em;
                                    vertical-align: middle;
                                    &+span {
                                        cursor: pointer;
                                    }
                                    &.enable {
                                        background-color: #3690FE;
                                        border-color: #3690FE;
                                        color: #fff;
                                        &+span {
                                            color: #3690FE;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                footer {
                    text-align: center;
                    button {
                        width: 100px;
                        height: 40px;
                        background-color: #f1f1f1;
                        color: #333;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        font-size: 20px;
                        margin: 0 20px;
                        &:last-child {
                            background-color: #2ABDB5;
                            color: #fff;
                            border-color: #2ABDB5;
                        }
                    }
                }
            }
        }
    }
}