.dataExport {
    .dataExport-heander {
        padding: 10px 30px;
        position: relative;

        .refresh,
        .create-download-task {
            float: left;
            cursor: pointer;

            span.icon {
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                vertical-align: middle;
                line-height: 28px;
                text-align: center;
                font-size: 18px;
            }
        }

        .create-download-task {

            span.icon {
                background-color: #8f70b9;
            }
        }

        .refresh {
            margin-left: 50%;
            position: relative;
            left: -60px;

            span.icon {
                background-color: #1caf9a;
            }
        }


        select,
        input {
            width: 150px;
            border: 1px solid #31639f;
            background-color: rgba(23, 62, 106, 0.8);
            color: rgba(255, 255, 255, 0.8);
            padding: 5px 0;
        }

        button {
            background: #15AB97;
            border: none;
            border-radius: 2px;
            padding: 5px 10px;

            &.serach-btn {
                float: left; // border: 1px solid #31639f;
                color: white;
                background: #1cb09a;
            }
        }
    }

    .data-export-list {
        margin: 0 30px;
        background: linear-gradient(209deg, rgba(14, 51, 93, 1), rgba(14, 54, 109, 1), rgba(35, 36, 91, 1));

        .my-table {
            .fixed-left {
                background-color: #14385c;
            }

            th {
                cursor: default;
                height: 50px;
                font-size: 16px;
                color: rgba(255, 255, 255, .7);
                background-color: rgb(11, 36, 60);
                font-weight: normal;
                text-align: center !important;
                border: 1px solid #092139;
                border-bottom: none;
                border-top: none;

                &:nth-child(1) {
                    border-right: none;
                    border-left: none; // padding-right: 2em;
                    text-align: center;
                }

                &:nth-child(2) {
                    border-left: none;
                }

                &:last-child {
                    border-right: none;
                }
            }

            td {
                height: 50px;
                color: rgb(178, 216, 255);
                border: 1px solid #092139;
                padding: 0 1em;
                position: relative;
                font-size: 14px;

                &:nth-child(1) {
                    border-left: none; // padding-right: 2em;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    .slide-down {
        >div>div {
            color: #fff;
            margin-bottom: 1em;

            select,
            input[type=text] {
                width: 150px;
                border: 1px solid #31639f;
                background-color: rgba(23, 62, 106, 0.8);
                color: rgba(255, 255, 255, 0.8);
                padding: 5px 0;
            }

            input.search-input {
                position: relative;
                width: 150px;
                left: -40px;
                background-color: #396FAB;
                padding: 2px 5px;
                border-radius: 5px;

                &::-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    border-radius: 2px;
                }

                &::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    border-radius: 2px;
                }
            }

            label {
                display: inline-block;
                width: 152px;
                cursor: pointer;
            }

            .i-checks i {
                border: 1px solid rgba(255, 255, 255, .5);
            }

            button {
                background: #15AB97;
                border: none;
                border-radius: 2px;
                padding: 8px 15px;
                color: #fff;
            }
        }
    }
}