.dataReportSummary {
    background: url("../../images/enrichment/public/dataReportSummaryBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    .d-container {
        margin: 10px 30px 0;
        .tabs {
            margin-bottom: 10px;
            button {
                min-width: 90px;
                padding: 0 1em;
                height: 25px;
                border: none;
                background: -webkit-linear-gradient(left, #305c8a, #52678f);
                background: -o-linear-gradient(right, #305c8a, #52678f);
                background: -moz-linear-gradient(right, #305c8a, #52678f);
                background: linear-gradient(to right, #305c8a, #52678f);
                &.active {
                    background: #163e67;
                    color: #3be1d5;
                    padding-bottom: 10px;
                    height: 35px;
                    margin-bottom: -10px;
                }
            }
        }
        .sub-container {
            background-color: rgba(22, 62, 103, .9);
            padding: 0 20px;
            .handles {
                margin-top: 1px;
                i,
                a {
                    cursor: pointer;
                    font-size: 28px;
                    margin-left: 30px;
                    line-height: 45px;
                    color: #1cb09a;
                    &.gray {
                        color: rgba(255, 255, 255, .5)
                    }
                }
            }
            #automaticReportView {
                overflow: auto;
                background-color: #fff;
                min-height: 300px;
                form {
                    display: none;
                }
                table {
                    min-width: 100%;
                    td {
                        height: 50px;
                        border-color: #ccc;
                        color: #2d2d2d;
                    }
                    tr:first-child {
                        background-color: #dee0e2;
                        td {
                            color: #28b1a7;
                            font-weight: 700;
                            height: 60px;
                        }
                    }
                }
            }
            .shift {
                height: 35px;
                background-color: #dee0e2;
                button {
                    min-width: 90px;
                    padding: 0 1em;
                    height: 35px;
                    border: none;
                    color: #2d2d2d;
                    background: transparent;
                    &.active {
                        background: #fff;
                        color: #3be1d5;
                    }
                }
            }
        }
    }
}