.departmentManagement{
    .poiter{
        cursor: pointer;
    }
    .button-span{
        display: inline-block;
        padding:6px 15px;
        margin-right:10px;
        background:#1caf9a;
        border-radius: 2px;
    }
    .department-tree{
        background-image: linear-gradient(25deg, rgba(48, 38, 111, 0.92) 0%, rgba(4, 64, 197, 0.3) 40%, rgba(113, 148, 173, 0.21) 120%);
        width:380px;border-radius: 4px;
    }
    .tree_manage li > a > span.button.ico_open {
        width: 18px;
        height: 18px;
        background: white;
        border-radius: 50%;
        border-left: none;
        border-right: none;
        border-top: none;
        border: 4px solid rgba(0, 0, 0, 0.7);
    }
    .tree_manage li > a > span.button.ico_close {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: white;
        border-left: none;
        border-right: none;
        border-top: none;
        border: 4px solid rgba(0, 0, 0, 0.7);
    }
    .tree_manage li > a > span.button.ico_docu {
        background-color: #c9d1d6;
    }
    .tree_manage li > a.curSelectedNode {
        background-color: transparent;
        color: #06bebe;
    }
    .main-content-right{
        .dep-input{
            background:transparent;
        }
        .activeInput{
            border:1px solid rgba(255,255,255,0.7)
        }
        .disableInput{
            border:none;
        }
    }
    
}