.efficientOperationSummary {
    background: url("../../images/enrichment/public/dataReportSummaryBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    .e-container {
        margin: 0 30px;
    }
    .themeTabs {
        margin-top: 10px;
        >div {
            float: left;
            .theme {
                cursor: pointer;
                overflow: hidden;
                &.active {
                    background: rgba(49, 126, 203, 0.4);
                    box-shadow: 0px 0px 6px rgb(255, 255, 255);
                }
                .theme-title {
                    line-height: 25px;
                    height: 25px;
                    font-size: 14px;
                    text-align: center;
                    background: -webkit-linear-gradient(left, #305c8a, #52678f);
                    background: -o-linear-gradient(right, #305c8a, #52678f);
                    background: -moz-linear-gradient(right, #305c8a, #52678f);
                    background: linear-gradient(to right, #305c8a, #52678f);
                }
            }
        }
    }
    .detail-content {
        background-color: rgba(49, 126, 203, 0.4);
    }
}