#equipmentPopUp.equipmentPopUp,
#equipmentPopUpWp.equipmentPopUp {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all 0.2s linear;
    z-index: 100;
    padding-top: calc((100vh - 570px) / 2);

    &.display {
        height: 100vh;
    }

    &.equipmentFullScreen {
        padding-top: 0;

        .view-container {
            width: 100%;

            .view {
                height: 100vh;
            }
        }

        .close-pop-up {
            font-size: 35px;
            right: 0;
            top: 45%;
        }

        .fullScreenBtn {
            right: 2px;
            top: 52%;
            border-radius: 2px;
            font-size: 25px;

            // &::before {
            //     content: '退出';
            //     display: block;
            // }
        }
    }

    .my-table {
        .fixed-left {
            background-color: #1F456A;
        }

        th {
            height: 30px;
            font-size: 16px;
            color: rgba(255, 255, 255, .7);
            background-color: rgba(22, 46, 71, 0.8);
            border-bottom: none;
            font-weight: normal;
            text-align: center !important;
            border: 1px solid #325986;
            border-bottom: none;
        }

        td {
            height: 40px;
            font-size: 16px;
            color: rgb(178, 216, 255);
            border: 1px solid #325986;
            padding: 0 1em;
            position: relative;
        }
    }

    .view-container {
        width: 1200px; // height: 80vh;
        background: #1F456A;
        margin: 0 auto;

        .view {
            // height: 100%;
            min-height: 570px;
            padding-bottom: 20px;

            >div {
                .header {
                    height: 40px;
                    background-color: #2D608F;
                    line-height: 40px;
                    padding: 0 40px;
                    // overflow: hidden;
                    position: relative;
                    z-index: 9;

                    .search-dvice {
                        position: relative;

                        >i {
                            position: absolute;
                            top: 10px;
                            line-height: 21px;
                            pointer-events: none;

                            &.icon-iconfontsousuokuangsousuo {
                                left: 5px;
                                // color: #447AAB;
                            }

                            &.icon-fangkai {
                                left: 130px;
                            }
                        }

                        input {
                            line-height: 1.5em;
                            background-color: transparent;
                            width: 150px;
                            border: 1px solid #447AAB;
                            padding: 0 2em;
                            float: left;
                            margin-top: 10px;
                        }

                        .device-list {
                            position: absolute;
                            width: 150px;
                            background-color: #1F456A;
                            top: 30px;
                            left: 0;
                            color: #fff;
                            overflow: hidden;
                            border: 1px solid #447AAB;

                            ul {
                                width: 167px;
                                height: 300px;
                                overflow-y: scroll;
                                padding: 0;
                                margin: 0;
                                list-style: none;

                                li {
                                    padding: 0 1em;
                                    line-height: 2em;
                                    cursor: pointer;

                                    &:hover {
                                        background-color: #2D608F;
                                    }
                                }
                            }
                        }

                    }

                    .tabs {
                        width: max-content;
                        margin: 0 auto;

                        button {
                            height: 25px;
                            line-height: 23px;
                            vertical-align: middle;
                            background-color: transparent;
                            border: 1px solid currentColor;
                            color: rgba(255, 255, 255, .8);
                            border-radius: 2px;

                            &.active {
                                background-color: #1CAF98;
                                border-color: #1CAF98;
                            }
                        }
                    }
                }

                .more-info {
                    position: relative;
                    z-index: 2;

                    .content {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 0;
                        overflow: hidden;
                        background-color: #31618D;
                        transition: height 0.2s linear;
                        border-top: none;
                        padding: 0 40px;
                        box-shadow: none;

                        &.display {
                            border-top: 1px solid rgba(0, 0, 0, .3);
                            box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
                            height: 180px;
                        }

                        .info-top {
                            height: 50px;
                            line-height: 50px;
                            border-bottom: 1px solid rgba(0, 0, 0, .3);
                            overflow: hidden;

                            span {
                                margin-right: 40px;
                            }
                        }

                        .info-middle {
                            height: 50px;
                            line-height: 50px;

                            span {
                                margin-right: 50px;
                            }
                        }

                        .info-bottom {
                            .item {
                                width: 18%;
                                height: 60px;
                                background-color: #265179;
                                margin-right: 2.5%;
                                float: left;
                                position: relative;
                                padding: 10px 0px 10px 60px;

                                i {
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    font-size: 30px;
                                    margin-left: 10px;
                                    color: #69A3D7;
                                }

                                &:last-child {
                                    margin-right: 0;
                                }

                                span {
                                    line-height: 20px;

                                    &:nth-of-type(1)::after {
                                        content: '\A';
                                        white-space: pre;
                                    }
                                }
                            }
                        }
                    }
                }

                .eq-content {
                    padding: 10px 40px;

                    &.real-time {
                        .real-time-status-info {
                            margin-top: 10px;
                            line-height: 2em;

                            >div {
                                width: 20%;
                                float: left;

                                span:first-child {
                                    opacity: 0.8;
                                }
                            }
                        }

                        .charts {
                            // padding-top: 1px;
                            margin-top: 15px;

                            .chart-box {
                                position: relative;
                                width: 30%;
                                height: 200px;
                                float: left; // margin-top: 20px;
                                background-color: #2D608F;
                                margin-right: 5%;
                                padding-top: 1px;
                                text-align: center;

                                &.bigInverter {
                                    height: 180px;

                                    >div {
                                        margin-top: -10px;
                                    }
                                }

                                &.meter {
                                    height: 290px;
                                }

                                &:last-child {
                                    margin-right: 0;
                                }

                                &.innerText {
                                    height: 60px;
                                    line-height: 30px;
                                }

                                &.super-chart {
                                    height: 80px;

                                    >.top {
                                        margin-top: 0;

                                        .text {
                                            padding: 5px 10px 5px 20px;
                                            text-align: left;

                                            .name {}

                                            .value {
                                                font-size: 20px;
                                            }
                                        }

                                        .chart {
                                            width: calc(100% - 100px);
                                            padding: 15px 20px;

                                            .outer {
                                                width: 100%;
                                                height: 15px;
                                                border: 1px solid rgba(255, 255, 255, .2);
                                                position: relative;

                                                .mark {
                                                    position: absolute;
                                                    height: 25px;
                                                    width: 4px;
                                                    background-color: rgba(#fff, .7);
                                                    border-radius: 2px;
                                                    left: 0;
                                                    top: -5px;
                                                    margin-left: -2px;
                                                    transition: all 0.5s ease;
                                                }

                                                .left {
                                                    width: 20px;
                                                    height: 100%;
                                                    float: left;
                                                    background-color: rgba(#5CDD66, .5);
                                                    line-height: 13px;
                                                    text-align: left;
                                                    color: rgba(255, 255, 255, .8);
                                                }

                                                .center {
                                                    width: 20px;
                                                    height: 100%;
                                                    float: left;
                                                    opacity: 0.5;
                                                    background-color: #6CE1FE;
                                                }

                                                .right {
                                                    width: 20px;
                                                    height: 100%;
                                                    float: right;
                                                    background-color: rgba(#FE5415, .5);
                                                    line-height: 13px;
                                                    text-align: right;
                                                    color: rgba(255, 255, 255, .8);
                                                }
                                            }
                                        }
                                    }
                                }

                                >div {
                                    height: 100%;
                                    position: relative;
                                    margin-top: 30px;
                                    overflow: hidden;
                                }

                                >div.demandAdd {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    // z-index: 9;
                                    height: 20px;
                                    padding-left: 18px;

                                    span {
                                        float: left;
                                        word-break: break-all;
                                        display: inline-block;
                                        width: 100px;
                                    }
                                }
                            }
                        }

                        .superInverterDc {
                            margin-top: 1em;

                            span {
                                display: inline-block;
                                width: 5.67%;
                                line-height: 2em;
                            }
                        }

                        .group-strings {
                            margin-top: 20px;

                            >div {
                                width: 10%;
                                float: left;
                                margin-top: 10px;

                                span {
                                    display: inline-block;
                                    height: 25px;

                                    &:first-child {
                                        width: 25px;
                                        line-height: 25px;
                                        text-align: center;
                                        background-color: #447AAB;
                                        font-size: 16px;
                                    }

                                    &:last-child {
                                        font-size: 18px;
                                        border-bottom: 1px solid #447AAB;
                                        padding: 0 20px;
                                    }
                                }
                            }
                        }
                    }

                    &.history-data {
                        .handel {
                            input {
                                background-color: #173551;
                                border: 1px solid #31628A;
                                border-radius: 2px;
                                height: 25px;
                            }

                            button {
                                height: 25px;
                                background-color: #1BA893;
                                border: none;
                                border-radius: 2px;
                                box-sizing: border-box;
                                vertical-align: bottom;
                                margin-left: 10px;
                            }
                        }

                        .list-viwe {
                            margin-top: 20px;

                            .my-table {
                                table {
                                    width: 2840px;
                                }
                            }
                        }
                    }

                    &.fault-list {
                        .list-viwe {
                            margin-top: 20px;
                        }
                    }

                    &.wp-real-time {
                        .handle {
                            position: static;
                            padding: 0;

                            span {
                                margin-left: 20px;
                                color: #39E8CE;
                                cursor: pointer;

                                &:first-child {
                                    margin-left: 0;
                                    color: #58A4E4;
                                    visibility: hidden;
                                }

                                &.active {
                                    color: #fff;
                                }
                            }
                        }

                        .top-block {
                            margin-top: 10px;

                            .fault-list {
                                width: 400px;
                                height: 240px;
                                float: left;
                                background-color: #2F608C;
                            }

                            .chart {
                                width: 710px;
                                height: 240px;
                                float: right;
                                background-color: #2F608C;

                                &.full {
                                    width: calc(100% - 410px);
                                }
                            }
                        }

                        .bottom-block {
                            padding: 10px 0;
                            margin-top: 10px;
                            overflow: hidden;
                            background-color: #2F608C;
                            position: relative;

                            .list {
                                width: calc(100% + 18px);
                                max-height: 200px;
                                overflow: auto;

                                &.full {
                                    max-height: calc(100vh - 360px);
                                }

                                .stateInfo {
                                    width: 170px; // background-color: pink;
                                    height: max-content;
                                    padding-left: 5px;

                                    >div {
                                        position: absolute;
                                        top: 10px;
                                        left: 5px;
                                    }
                                }

                                .realInfo {
                                    width: calc(100% - 170px);

                                    span {
                                        display: inline-block;
                                        width: 224px;
                                        margin-right: 1em;
                                        line-height: 1.5;
                                        height: 1.5em;
                                        overflow: hidden;
                                        border-left: 1px solid #aaa;
                                        padding-left: 1em;
                                        position: relative;

                                        b {
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                        }
                                    }
                                }
                            }
                        }

                        .svn-block {
                            background-color: #fff;
                            height: 500px;
                            overflow: auto;

                            &.full {
                                height: calc(100vh - 100px);
                            }
                        }

                        .tower {
                            margin-top: 20px;
                            position: relative;
                            overflow: hidden;
                            padding-bottom: 20px;

                            &::before {
                                content: '';
                                width: 70px;
                                height: 100%;
                                border: 3px solid #333;
                                position: absolute;
                                left: 70px;
                                top: 0;
                                transform: perspective(180) rotateX(18deg) scaleY(1) translateY(-.1em);
                            }

                            .tower-table {
                                width: 100%;

                                tr {

                                    th,
                                    td {
                                        height: 50px;
                                        font-size: 16px;
                                        text-align: center;

                                        &:nth-child(1) {
                                            text-align: left;
                                            padding-left: 0.5em;
                                        }
                                    }
                                }

                                thead tr th {
                                    opacity: 0.6;
                                    font-weight: normal;
                                }

                                tbody tr {
                                    border-bottom: 3px solid #333333;
                                }
                            }
                        }

                        .charts {
                            .chart-box {
                                height: 68px;
                                line-height: 60px;
                                text-align: left;

                                &:nth-child(1) {
                                    .iconfont {
                                        background-color: #A67FFF;
                                    }

                                    .val {
                                        color: #A67FFF;
                                    }
                                }

                                &:nth-child(2) {
                                    .iconfont {
                                        background-color: #F4BA4A;
                                    }

                                    .val {
                                        color: #F4BA4A;
                                    }
                                }

                                &:nth-child(3) {
                                    .iconfont {
                                        background-color: #45E3A2;
                                    }

                                    .val {
                                        color: #45E3A2;
                                    }
                                }

                                .iconfont {
                                    font-size: 30px;
                                    width: 55px;
                                    height: 55px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    line-height: 60px;
                                    text-align: center;
                                    margin-left: 1em;
                                    vertical-align: middle;
                                }

                                .name {
                                    font-size: 16px;
                                    opacity: 0.6;
                                    margin-left: 20px;
                                }

                                .val {
                                    font-size: 30px;
                                    vertical-align: sub;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .close-pop-up {
        font-size: 30px;
        position: absolute;
        right: calc((100vw - 1200px) / 2 - 35px);
        top: calc((100vh - 570px) / 2 - 15px);
        padding: 0 10px;
        cursor: pointer;
    }

    .fullScreenBtn {
        font-size: 20px;
        position: absolute;
        right: calc((100vw - 1200px) / 2 - 30px);
        top: calc((100vh - 570px) / 2 + 25px);
        padding: 0 3px;
        cursor: pointer;
        // color: #1CAF98;
        // border: 1px solid;
    }
}