//设备日志part
.recordCon {
  .toptip {
    height: 50px;
    line-height: 50px;
    background: rgba(31, 80, 128, 0.6);
    padding-left: 20px;
  }
  .tool-con {
    background: rgba(18, 66, 113, 0.6);
    padding: 10px 20px 6px;
    .select-con {
      font-size: 14px;
      height: 24px;
      select {
        background: rgba(13, 52, 99, 1);
        border: 1px solid rgba(95, 146, 200, 1);
        opacity: 0.7;
        border-radius: 2px;
        margin-left: 5px;
        margin-right: 40px;
      }
      .calendar input {
        background: rgba(13, 52, 99, 1);
        border: 1px solid rgba(95, 146, 200, 1);
        opacity: 0.7;
        border-radius: 2px;
        text-align: center;
      }
      .search {
        width: 48px;
        height: 25px;
        background: rgba(28, 175, 154, 1);
        border-radius: 2px;
        text-align: center;
        line-height: 25px;
        float: right;
        cursor: pointer;
      }
    }
    .btn-con {
      margin-top: 20px;
      font-size: 14px;
      overflow: hidden;
      .add-con {
        color: #25d5bc;
        float: left;
        margin-top: 4px;
        cursor: pointer;
      }
    }
  }
  // 表格区域
  .my-table {
    .fixed-left {
      background-color: #14385c;
    }
    tr {
      cursor: pointer;
      &:hover {
        background-color: #1b4980;
      }
      &.tr-click {
        &.active {
          background-color: #1b4980;
        }
      }
    }
    th {
      cursor: default;
      height: 50px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
      background-color: #0d2d4f;
      font-weight: normal;
      text-align: center !important;
      border: 1px solid #092139;
      border-bottom: none;
      border-top: none;
      &:nth-child(1) {
        border-right: none;
        border-left: none;
        text-align: center;
      }
      &:nth-child(2) {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    td {
      height: 50px;
      color: rgb(178, 216, 255);
      border: 1px solid #092139;
      position: relative;
      font-size: 14px;
      background-color: rgba(18, 66, 113, 0.3);
      &:nth-child(1) {
        border-right: none;
        border-left: none;
        text-align: center;
      }
      &:nth-child(2) {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
  .startTimeUp-con {
    display: inline-block;
    vertical-align: top;
    span {
      vertical-align: middle;
    }
    .startTimeUp {
      float: right;
      width: 230px;
      height: 22px;
      line-height: 20px;
      background: rgba(13, 52, 99, 1);
      border: 1px solid rgba(95, 146, 200, 1);
      opacity: 0.7;
      border-radius: 2px;
      text-align: center;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  .alertModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    overflow: hidden;
    transition: height 0.2s ease 0s;
    .event-con {
      width: 861px;
      height: 504px;
      background: rgba(255, 255, 255, 1);
      border-radius: 2px;
      margin: auto;
      margin-top: 80px;
      .title {
        width: 100%;
        height: 46px;
        background: rgb(230, 233, 236);
        color: #000;
        text-align: center;
        line-height: 46px;
        font-size: 18px;
      }
      .name {
        font-size: 16px;
        color: rgba(129, 129, 129, 1);
        margin-right: 20px;
      }
      .inputArea {
        width: 628px;
        height: 202px;
        background: rgba(202, 202, 202, 0.27);
        border: 1px solid rgba(198, 198, 198, 1);
        border-radius: 2px;
        vertical-align: top;
        color: #000;
        font-size: 16px;
      }
      .btn-con {
          text-align: center;
          margin-top: 150px;
        .combtn {
          width: 93px;
          height: 44px;
          border-radius: 2px;
          font-size: 20px;
          text-align: center;
          line-height: 44px;
          display: inline-block;
          cursor: pointer;
        }
        .cancel {
          background: rgba(202, 202, 202, 0.27);
          border: 1px solid rgba(198, 198, 198, 1);
          margin-right: 25px;
          color: #535353;
        }
        .yes {
          background: rgba(41, 189, 180, 1);
        }
      }
    }
    .st-con {
      width: 400px;
      height: 240px;
      padding: 20px 20px 5px 20px;
      background: #396faa;
      position: absolute;
      top: 135px;
      left: 440px;
      font-size: 14px;
      .radioBox {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        .ce-box {
          margin-right: 30px;
          position: relative;
          line-height: 18px;
      }
        input[type="radio"] {
          opacity: 0;
          margin-left: -16px;
          position: absolute;
          left: 16px;
        }
        input[type="radio"] + label::before {
          content: "";
          background: rgba(22, 54, 95, 0.27);
          border: 1px solid rgba(20, 54, 98, 1);
          width: 15px;
          height: 15px;
          border-radius: 50%;
          float: left;
          margin-right: 6px;
          margin-top: 1px;
        }
        input[type="radio"]:checked + label::before {
          background: rgba(37, 195, 152, 1);
          border: 1px solid rgba(37, 195, 152, 1);
          background-clip: content-box;
          padding: 2px;
        }
      }
      .choose-box{
        width: 100%;
        height: 150px;
        padding: 15px;
        background: rgba(36, 81, 130, 1);
        position: relative;
        .calendar input {
          background: rgba(13, 52, 99, 1);
          border: 1px solid rgba(95, 146, 200, 1);
          opacity: 0.7;
          border-radius: 2px;
          text-align: center;
        }
        .calendar span.clearable {
          z-index: 1;
        }
        .copyTime {
          position: absolute;
          top: 15px;
          left: 15px;
          .start {
            width: 130px;
            height: 24px;
            margin-left: 5px;
            background: #0d3463;
            border: 1px solid #5f92c8;
            opacity: 0.7;
            border-radius: 2px;
            text-align: center;
            display: inline-block;
          }
          .end {
            width: 130px;
            height: 24px;
            background: #0d3463;
            border: 1px solid #5f92c8;
            opacity: 0.7;
            border-radius: 2px;
            text-align: center;
            display: inline-block;
          }
        }
      }
    }
  }
}
