  //设备日志part
  .recordCon {
    .toptip {
      height: 50px;
      line-height: 50px;
      background: rgba(31, 80, 128, 0.6);
      padding-left: 20px;
    }
    .tool-con {
      background: rgba(18, 66, 113, 0.6);
      padding: 10px 20px 6px;
      .select-con {
        font-size: 14px;
        select {
          background: rgba(13, 52, 99, 1);
          border: 1px solid rgba(95, 146, 200, 1);
          opacity: 0.7;
          border-radius: 2px;
          margin-left: 5px;
          margin-right: 40px;
        }
        .calendar input {
          background: rgba(13, 52, 99, 1);
          border: 1px solid rgba(95, 146, 200, 1);
          opacity: 0.7;
          border-radius: 2px;
          text-align: center;
        }
        .search {
          width: 48px;
          height: 25px;
          background: rgba(28, 175, 154, 1);
          border-radius: 2px;
          text-align: center;
          line-height: 25px;
          float: right;
        }
      }
      .btn-con {
        margin-top: 20px;
        font-size: 14px;
        overflow: hidden;
        .add-con {
          color: #25d5bc;
          float: left;
          margin-top: 4px;
          cursor: pointer;
        }
      }
    }
    // 表格区域
    .my-table {
      .fixed-left {
        background-color: #14385c;
      }
      tr {
        cursor: pointer;
        &.tr-click {
          &:hover {
            background-color: #1b4980;
          }
          &.active {
            background-color: #1b4980;
          }
        }
      }
      th {
        cursor: default;
        height: 50px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        background-color: #0d2d4f;
        font-weight: normal;
        text-align: center !important;
        border: 1px solid #092139;
        border-bottom: none;
        border-top: none;
        &:nth-child(1) {
          border-right: none;
          border-left: none;
          text-align: center;
        }
        &:nth-child(2) {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      td {
        height: 50px;
        color: rgb(178, 216, 255);
        border: 1px solid #092139;
        position: relative;
        font-size: 12px;
        background-color: rgba(18, 66, 113, 0.3);
        &:nth-child(1) {
          border-right: none;
          border-left: none;
          text-align: center;
        }
        &:nth-child(2) {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }