.equipmentPopUp {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all 0.2s linear;
    z-index: 99;
    padding-top: 10vh;
    &.display {
        height: 100vh;
    }
    .view-container {
        width: 1100px;
        height: 80vh;
        background: #1F456A;
        margin: 0 auto;
        .view {
            height: 100%;
            >div {
                .header {
                    height: 40px;
                    background-color: #2D608F;
                    line-height: 40px;
                    padding: 0 40px;
                    .tabs {
                        width: max-content;
                        margin: 0 auto;
                        button {
                            height: 25px;
                            line-height: 23px;
                            vertical-align: middle;
                            background-color: transparent;
                            border: 1px solid currentColor;
                            color: rgba(255, 255, 255, .8);
                            border-radius: 2px;
                            &.active {
                                background-color: #1CAF98;
                                border-color: #1CAF98;
                            }
                        }
                    }
                }
                .more-info {
                    position: relative;
                    .content {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 0;
                        overflow: hidden;
                        background-color: #31618D;
                        transition: height 0.2s linear;
                        border-top: none;
                        &.display {
                            border-top: 1px solid #000;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
    .close-pop-up {
        font-size: 30px;
        position: absolute;
        right: calc((100vw - 1100px) / 2 - 30px);
        top: calc(10vh - 10px);
        padding: 0 10px;
        cursor: pointer;
    }
}