.expertAnalysis{
    .expertAnalysis-header{
        padding: 20px 30px;
        select{
            min-width: 69px;
            max-width: 88px;
            border: 1px solid #31639f;
            background-color: rgba(23, 62, 106, 0.8);
            color: rgba(255, 255, 255, 0.8);
            padding: 5px 0;
        }
        button{
            width:48px;
            height:25px;
            background:rgba(34,180,140,1);
            border: none;
            border-radius: 2px;
        }
    }
}