.expertAnalysis{
    // 移除input在type="number"时的上下小箭头
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
        margin: 0; 
    }
    input[type="number"]{-moz-appearance:textfield;}

    input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgba(255, 255, 255, .5);
    }
    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgba(255,255,255, .5);
    }
    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgba(255,255,255, .5);
    }
    input::-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: rgba(255,255,255, .5);
    }

    .sort-wrap{
        height: 100%;
        float: right;
        position: relative;
        right: 230px;
        display: flex;
        display: -webkit-flex; /* Safari */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .expertAnalysis-header{
        padding: 20px 30px;
        padding-bottom: 10px;
        select{
            min-width: 69px;
            max-width: 88px;
            border: 1px solid #31639f;
            background-color: rgba(23, 62, 106, 0.8);
            color: rgba(255, 255, 255, 0.8);
            text-align-last: center;
            height: 30px;
            line-height: 30px;
        }
        button{
            width:48px;
            height:25px;
            background:rgba(34,180,140,1);
            border: none;
            border-radius: 2px;
        }
        .analysText{
            display: inline-block;
            width: 69px;
            height: 30px;
            text-align: center;
            vertical-align: top;
            cursor: pointer;
            border: 1px solid #31639f;
            background-color: rgba(23,62,106,0.8);
            color: rgba(255,255,255,0.8);
        }
    }

    .editLine-con {
        width: 130px;
        position: absolute;
        z-index: 11111;
        background: #fff;
        padding: 10px;
        font-size: 12px;
        .legend-name {
            color: #000;
            margin-bottom: 10px;
        }
        .lineColor {
            span {
                color: #000;
                margin-right: 5px;
            }
            input {
                width: 44px;
                height: 18px;
                vertical-align: bottom;
            }
        }
        .lineWidth {
            margin-top: 10px;
            span {
                color: #000;
                margin-right: 5px;
            }
            input {
                width: 44px;
                height: 18px;
                color: #000;
                text-align: center;
            }
        }
        .lineShow {
            margin-top: 6px;
            span {
                color: #000;
                margin-right: 5px;
            }
            .i-switch-lg {
                width: 44px;
                height: 20px;
                background: #1caf9a;
                & i:after {
                  width: 17px;
                }
            }
            .i-switch i:before {
                background-color: #f9f9f9;
                border: 1px solid #b9b9b9;
            }
            .i-switch-lg input:checked+i:after {
                margin-left: 26px;
            }
            .i-switch input:checked+i:before {
                left: 70%;
            }
        }
        .yes-con {
            overflow: hidden;
            span {
                display: block;
                float: right;
                margin-top: 15px;
                width: 44px;
                height: 17px;
                line-height: 17px;
                background: rgba(34,180,140,1);
                border-radius: 2px;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    .table-wrap{
        height: calc(100% - 140px);
        .table-con{
            height: 100%;
            display: flex;
            display: -webkit-flex; /* Safari */
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 10px;
            padding-bottom: 10px;
            .table1{
                width: 49.7%;
                height: 49.3%;
                margin-bottom: 9px;
                // background:linear-gradient(201deg,#648cb7, #3e226b);
                background: #143f79;
                transition: width 0.5s ease,height 0.5s ease;
                position: relative;
                &:hover{
                    box-shadow: rgba(34, 180, 140, 1) 0px 0px 5px 1px;//边框阴影
                }
                
            }
            .dblChart{
                width: 100%;
                height: 100%;
            }
            .dblChartF{
                width: 0;
                height: 0;
            }
        }
    }
    
    .activedChart{
        box-shadow: rgba(34, 180, 140, 1) 0px 0px 5px 1px;//边框阴影
    }
    
    .horizontalAxisModel{
        background:rgba(57,111,170,1);
        position: absolute;
        top: 135px;
        left: 440px;
    }
    .alertModal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: hidden;
        transition: height 0.2s ease 0s;
    }
}