.expertAnalysis{
    .expertAnalysis-header{
        padding: 20px 30px;
        select{
            min-width: 69px;
            max-width: 88px;
            border: 1px solid #31639f;
            background-color: rgba(23, 62, 106, 0.8);
            color: rgba(255, 255, 255, 0.8);
            padding: 5px 0;
        }
        button{
            width:48px;
            height:25px;
            background:rgba(34,180,140,1);
            border: none;
            border-radius: 2px;
        }
    }
    .table-con{
        padding: 0 30px;
        display: flex;
        display: -webkit-flex; /* Safari */
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .table1{
            width:630px;
            height:200px;
            margin-bottom: 30px;
            background:linear-gradient(209deg,rgba(110,125,139,1),rgba(100,140,183
            ,1),rgb(26, 3, 64));
            opacity:0.7;
            
        }
        .table1:hover{

        }
    }
    .horizontalAxisModel{
        width:619px;
        height:444px;
        background:rgba(57,111,170,1);
        position: absolute;
        top: 135px;
        left: 440px;
    }
    .alertModal {
        position: fixed;
        top: 0; // bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: hidden;
        transition: height 0.2s ease 0s;
    }
}