.enrich-nav{height:75px;padding:0 30px;border-bottom:1px solid #335781;background:rgba(13,44,76,0.7);position: relative;}
.monitoringSummary{
    background:url("../../images/enrichment/public/bg-starsky.jpg") no-repeat;    background-size: cover;
    .latest-update{margin:0 35px;font-size:14px;}
}