.monitoringSummary {
    background: url("../../images/enrichment/public/bg-starsky.jpg") no-repeat;
    background-size: cover;
    color: white;
    .switch-power-enrich {
        .latest-update {
            font-size: 14px;
            position: absolute;
            line-height: 74px;
            right: 300px;
        }
        .historical-record {
            position: absolute;
            right: 20px;
            top: 25px;
        }
    }
    .m-container {
        margin: 10px 30px;
    }
    .page-main {
        height: 248px;
        >div {
            height: 100%;
            margin-right: 0.75%;
            float: left;
            &:last-child {
                margin: 0;
            }
            .theme {
                cursor: pointer;
                &.active {
                    background: rgba(49, 126, 203, 0.4);
                    box-shadow: 0px 0px 6px rgb(255, 255, 255);
                }
            }
        }
    }
}