.monitoringSummary {
    background: url("../../images/enrichment/public/bg-starsky.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: auto;
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    .ng-clock {
        display: none !important;
    }
    >div {
        min-width: 1349px;
        .switch-power-enrich {
            .latest-update {
                font-size: 14px;
                position: absolute;
                line-height: 74px;
                right: 300px;
            }
            .historical-record {
                position: absolute;
                right: 30px;
                top: 25px;
            }
        }
        .m-container {
            padding: 0 30px;
        }
        .page-main {
            margin-top: 10px;
            .theme-title {
                line-height: 25px;
                height: 25px;
                font-size: 14px;
                padding-left: 15px;
                background: -webkit-linear-gradient(left, #305c8a, #52678f);
                background: -o-linear-gradient(right, #305c8a, #52678f);
                background: -moz-linear-gradient(right, #305c8a, #52678f);
                background: linear-gradient(to right, #305c8a, #52678f);
            }
            >div {
                height: 100%;
                margin-right: 0.75%;
                float: left;
                &:last-child {
                    margin: 0;
                }
                .theme {
                    cursor: pointer;
                    overflow: hidden;
                    &.active {
                        background: rgba(49, 126, 203, 0.4);
                        box-shadow: 0px 0px 6px rgb(255, 255, 255);
                    }
                }
            }
        }
        .detail-content {
            box-sizing: border-box;
            margin-top: 20px;
            width: 100%;
            overflow-x: hidden;
            div.themeDetail {
                background: rgba(22, 62, 103, .8);
                padding-bottom: 10px;
                height: 100%;
                // min-width: 100%;
                overflow: scroll;
                overflow-x: hidden;
                .my-table {
                    th {
                        height: 60px;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-bottom: none;
                        text-align: center !important;
                        border: 1px solid #366090;
                        border-bottom: none;
                    }
                    td {
                        height: 60px;
                        border: 1px solid #366090;
                        padding: 0 1em;
                    }
                }
            }
        }
    }
}