.knowledgeBaseSummary {
    .knowledgeBase_header{
        color: white;
        height: 75px;
        padding: 0 30px;
        border-bottom: 1px solid #335781;
        background: rgba(13, 44, 76, 0.7); 
    }
}