.knowledgeBaseSummary {
    .knowledgeBase_header{
        color: white;
        height: 75px;
        padding: 0 30px;
        border-bottom: 1px solid #335781;
        background: rgba(13, 44, 76, 0.7); 
    }
    .knowledge_header_tab_con{
        margin: 16px 0px 40px;
        .knowledge_header_tab{
            width:32%;
            height:25px;
            line-height: 25px;
            text-align: center;
            border-radius: 2px;
            color:white;
            margin-right:2%;
            font-size: 14px;
            cursor: pointer;
            background: -webkit-linear-gradient(left, #305c8a, #52678f);
            background: -o-linear-gradient(right, #305c8a, #52678f); 
            background: -moz-linear-gradient(right, #305c8a, #52678f);
            background: linear-gradient(to right, #305c8a, #52678f);
            &:last-child{
                margin:0;
            }
        }
    }
    .iconfont-arrow{
        font-size:12px;
        margin-left:10px;
    }
    .knowlege-item{
        width:32%;margin-right:2%;
        &:nth-child(3n){
            margin:0;
        }
    }
}