@font-face {
    font-family: kuhei;
    src: url('../../fonts/Digital-7Mono.TTF'), url('../../fonts/Digital-7Mono.TTF'), url('../../fonts/Digital-7Mono.TTF');
    /* IE9 */
}

.mainPage {
    background: url("../../images/enrichment/public/bg-starsky.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    height: 100vh;
    .main-header {
        height: 0.61rem;
        min-height: 61px; // background-color: pink;
        padding: 0 0.3rem;
        line-height: 0.61rem;
        >i.hover-header-con-click {
            float: left;
            font-size: 0.22rem;
            cursor: pointer;
        }
        >span.date-now {
            float: left;
            font-size: 0.136rem;
            margin-left: 0.7rem;
        }
        >a.full-screen {
            i {
                font-size: 0.22rem !important;
            }
            float: right;
            margin-right: 0.5rem;
        }
        >.personal-center {
            float: right;
            .realName {
                display: inline-block !important;
                font-size: 0.18rem;
                vertical-align: top;
                margin-top: -0.01rem;
                margin-right: 0.05rem;
            }
            i.icon-gerenzhongxin {
                font-size: 0.23rem !important;
            }
        }
        >h1 {
            width: 5rem;
            height: 100%;
            margin: 0 auto; // background-color: royalblue;
            line-height: inherit;
            text-align: center;
            font-size: 0.218rem;
            position: relative;
            span,
            img {
                position: relative;
            }
            img {
                width: 0.3rem;
                margin-right: 0.5em;
                vertical-align: middle;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(16, 49, 84, 1);
                opacity: 0.7;
                border: 1px solid rgba(100, 150, 214, 1);
                box-shadow: 0px 3px 3px 0px rgba(0, 1, 1, 0.36);
                transform: perspective(.5em) rotateX(-2deg) scaleY(1.1);
            }
        }
    }
    .main-block-view {
        width: 100%;
        height: calc(100vh - 0.61rem); // background-color: pink;
        overflow: hidden;
        .mainThemeBlock {
            height: 100%;
            .section-north {
                height: 0.9rem;
                padding: 0 0.3rem;
                position: relative;
                img {
                    position: absolute;
                    bottom: 0;
                    &:nth-of-type(1) {
                        width: 2.32rem;
                        left: 0.3rem;
                    }
                    &:nth-of-type(2) {
                        width: 2.47rem;
                        right: 0.3rem;
                        bottom: 0.1rem;
                    }
                }
                >span {
                    position: absolute;
                    font-size: 0.16rem;
                    &.tree {
                        color: #6DD459;
                        bottom: 0.4rem;
                        left: 2rem;
                    }
                    &.co2 {
                        color: #65C8FF;
                        bottom: 0.5rem;
                        right: 0.4rem;
                    }
                }
                .odometer-block {
                    height: 100%;
                    width: max-content;
                    margin: 0 auto;
                    p {
                        margin-bottom: 0;
                        color: #8BEAEA;
                        font-size: 0.14rem;
                        padding-top: 0.1rem;
                    }
                    .zdy-theme {
                        color: #61FF4F;
                        font-family: 'kuhei';
                        font-size: 0.50rem;
                        line-height: 1;
                        height: 1em;
                        text-align: center;
                        position: relative; // overflow: hidden;
                        &::after {
                            content: 'kWh';
                            display: inline-block;
                            position: absolute;
                            right: -0.3rem;
                            bottom: 0;
                            font-family: serif;
                            color: #5CC2BC;
                            font-size: 0.14rem;
                        }
                        .odometer-digit {
                            background: #081929 linear-gradient(0deg, rgba(109, 205, 236, 1), rgba(78, 168, 198, 0.5), rgba(78, 168, 198, 0.27), rgba(78, 168, 198, 0.27), rgba(78, 168, 198, 0.5), rgba(109, 205, 236, 1));
                            margin-right: 0.05rem;
                            padding: 0 0.03rem;
                            height: 0.5rem;
                            overflow: hidden;
                            &:first-child {
                                border-radius: 0;
                            }
                            .odometer-digit-spacer {
                                visibility: visible;
                                color: #021528;
                                opacity: 0.6;
                            }
                            .odometer-digit-inner {
                                transform: translateX(0.03rem)
                            }
                        }
                    }
                }
            }
            .section-south {
                height: calc(100% - 0.9rem);
                padding: 0.3rem;
                >div {
                    height: 100%;
                    position: relative;
                }
            }
        }
        .themeMonitoring {
            .section-north {
                img {
                    &:nth-of-type(1) {
                        width: 2.32rem;
                        left: 0.3rem;
                    }
                    &:nth-of-type(2) {
                        width: 2.47rem;
                        right: 0.3rem;
                        bottom: 0.1rem;
                    }
                }
                >span {
                    &.tree {
                        color: #6DD459;
                        bottom: 0.4rem;
                        left: 2rem;
                    }
                    &.co2 {
                        color: #65C8FF;
                        bottom: 0.5rem;
                        right: 0.4rem;
                    }
                }
                .odometer-block {
                    p {
                        color: #8BEAEA;
                    }
                    .zdy-theme {
                        color: #61FF4F;
                        &::after {
                            content: 'kWh';
                            color: #5CC2BC;
                        }
                        .odometer-digit {
                            background: #081929 linear-gradient(0deg, rgba(109, 205, 236, 1), rgba(78, 168, 198, 0.5), rgba(78, 168, 198, 0.27), rgba(78, 168, 198, 0.27), rgba(78, 168, 198, 0.5), rgba(109, 205, 236, 1));
                            margin-right: 0.05rem;
                            padding: 0 0.03rem;
                            .odometer-digit-spacer {
                                color: #021528;
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
            .section-south {
                >div {
                    .top-block,
                    .bottom-block {
                        background-color: rgba(51, 87, 129, 0.5);
                        width: 100%;
                        height: 45%;
                        left: 0;
                        position: absolute;
                        section {
                            height: 100%;
                            width: 50%;
                            &:nth-child(1) {
                                float: left;
                                header {
                                    left: 0.55em;
                                }
                            }
                            &:nth-child(2) {
                                float: right;
                                header {
                                    right: 0.55em;
                                }
                            }
                            header {
                                position: absolute;
                                height: 0.3rem;
                                top: -0.31rem;
                                line-height: 0.3rem;
                                z-index: 0;
                                font-size: 0.14rem;
                                color: #E0EEFF;
                                padding: 0 1em;
                                &::before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    background-color: rgba(55, 98, 149, 1);
                                    z-index: -1;
                                    transform: perspective(.5em) rotateX(5deg) scaleY(1) translateY(-0.1em);
                                }
                            }
                            aside {
                                position: absolute;
                                left: 2rem;
                                top: -0.3rem;
                                line-height: 0.3rem;
                                span {
                                    font-size: 0.14rem;
                                    margin-right: 2em;
                                    color: #10FFFF;
                                    &:nth-child(1) {
                                        color: #fff;
                                        opacity: 0.6;
                                    }
                                    &:last-child {
                                        font-size: 0.12rem;
                                    }
                                }
                            }
                        }
                    }
                    .top-block {
                        top: 0;
                        section {
                            &:nth-child(1) {
                                padding: 0.18rem;
                                .month-power,
                                .year-power {
                                    overflow: hidden;
                                    height: calc((100% - 0.4rem) / 2);
                                    min-height: 0.4rem; // background-color: pink;
                                    margin-bottom: 0.1rem;
                                    .m-progress {
                                        width: 1.8rem; // background-color: blue;
                                        height: 100%;
                                        float: left;
                                        margin-right: 0.3rem;
                                        p {
                                            font-size: 0.12rem;
                                            margin-bottom: 0;
                                            span {
                                                margin-right: 0.2rem;
                                                &:nth-child(2) {
                                                    font-size: 0.16rem;
                                                    color: #10FFFF;
                                                }
                                                &:nth-child(3) {
                                                    color: #7ED7DF;
                                                }
                                            }
                                        }
                                        .bg {
                                            background-color: #35679B;
                                            height: 0.15rem;
                                            padding: 0.03rem;
                                            position: relative;
                                            >div {
                                                height: calc(100% - 0.06rem);
                                                top: 0.03rem;
                                                position: absolute;
                                            }
                                            .plan-area {
                                                left: 0.06rem;
                                                width: 70%;
                                                background: repeating-linear-gradient(to right, #24CBD0, #24CBD0 0.04rem, transparent 0.04rem, transparent 0.07rem);
                                                opacity: 0.3;
                                            }
                                            .current-area {
                                                width: 70%;
                                                max-width: 70%;
                                                left: 0.06rem;
                                                background: repeating-linear-gradient(to right, #FFD267, #FFD267 0.04rem, transparent 0.04rem, transparent 0.07rem);
                                            }
                                            .excess-bg {
                                                right: 0.06rem;
                                                width: calc(30% - 0.12rem);
                                                background: repeating-linear-gradient(to right, #FF5069, #FF5069 0.04rem, transparent 0.04rem, transparent 0.07rem);
                                                opacity: 0.3;
                                            }
                                            .excess-area {
                                                left: calc(0.06rem + 70%);
                                                width: 0;
                                                max-width: calc(30% - 0.12rem);
                                                background: repeating-linear-gradient(to right, #FF5069, #FF5069 0.04rem, transparent 0.04rem, transparent 0.07rem);
                                            }
                                        }
                                    }
                                    >p {
                                        float: left;
                                        width: 3em;
                                        margin-right: 1.5em;
                                        font-size: 0.12rem;
                                        line-height: 1.33;
                                        color: rgba(255, 255, 255, .6);
                                        span {
                                            color: #10FFFF;
                                        }
                                    }
                                }
                                .legend {
                                    height: 0.2rem;
                                    line-height: 0.2rem;
                                    span {
                                        margin-left: 2em;
                                        margin-right: 2em;
                                        font-size: 0.12rem;
                                        position: relative;
                                        &::before {
                                            content: '';
                                            display: inline-block;
                                            width: 1.5em;
                                            height: 0.5em;
                                            position: absolute;
                                            top: 0.3em;
                                            left: -2em;
                                            background-color: currentcolor;
                                            vertical-align: middle;
                                        }
                                        &:nth-child(1) {
                                            color: #FFD267;
                                        }
                                        &:nth-child(2) {
                                            color: #21C7CD;
                                        }
                                        &:nth-child(3) {
                                            color: #FF5069;
                                        }
                                    }
                                }
                            }
                            &:nth-child(2) {
                                >div {
                                    float: right;
                                    width: 60%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    .bottom-block {
                        bottom: 0;
                        section {
                            &:nth-child(2) {
                                header {
                                    right: 0.79em;
                                }
                                >div {
                                    float: right;
                                    width: 10%;
                                    height: 100%;
                                    margin-right: 0.05rem;
                                    padding-bottom: 4em;
                                    position: relative;
                                    >div {
                                        height: 100%;
                                    }
                                    span {
                                        position: absolute;
                                        width: 100%;
                                        left: 0;
                                        text-align: left;
                                        padding-left: 1em;
                                        font-size: 0.12rem;
                                        &:nth-of-type(1) {
                                            bottom: 25%;
                                            i {
                                                font-size: 0.12rem;
                                            }
                                        }
                                        &:nth-of-type(2) {
                                            bottom: 15%;
                                            i {
                                                font-size: 0.15rem;
                                                margin-right: 0.01rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .themePeople {
            .section-north {
                img {
                    &:nth-of-type(1) {
                        width: 2.32rem;
                        left: 0.3rem;
                    }
                    &:nth-of-type(2) {
                        width: 2.47rem;
                        right: 0.3rem;
                        bottom: 0.1rem;
                    }
                }
                >span {
                    &.tree {
                        color: #65C8FF;
                        bottom: 0.4rem;
                        left: 0.4rem;
                    }
                    &.co2 {
                        color: #6DD459;
                        bottom: 0.5rem;
                        right: 0.4rem;
                    }
                }
                .odometer-block {
                    p {
                        color: #FF6D6D;
                        font-size: 0.12rem;
                    }
                    .zdy-theme {
                        color: #FF4B4B;
                        &::after {
                            content: '天';
                            right: -0.15rem;
                            color: #FF6D6D;
                        }
                        .odometer-digit {
                            background: #C0CFDE;
                            margin-right: 0.1rem;
                            padding: 0 0.05rem;
                            box-shadow: 0px 0px 0px 0px rgba(211, 147, 147, 0.98) inset, 0px 0px 24px 0px rgba(255, 108, 108, 0.96) inset, 0px 0px 13px 0px rgba(255, 108, 108, 1) inset;
                            .odometer-digit-spacer {
                                color: #BCAFAF;
                                opacity: 0.6;
                            }
                            .odometer-digit-inner {
                                transform: translateX(0.05rem)
                            }
                        }
                    }
                }
            }
            .section-south {
                >div {
                    .block {
                        background-color: rgba(51, 87, 129, 0.5);
                        width: 100%;
                        height: 100%;
                        left: 0;
                        position: absolute;
                        section {
                            height: 100%;
                            width: 50%;
                            &:nth-child(1) {
                                float: left;
                                header {
                                    left: 0.59em;
                                }
                            }
                            &:nth-child(2) {
                                float: right;
                                header {
                                    right: 0.73em;
                                }
                            }
                            header {
                                position: absolute;
                                height: 0.3rem;
                                top: -0.31rem;
                                line-height: 0.3rem;
                                z-index: 0;
                                font-size: 0.14rem;
                                color: #E0EEFF;
                                padding: 0 1em;
                                &::before {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    background-color: rgba(55, 98, 149, 1);
                                    z-index: -1;
                                    transform: perspective(.5em) rotateX(5deg) scaleY(1) translateY(-0.1em);
                                }
                            }
                            aside {
                                position: absolute;
                                left: 2rem;
                                top: -0.3rem;
                                line-height: 0.3rem;
                                span {
                                    font-size: 0.14rem;
                                    margin-right: 2em;
                                    color: #10FFFF;
                                    &:nth-child(1) {
                                        color: #fff;
                                        opacity: 0.6;
                                    }
                                    &:last-child {
                                        font-size: 0.12rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .main-map-view {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none;
        .circle1 {
            width: calc(100vmin - 1.51rem);
            height: calc(100vmin - 1.51rem);
            background-color: #0D1F30;
            border-radius: 50%;
            pointer-events: all;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            padding: 0.05rem; // overflow: hidden;
            .circle2 {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid #45C8FF;
                box-shadow: 0 0 10px 0px #45c8ff, 0 0 0.1rem 0 #45c8ff inset;
                padding: 0.1rem;
                .circle3 {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: relative;
                    >div {
                        position: absolute;
                        border-radius: 50%;
                    }
                    .color-block {
                        border: calc((100vmin - 1.81rem - 1px) / 2) solid transparent; // border-image: url(../../images/enrichment/main/borderImageTop.png) 100;
                        // opacity: 0.7;
                        &.active {
                            border-width: calc((100vmin - 1.81rem - 1px) / 2 + 0.1rem);
                            transform: translateX(-0.1rem) translateY(-0.1rem);
                        }
                        &:nth-child(1) {
                            border-top-color: #a772d3;
                            border-image: url(../../images/enrichment/main/borderImageTop.png) 49.8%;
                        }
                        &:nth-child(2) {
                            border-right-color: #65c69d;
                            border-image: url(../../images/enrichment/main/borderImageRight.png) 49.8%;
                        }
                        &:nth-child(3) {
                            border-bottom-color: #5fbdff;
                            border-image: url(../../images/enrichment/main/borderImageBottom.png) 49.8%;
                        }
                        &:nth-child(4) {
                            border-left-color: #4271dc;
                            border-image: url(../../images/enrichment/main/borderImageLeft.png) 49.8%;
                        }
                    }
                    .text-block {
                        width: 100%;
                        height: 0;
                        left: 0;
                        top: 0;
                        z-index: 3;
                        opacity: 0.8;
                        span {
                            font-size: 0.18rem;
                            position: absolute;
                            line-height: 1.3;
                            white-space: nowrap;
                            cursor: pointer; // &::before, &::after {
                            //     content: '';
                            //     display: block;
                            //     position: absolute;
                            //     width: 5em;
                            //     height: 1.5em;
                            //     background-color: #fff;
                            // }
                            &.active {
                                font-size: 0.23rem;
                                opacity: 1;
                            }
                            &:nth-child(1) {
                                left: 50%;
                                transform: translateX(-50%);
                                top: -0.05rem;
                                padding: 0.1rem 0; // &::before {
                                //     left: -5em;
                                //     top: 1.5em;
                                //     transform: rotate(-25deg);
                                // }
                                // &::after {
                                //     right: -5em;
                                //     top: 1.5em;
                                //     transform: rotate(25deg);
                                // }
                                &.active {
                                    top: -0.13rem;
                                }
                            }
                            &:nth-child(2) {
                                right: -0.03rem;
                                top: 0;
                                margin-top: 50%;
                                transform: translateY(-50%);
                                padding: 0 0.1rem;
                                &.active {
                                    right: -0.1rem;
                                }
                            }
                            &:nth-child(3) {
                                left: 50%;
                                top: 0;
                                margin-top: calc(100% - 1.3em - 0.14rem);
                                transform: translateX(-50%);
                                padding: 0.1rem 0;
                                &.active {
                                    margin-top: calc(100% - 1.3em - 0.06rem);
                                }
                            }
                            &:nth-child(4) {
                                left: -0.03rem;
                                top: 0;
                                margin-top: 50%;
                                transform: translateY(-50%);
                                padding: 0 0.1rem;
                                &.active {
                                    left: -0.1rem;
                                }
                            }
                        }
                    }
                    .map-view {
                        // opacity: 0;
                        left: 0.3rem;
                        right: 0.3rem;
                        top: 0.3rem;
                        bottom: 0.3rem;
                        background-color: #0D1F30;
                        overflow: hidden;
                        border: 1px solid #16e6ff;
                        z-index: 3;
                        &.isMagnified {
                            // position: fixed !important;
                            background-color: #022F55;
                            width: calc(100vmin + 2rem);
                            height: calc(100vmin + 2rem);
                            left: 0;
                            top: 0;
                            transform: translateX(calc(((100vmin - 1.51rem - 0.3rem) - (100vmin + 2rem)) / 2)) translateY(-2.51rem);
                            &+div.text-block {
                                display: none;
                            }
                        }
                    }
                    .station-pop-up {
                        position: absolute;
                        width: 400px;
                        height: 300px;
                        background-color: rgba(28, 43, 54, 0.9);
                        left: 0;
                        top: 0;
                        border-radius: 0;
                        z-index: 11;
                        transform: translateX(0.45rem) translateY(0.45rem);
                        &.isMagnified {
                            transform: translateX((-3.81rem) / 2) translateY(-2.51rem);
                        }
                        &::after {
                            content: ''; // background-color: #fff;
                            position: absolute;
                            bottom: -23px;
                            left: 200px;
                            width: 0;
                            height: 0;
                            border: 30px solid transparent;
                            border-right-color: rgba(28, 43, 54, 0.9);
                            border-right-width: 15px;
                            transform: rotate(55deg);
                        }
                        header {
                            border-bottom: 1px solid rgba(0, 0, 0, .4);
                            padding: 1em 10px;
                            span {
                                &:first-child {
                                    font-size: 16px;
                                    margin-right: 1em;
                                    opacity: .7;
                                }
                            }
                            span.clickable {
                                color: #04B1B0;
                                text-decoration: none;
                            }
                            span.close {
                                font-size: 30px;
                                margin-top: -5px;
                                cursor: pointer;
                                color: #fff;
                                font-weight: normal;
                                opacity: .5;
                            }
                        }
                        >div {
                            padding: 10px;
                            padding-bottom: 0;
                            img {
                                width: 100%;
                                height: 100px;
                            }
                            p {
                                line-height: 3em;
                                border-bottom: 1px solid rgba(0, 0, 0, .4);
                                margin-bottom: 0;
                            }
                            span {
                                font-size: 16px;
                            }
                            >div {
                                margin-top: 1em;
                                float: left;
                                width: 33%;
                            }
                        }
                    }
                    .TipsWindown {
                        border-radius: 0;
                        position: fixed;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: #12283e;
                        opacity: 0.8;
                        width: 100vw;
                        height: 100vh;
                        transform: translateX(calc(((100vmin - 1.51rem) - 100vw) / 2)) translateY(-1.51rem);
                        z-index: 11;
                    }
                }
            }
        }
    }
}