.maintenancePersonSummary{
    .a-content {
        margin: 15px 0;
        overflow: hidden;
        position: relative;
        >div.a-container {
            margin: 0 auto;
            position: relative;
            
            // background-image: linear-gradient(25deg, rgba(36,0,101, 0.6) 0%, rgba(51, 78, 156, 0.4) 34%, rgba(14, 72, 160, 0.4) 118%);
            // background-image: -moz-linear-gradient( 25deg, rgba(36,0,101, 0.6) 0%, rgba(51, 78, 156, 0.4) 34%, rgba(14, 72, 160, 0.4) 118%);
            // background-image: -webkit-linear-gradient(25deg, rgba(36,0,101, 0.6) 0%, rgba(51, 78, 156, 0.4) 34%, rgba(14, 72, 160, 0.4) 118%);
            // background-image: -ms-linear-gradient( 25deg, rgba(36,0,101, 0.6) 0%, rgba(51, 78, 156, 0.4) 34%, rgba(14, 72, 160, 0.4) 118%);

            .themeDetail {
                overflow-x: hidden;
                overflow-y: hidden;
                .analyze-header {
                    height: 43px;
                    .person-tab{
                        position: absolute;
                        left: 338px;
                        top: 14px;
                        // font-size:16px;
                        >a{
                            margin-right:50px;
                        }
                    }
                    .personTabActive{
                        color:#1ddabe;
                    }
                }
                .my-table {
                    // background-color: rgba(18,66,113,0.3);
                    
                    .fixed-left {
                        background-color: #14385c;
                    }
                    tr {
                        cursor: pointer;
                        &.tr-click{
                            &:hover {
                                background-color: #1b4980;
                            }
                            &.active {
                                background-color: #1b4980;
                            }
                        }
                    }
                    th {
                        cursor: default;
                        height: 50px;
                        font-size: 16px;
                        color: rgba(255, 255, 255, .7);
                        background-color: #0d2d4f;
                        font-weight: normal;
                        text-align: center !important;
                        border: 1px solid #092139;
                        border-bottom: none;
                        border-top: none;
                        &:nth-child(1) {
                            // border-right: none;
                            // border-left: none; // padding-right: 2em;
                            // text-align: center;
                        }
                        &:nth-child(2) {
                            border-left: none;
                        }
                        &:last-child {
                            border-right: none;
                        }
                    }
                    td {
                        height: 50px;
                        color: rgb(178, 216, 255);
                        border: 1px solid #092139;
                        padding: 0 2em;
                        position: relative;
                        font-size: 12px;
                        background-color: rgba(18,66,113,0.3);
                        &:nth-child(1) {
                            // border-right: none;
                            // border-left: none; // padding-right: 2em;
                            // text-align: center;
                        }
                        &:nth-child(2) {
                            border-left: none;
                        }
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
                .person-manage-btn{
                    position:absolute;left:39%;top: 11px;cursor: pointer;
                    >i{
                        background: #1CAF9A;
                        width: 28px;
                        height: 28px;
                        display: inline-block;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 28px;
                        margin-right: 8px;
                    }
                }
                .export_padding{
                    .icon-daochu-{
                        right:20px !important;
                    }
                }
            }
        }
        .alertModal {
            position: fixed;
            top: 0; // bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, .4);
            z-index: 100;
            overflow: auto;
            transition: height 0.2s ease 0s;
        }
    }
}