.monitoringSummary {
    background: url("../../images/enrichment/public/bg-starsky.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;

    .stop-color {
        color: #999;
    }

    .init-color {
        color: #999;
    }

    >div {
        .m-container {
            padding: 0 30px;
        }

        .page-main {
            margin-top: 10px;

            .theme-title {
                cursor: pointer;
                line-height: 25px;
                height: 25px;
                font-size: 14px;
                padding-left: 15px;
                background: -webkit-linear-gradient(left, #305c8a, #52678f);
                background: -o-linear-gradient(right, #305c8a, #52678f);
                background: -moz-linear-gradient(right, #305c8a, #52678f);
                background: linear-gradient(to right, #305c8a, #52678f);
            }

            .active {
                .theme-title-big {
                    background: rgba(70, 118, 167, 0.4);
                    box-shadow: 0px 0px 6px rgb(255, 255, 255);
                }
            }

            >div {
                height: 100%;
                margin-right: 1%;
                float: left;

                &:last-child {
                    margin: 0;
                }

                .theme {
                    cursor: pointer;
                    overflow: hidden;

                    &.active {
                        background: rgba(49, 126, 203, 0.4);
                        box-shadow: 0px 0px 6px rgb(255, 255, 255);
                    }
                }
            }
        }

        .detail-content {
            box-sizing: border-box;
            margin-top: 20px;
            width: 100%;
            overflow-x: hidden;
            position: relative;

            div.themeDetail {
                background: rgba(22, 62, 103, .8);
                padding-bottom: 10px;
                height: 100%; // min-width: 100%;
                overflow-x: hidden;

                .my-table {
                    .fixed-left {
                        background-color: #14385c;
                    }

                    th {
                        height: 45px;
                        font-size: 16px;
                        color: rgba(255, 255, 255, .7);
                        background-color: rgba(22, 46, 71, .8);
                        border-bottom: none;
                        font-weight: normal;
                        text-align: center !important;
                        border: 1px solid rgb(50, 89, 134);
                        border-bottom: none;
                    }

                    td {
                        height: 50px;
                        font-size: 16px;
                        color: rgb(178, 216, 255);
                        border: 1px solid rgb(50, 89, 134);
                        padding: 0 1em;
                        position: relative;
                    }
                }

                .equipment-operation-station-status.status-list {
                    display: inline-block;
                    position: absolute;
                    left: 310px;
                    top: 10px;

                    .tag-normal {
                        color: #57c794;
                    }

                    .tag-normal .tag {
                        background: #57c794;
                    }

                    .tag-fault {
                        color: #e57e70;
                    }

                    .tag-fault .tag {
                        background: #e57e70;
                    }

                    .tag-alarm {
                        color: #e5b870;
                    }

                    .tag-alarm .tag {
                        background: #e5b870;
                    }

                    .tag-break {
                        color: #9d9d9d;
                    }

                    .tag-break .tag {
                        background: #9d9d9d;
                    }

                    .tag-init {
                        color: #6ddaf5;
                    }

                    .tag-init .tag {
                        background: #6ddaf5;
                    }

                    .tag-insert {
                        color: #a963ff;
                    }

                    .tag-insert .tag {
                        background: #a963ff;
                    }

                    .tag-unknown {
                        color: #4e82ff;
                    }

                    .tag-unknown .tag {
                        background: #4e82ff;
                    }

                    .status-con {
                        display: inline-block;
                        margin-right: 11px;
                        font-size: 14px;

                        // 多选框样式
                        .group-checks {
                            cursor: pointer;
                            line-height: 20px;
                            vertical-align: middle;
                            margin-bottom: 4px;
                        }

                        .group-checks span {
                            vertical-align: text-top;
                        }

                        .group-checks input {
                            opacity: 0;
                            position: absolute;
                        }

                        .group-checks i {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            // background: rgba(22, 54, 95, 0.27);
                            border: 1px solid #1caf9a;
                            border-radius: 2px;
                            position: relative;
                            vertical-align: middle;
                        }

                        .group-checks i:before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            width: 0;
                            height: 0;
                            transition: all 0.2s;
                            background-color: transparent;
                        }

                        .group-checks input:checked+i {
                            border: 1px solid #1caf9a;
                        }

                        .group-checks input:checked+i:before {
                            width: 10px;
                            height: 10px;
                            background: #1caf9a;
                            left: 4px;
                            top: 4px;
                        }

                        // .tag {
                        //   display: inline-block;
                        //   width: 13px;
                        //   height: 13px;
                        //   border-radius: 2px;
                        //   float: left;
                        //   margin-top: 3px;
                        //   margin-right: 2px;
                        // }
                        .status-name {
                            padding: 0 5px;
                        }

                        .status-num {}
                    }

                    .tag-normal {
                        color: #57c794;
                    }

                    .tag-normal .tag {
                        background: #57c794;
                    }

                    .tag-fault {
                        color: #e57e70;
                    }

                    .tag-fault .tag {
                        background: #e57e70;
                    }

                    .tag-alarm {
                        color: #e5b870;
                    }

                    .tag-alarm .tag {
                        background: #e5b870;
                    }

                    .tag-break {
                        color: #9d9d9d;
                    }

                    .tag-break .tag {
                        background: #9d9d9d;
                    }

                    .tag-init {
                        color: #6ddaf5;
                    }

                    .tag-init .tag {
                        background: #6ddaf5;
                    }

                    .tag-insert {
                        color: #a963ff;
                    }

                    .tag-insert .tag {
                        background: #a963ff;
                    }

                    .tag-unknown {
                        color: #4e82ff;
                    }

                    .tag-unknown .tag {
                        background: #4e82ff;
                    }
                }
            }
        }
    }
}