.powerStationOperate{
    .searchConditionTpl {
        position:relative;
        .m-b-25 {
            margin-bottom: 25px;
        }
        .search-btn {
            display: inline-block;
            width: 62px;
            height: 30px;
            border: 1px solid rgba(45, 99, 159, 1);
            border-radius: 2px;
            text-align: center;
            padding-top: 4px;
            background: rgba(23, 62, 106, 0.8);
            vertical-align: bottom;
            &.showModelActive {
                border: 1px solid #396fab;
                border-radius: 0px;
                background: #396fab;
            }
        }
        .refresh-btn {
            border: 1px solid #366090;
            background: rgba(23, 62, 106, 0.8);
            color: rgba(255, 255, 255, 0.8);
            height: 30px;
            display: inline-block;
            width: 36px;
            font-size: 12px;
            text-align: center;
            line-height: 30px;
            margin-left: -4px;
        }
    }
    .status-view{
        width: 85px;
        border: 1px solid #31639f;
        background-color: rgba(23, 62, 106, 0.8);
        color: rgba(255, 255, 255, 0.8);
        text-align-last: center;
        height: 30px;
        line-height: 30px;
        margin-left: 20px;
    }
    .status-list{
        display: inline-block;
        margin-left: 20px;
        .status-con{
            display: inline-block;
            margin-right: 20px;
            .tag{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 1px;
                background: red;
            }
            .status-name{
                padding: 0 5px;
            }
            .status-num{
            }
        }            
    }
    .group-con{
        display: inline-block;
        margin-left: 200px;
        .i-switch-lg{
            width: 40px;
            height: 20px;
            background: #1caf9a;
            & i:after{
                width: 17px;
            }
        }
    }
    .run-event{
        float: right;
        margin-top: 7px;
        cursor: pointer;
    }
    
    .power-station{
        width: 100.5%;
        min-width: 1289px;
        padding: 10px 30px;
        margin: auto;
        box-sizing: border-box;
        .ps-wrap{
            width: 100.5%;
            max-height: 500px;
            overflow-y: scroll;
            .ps-con{
                width: 99.7%;
                height: 100%;
                background: red;
                padding: 10px;
                .ps-item{
                    display: inline-block;
                    width: 90px;
                    height: 15px;
                    background: #1caf9a;
                    border-radius: 5px;
                    margin-right: 3px;
                    cursor: pointer;
                }            
            }
            .ps-con-group{
                width: 99.7%;
                height: 100%;
                .group{
                    margin-bottom: 3px;
                    // overflow: hidden;
                    height: 100%;
                    position: relative;
                    .group-name{
                        margin-right: 2px;
                        float: left;
                        background: red;
                        width: 19.8%;
                        height: 100%;
                        position: absolute;
                        text-align: center;
                        line-height: 410%;
                    }
                    .group-station{
                        float: right;
                        background: red;
                        width: 80%;
                        padding: 10px;
                        .ps-item{
                            display: inline-block;
                            width: 90px;
                            height: 15px;
                            background: #1caf9a;
                            border-radius: 5px;
                            margin-right: 3px;
                            position: relative;
                            cursor: pointer;
                            &:hover:after{
                                content: attr(data-title);
                                position: absolute;
                                right: 10px;
                                bottom: -2px;
                                padding: 5px;
                                background: #fff;
                                font-size: 15px;
                                color: #000;
                                z-index: 111;
                            }
                        }  
                    }
                }
            }
        }
        
        .ps-wrap::-webkit-scrollbar {
            width: 10px;
            position: absolute;
            left: 100px;
        }
        .ps-wrap::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 10px;
            background: #535353;
            
        }
        .ps-wrap::-webkit-scrollbar-track {
            display: none;
        }
    }

    .alertModal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: hidden;
        transition: height 0.2s ease 0s;
    }
    
    
}