.productionManageSummary {
    background: url("../../images/enrichment/public/dataReportSummaryBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;

    .i-checks input+i {
        border-color: rgb(88, 143, 209);
    }

    .i-checks input:checked+i {
        border-color: #1caf9a;

        &:before {
            background-color: #1caf9a;
        }
    }

    .alertModalBg {
        background: rgba(50, 50, 90, 0.8);
    }

    .e-container {
        margin: 0 30px;
    }

    .themeTabs {
        margin-top: 20px;

        >div {
            float: left;

            .theme {
                cursor: pointer;
                overflow: hidden;

                &.active {
                    // background: rgba(49, 126, 203, 0.4);
                    box-shadow: 0px 0px 6px rgb(255, 255, 255);

                    .theme-title {
                        background: rgba(70, 118, 167, .4);
                    }
                }

                .theme-title {
                    line-height: 25px;
                    height: 25px;
                    font-size: 14px;
                    text-align: center;
                    background: -webkit-linear-gradient(left, #305c8a, #52678f);
                    background: -o-linear-gradient(right, #305c8a, #52678f);
                    background: -moz-linear-gradient(right, #305c8a, #52678f);
                    background: linear-gradient(to right, #305c8a, #52678f);

                    &.disabled {
                        cursor: no-drop;
                        color: rgba(255, 255, 255, 0.6);
                        background: #3d5165;
                    }
                }
            }
        }
    }

    .detail-content {
        // background-color: rgba(49, 126, 203, 0.4);
        overflow: hidden;
        margin-top: 10px;
        position: relative;

        >div.theme-detail-content {
            min-width: 1289px;
            height: 100%;
            overflow: hidden;

            .themeDetail {
                min-width: 1306px;

                .my-table {
                    .fixed-left {
                        background-color: #14385c;
                    }

                    tr {
                        background-color: rgba(18, 66, 113, 0.3);
                        cursor: pointer;

                        &:hover {
                            background-color: #1b4980;
                        }

                        &.active {
                            background-color: #1b4980;
                        }

                        &.no-data:hover {
                            background-color: rgba(18, 66, 113, 0.3);
                        }
                    }

                    th {
                        cursor: default;
                        height: 50px;
                        font-size: 16px;
                        color: rgba(255, 255, 255, .7);
                        background-color: #0d2d4f;
                        font-weight: normal;
                        text-align: center !important;
                        border: 1px solid #092139;
                        border-bottom: none;
                        border-top: none;

                        &:nth-child(1) {
                            border-right: none;
                            border-left: none; // padding-right: 2em;
                            text-align: center;
                        }

                        &:nth-child(2) {
                            border-left: none;
                        }

                        &:last-child {
                            border-right: none;
                        }
                    }

                    td {
                        height: 50px;
                        color: rgb(178, 216, 255);
                        border: 1px solid #092139;
                        padding: 0 1em;
                        position: relative;
                        font-size: 14px;

                        &:nth-child(1) {
                            border-right: none;
                            border-left: none; // padding-right: 2em;
                            text-align: center;
                        }

                        &:nth-child(2) {
                            border-left: none;
                        }

                        &:last-child {
                            border-right: none;
                        }
                    }
                }

                .themeTwoVotes,
                .themeSparePart {
                    padding-top: 10px;

                    .handle {
                        position: relative;
                        z-index: 10;

                        >div {
                            border: 1px solid #fff; // width: 150px;
                            padding: 0 1em;
                            text-align: center;
                            height: 30px;
                            line-height: 30px;
                            margin-right: 30px;
                            border: 1px solid rgb(49, 99, 159);
                            background-color: rgba(23, 62, 106, .8);
                            color: rgba(255, 255, 255, 0.8);
                            position: relative;

                            &.active {
                                height: 35px;
                                margin-bottom: -5px;
                                border: 1px solid transparent;
                                background-color: rgba(57, 111, 170, .8);

                                .pop-up {
                                    display: block;
                                }
                            }

                            >span {
                                cursor: pointer;

                                &.open-votes {
                                    &+ul {
                                        position: absolute;
                                        background-color: #1caf9a;
                                        list-style: none;
                                        padding: 0;
                                        width: 100px;
                                        text-align: left;

                                        li {
                                            padding: 0.4em;
                                            min-height: 2em;
                                            line-height: 1.2;

                                            &:hover {
                                                background-color: #fff;
                                                color: #1caf9a;
                                            }
                                        }
                                    }
                                }
                            }

                            .pop-up {
                                display: none;
                                position: absolute;
                                top: 34px;
                                left: -1px;
                                width: 200px; // height: 200px;
                                background-color: #396faa;
                                z-index: 99;
                                border-radius: 2px;
                                text-align: left;
                                line-height: 1em;

                                select,
                                option,
                                textarea,
                                input {
                                    border-radius: 2px;
                                    background: #306096;
                                    border: 1px solid rgb(20, 54, 98); // resize: none;
                                }
                            }
                        }
                    }

                    .e-list {
                        padding-top: 5px;
                        position: relative;
                        top: -30px;
                    }

                    .messagePopUp {
                        transition: width 0.1s ease 0s;

                        .chatPanelView {
                            height: calc(100% - 70px);

                            .chatPanel {
                                height: 100%;
                                overflow-y: scroll;
                                width: calc(100% + 18px);
                                padding-bottom: 200px;

                                .chatList {
                                    padding: 0 5px;

                                    .chatItem {
                                        padding: 1em;
                                        margin-bottom: 1em;
                                        width: 70%;
                                        background-color: #265c9b;
                                        float: left;
                                        border-radius: 5px;

                                        &.pull-right {
                                            background-color: #1caf9a;
                                        }

                                        header {
                                            margin-bottom: 10px;
                                        }

                                        .handle {
                                            position: relative;
                                            margin-top: 20px;

                                            span {
                                                padding: 0.5em 1.5em;
                                                border: 1px solid #fff;
                                                border-radius: 4px;
                                                cursor: pointer;

                                                &:nth-child(1) {
                                                    border: none;
                                                    margin-right: 3em;
                                                    padding: 0.5em 0;
                                                }
                                            }

                                            ul {
                                                position: absolute;
                                                list-style: none;
                                                padding: 0;
                                                background-color: #fff;
                                                color: #333;
                                                line-height: 2em;
                                                width: 130px;
                                                top: 2em;
                                                left: 5em;

                                                li {
                                                    padding-left: 1em;

                                                    &:hover {
                                                        background-color: #ccc;
                                                        cursor: pointer;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .slide-down {
                                    height: 0;
                                    overflow: hidden;

                                    >div {
                                        width: 550px;
                                        margin: 100px auto 0;
                                        background-color: #fff;
                                        color: #333;
                                        padding-bottom: 1em;
                                        text-align: center;

                                        header {
                                            background-color: #E6E9EC;
                                            line-height: 40px;
                                            text-align: center;
                                            font-size: 18px;
                                        }

                                        label {
                                            width: 100%;
                                            margin-top: 1em;

                                            span {
                                                vertical-align: top;
                                                font-size: 16px;
                                            }

                                            select,
                                            textarea {
                                                width: 380px;
                                            }

                                            textarea {
                                                height: 150px;
                                                resize: none;
                                            }

                                            select {
                                                height: 30px;
                                            }
                                        }

                                        button {
                                            border: 1px solid #ccc;
                                            padding: 0.5em 1em;
                                            font-size: 16px;
                                            background-color: #E6E9EC;
                                            margin: 0 5px;
                                            border-radius: 2px;

                                            &:nth-of-type(1) {
                                                background-color: #29BDB4;
                                                border-color: #29BDB4;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .makeInvoice {
                        position: fixed;
                        top: 0; // bottom: 0;
                        left: 0;
                        right: 0;
                        background: rgba(0, 0, 0, .4);
                        z-index: 100;
                        overflow: auto;
                        transition: height 0.2s ease 0s;

                        article.box {
                            width: 1200px;
                            height: 80vh;
                            margin: 0 auto;
                            margin-top: 10vh;
                            background-color: #fff;

                            header {
                                height: 50px;
                                line-height: 50px;
                                background-color: #F1F1F1;
                                text-align: center;
                                color: #333;
                                font-size: 20px;
                            }

                            section {
                                padding: 20px;
                                height: calc(100% - 100px);
                                color: #333;

                                .handel {
                                    padding-bottom: 10px;
                                    border-bottom: 1px solid #ccc;

                                    input,
                                    select,
                                    textarea {
                                        margin-right: 30px;
                                        width: 150px;
                                        height: 2em;
                                    }

                                    label {
                                        position: relative;

                                        textarea {
                                            width: 350px;
                                            position: absolute;
                                            z-index: 99;
                                            left: 60px;
                                            top: 0;
                                        }
                                    }
                                }

                                .excel-preview {
                                    height: calc(100% - 50px);
                                    margin-top: 20px;
                                    position: relative;

                                    >div.nullFileMark {
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        top: 0;
                                        bottom: 0;
                                        background-color: #fff;
                                        text-align: center;
                                        padding-top: 1px;

                                        img {
                                            margin-top: 50px;
                                        }

                                        p {
                                            font-size: 16px;
                                            margin-top: 20px;
                                        }
                                    }

                                    >div.file-view {
                                        height: 100%;
                                    }
                                }
                            }

                            footer {
                                text-align: center;
                                position: relative;

                                button {
                                    width: 100px;
                                    height: 40px;
                                    background-color: #f1f1f1;
                                    color: #333;
                                    border: 1px solid #ccc;
                                    border-radius: 3px;
                                    font-size: 20px;
                                    margin: 0 10px;

                                    &:nth-child(n+2) {
                                        background-color: #1CB09A;
                                        border: none;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }

                    .towVotesTemplate {
                        header {
                            height: 50px;
                            line-height: 50px;
                            background-color: #153861;
                            font-size: 16px;
                            color: rgba(255, 255, 255, 0.7);

                            >i {
                                font-size: 20px;
                                display: inline-block;

                                &:first-of-type {
                                    font-size: 16px;
                                    transform: rotate(90deg);
                                    margin-right: 1.2em;
                                    margin-left: 10px;
                                    cursor: pointer;
                                    border: 1px solid rgba(255, 255, 255, 0.7);
                                    border-radius: 50%;
                                    width: 1.3em;
                                    height: 1.3em;
                                    vertical-align: inherit;
                                    text-align: center;
                                    line-height: 1.3em;
                                    margin-top: 15px;
                                }
                            }

                            >div {
                                cursor: pointer;
                                width: max-content;
                                margin: 0 auto; // margin-right: calc(50%);

                                // transform: translateX(50%);
                                // float: right;
                                i {
                                    display: inline-block;
                                    font-size: 20px; // border: 1px solid rgba(255, 255, 255, 0.7);
                                    border-radius: 50%;
                                    width: 1.2em;
                                    height: 1.2em;
                                    vertical-align: inherit;
                                    text-align: center;
                                    line-height: 1.2em;
                                    font-style: normal;
                                    background-color: #26B19F;
                                }
                            }
                        }

                        .my-table {

                            th,
                            td:nth-child(1) {
                                border-right: 1px solid #092139;
                            }
                        }

                        .slide-down.add-template {
                            height: 0;
                            overflow: hidden;

                            &.pop-up {
                                height: 100vh;
                                padding-top: 10vh;
                            }

                            article.box {
                                width: 1200px;
                                height: 80vh;
                                margin: 0 auto;
                                background-color: #fff;

                                header {
                                    height: 50px;
                                    line-height: 50px;
                                    background-color: #F1F1F1;
                                    text-align: center;
                                    color: #333;
                                    font-size: 20px;
                                }

                                section {
                                    padding: 20px;
                                    height: calc(100% - 100px);
                                    color: #333;

                                    .handel {
                                        padding-bottom: 10px;
                                        border-bottom: 1px solid #ccc;

                                        label {
                                            margin-right: 3em;

                                            select,
                                            input {
                                                height: 25px;
                                                width: 150px;
                                            }
                                        }

                                        .export {
                                            margin-right: 0;
                                            color: #1CB09A;

                                            input {
                                                position: relative;
                                                display: inline-block;
                                                width: 100px;
                                                height: 30px;
                                                left: -50px;
                                                opacity: 0;
                                            }
                                        }
                                    }

                                    .excel-preview {
                                        height: calc(100% - 50px);
                                        margin-top: 20px;
                                        position: relative;

                                        >div.nullFileMark {
                                            position: absolute;
                                            left: 0;
                                            right: 0;
                                            top: 0;
                                            bottom: 0;
                                            background-color: #fff;
                                            text-align: center;
                                            padding-top: 1px;

                                            img {
                                                margin-top: 50px;
                                            }

                                            p {
                                                font-size: 16px;
                                                margin-top: 20px;
                                            }
                                        }

                                        >div.file-view {
                                            height: 100%;
                                        }
                                    }
                                }

                                footer {
                                    text-align: center;
                                    position: relative;

                                    button {
                                        width: 100px;
                                        height: 40px;
                                        background-color: #f1f1f1;
                                        color: #333;
                                        border: 1px solid #ccc;
                                        border-radius: 3px;
                                        font-size: 20px;
                                        margin: 0 10px;

                                        &:last-child {
                                            background-color: #1CB09A;
                                            border: none;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .themeSparePart {
                    .my-table {

                        table tr th,
                        table tr td {
                            &:nth-child(2) {
                                border-left: 1px solid #092139;
                            }
                        }
                    }

                    .popUp {
                        position: relative;

                        >div {
                            height: 0;
                            overflow: hidden;

                            &.down {
                                height: 100vh;
                            }

                            .content {
                                width: 1200px;
                                background-color: #fff;
                                margin: 50px auto 0;
                                min-height: 500px;

                                header {
                                    background-color: rgba(13, 36, 67, .1);
                                    line-height: 46px;
                                    font-size: 18px;
                                    text-align: center;
                                    color: #444;
                                }

                                aside {
                                    color: #333;
                                    margin-top: 5px;
                                    margin-left: 10px;
                                    width: 320px;
                                    height: calc(100vh - 250px);
                                    min-height: 380px;
                                    background-color: #fafafa;
                                    overflow: hidden;

                                    .calendar input {
                                        width: 100px;
                                    }

                                    .my-table {
                                        table {
                                            thead tr th {
                                                color: #333;
                                                font-weight: 700;
                                                border: none;
                                                height: 40px;
                                                line-height: 40px;
                                                background-color: #f1f1f1;
                                            }

                                            tbody tr {
                                                background-color: #E3E3E3;
                                                border-bottom: 1px solid #fafafa;

                                                &:hover {
                                                    background-color: #FBFBFB;
                                                }

                                                &.active {
                                                    background-color: #FBFBFB;
                                                }

                                                td {
                                                    border: none;
                                                    color: #333;
                                                    background-color: transparent;
                                                    height: 37px;
                                                }
                                            }
                                        }
                                    }
                                }

                                article {
                                    height: calc(100vh - 250px);
                                    min-height: 380px;
                                    padding: 0 20px;
                                    color: #818181;

                                    &.return-library-edit {
                                        float: right;
                                        width: 850px;
                                        background-color: #fafafa;
                                        margin-top: 5px;
                                        margin-right: 10px;
                                    }

                                    .topInput {
                                        margin-top: 10px;

                                        label {
                                            margin-right: 3em;

                                            span {
                                                font-size: 16px;
                                            }

                                            input {
                                                width: 186px;
                                                height: 40px;
                                                font-size: 16px;
                                                padding: 0 10px;
                                                background: rgba(202, 202, 202, 0.27);
                                                border: 1px solid #C6C6C6;
                                            }

                                            select {
                                                width: 186px;
                                                height: 40px;
                                                font-size: 16px;
                                                background: rgba(202, 202, 202, 0.27);
                                                border: 1px solid #C6C6C6;
                                            }

                                            textarea {
                                                width: 250px;
                                                height: 40px;
                                                vertical-align: middle;
                                                resize: none;
                                                background: rgba(202, 202, 202, 0.27);
                                                border: 1px solid #C6C6C6;
                                            }
                                        }
                                    }

                                    .import {
                                        margin-top: 20px;
                                        color: #28A4DE;
                                        font-size: 16px;

                                        i {
                                            font-size: 20px;
                                        }
                                    }

                                    .table-list {
                                        overflow: hidden;

                                        table {
                                            width: 100%;
                                            table-layout: fixed;
                                            border-left: 1px solid #F1F1F1;
                                            border-right: 1px solid #F1F1F1;

                                            thead {
                                                background-color: #F1F1F1;

                                                th {
                                                    height: 40px;
                                                    width: 11%;

                                                    &:nth-child(7) {
                                                        width: 12%;
                                                    }

                                                    &:nth-child(8) {
                                                        width: 7%;
                                                    }

                                                    &:last-child {
                                                        width: 12%;
                                                    }
                                                }
                                            }

                                            tbody {
                                                td {
                                                    padding: 5px 10px;
                                                    border: 1px solid #F1F1F1;
                                                    height: 44px;
                                                    width: 11%;

                                                    &:nth-child(7) {
                                                        width: 12%;
                                                    }

                                                    &:nth-child(8) {
                                                        width: 7%;
                                                    }

                                                    &:last-child {
                                                        width: 12%;
                                                    }
                                                }
                                            }
                                        }

                                        .scroll-list {
                                            width: calc(100% + 17px);
                                            height: calc(100vh - 450px);

                                            &.warehouse-list {
                                                height: calc(100vh - 350px);
                                            }

                                            &.outStock {
                                                height: calc(100vh - 360px);
                                            }

                                            overflow-y: scroll;

                                            tr:first-child td {
                                                border-top: none;
                                            }

                                            table tr {
                                                background-color: #CAE0EB;

                                                td {
                                                    overflow: hidden;
                                                    text-align: center;

                                                    select {
                                                        width: 80px;
                                                        height: 27px;

                                                        &[disabled] {
                                                            width: 100%;
                                                            border: none;
                                                            position: relative;
                                                            right: -1.8em;
                                                            padding-left: 2em;
                                                            background-color: transparent;
                                                        }
                                                    }

                                                    input {
                                                        width: 50px;
                                                        height: 27px;
                                                    }

                                                    textarea {
                                                        width: 100%;

                                                        &[disabled] {
                                                            resize: none;
                                                            border: none;
                                                            background-color: transparent;
                                                        }
                                                    }

                                                    &:last-child {
                                                        i {
                                                            vertical-align: middle;
                                                            font-size: 20px;
                                                            padding: 0 0.5em;
                                                            cursor: pointer;
                                                        }
                                                    }
                                                }

                                                &.disabled {
                                                    background-color: transparent;

                                                    td {

                                                        input,
                                                        select {
                                                            border: none;
                                                            background-color: transparent;
                                                        }

                                                        select {
                                                            position: relative;
                                                            right: -1.8em;
                                                            padding-left: 2em;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                footer {
                                    padding: 10px 0;
                                    text-align: center;

                                    button {
                                        height: 44px;
                                        padding: 0 1em;
                                        margin: 0 30px;
                                        font-size: 20px;
                                        border-radius: 2px;

                                        &.cancel {
                                            color: #535353;
                                            background-color: rgba(202, 202, 202, 0.27);
                                            border: 1px solid rgba(198, 198, 198, 1);
                                        }

                                        &.ok {
                                            color: #fff;
                                            background-color: #29BDB4;
                                            border: 1px solid #29BDB4;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .spareParts-container {
                        position: fixed;
                        left: 0;
                        right: 0;
                        top: 70px;
                        bottom: 0;
                        z-index: 99;

                        .spareParts {
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 50px;
                            bottom: 0;

                            article {
                                margin: 10px 30px;
                                height: calc(100vh - 150px);
                                background: #124271 linear-gradient(209deg, rgba(110, 125, 139, .3), rgba(100, 140, 183, .3), rgba(255, 0, 114, .3));

                                header {
                                    height: 48px;
                                    background: #1B4A78;
                                    line-height: 48px;

                                    i.icon-fanhui {
                                        vertical-align: sub;
                                        font-size: 25px;
                                        padding: 0 20px;
                                        cursor: pointer;
                                    }
                                }

                                section.handle {
                                    padding-top: 10px;
                                    padding-left: 20px;

                                    >label {
                                        margin-right: 20px;

                                        select,
                                        input {
                                            width: 150px;
                                            height: 30px;
                                            border-radius: 2px;
                                            background-color: #173E6A;
                                            border: 1px solid #2D639F;
                                        }

                                        select {
                                            width: 150px;
                                        }

                                        input {
                                            padding: 0 10px;
                                        }

                                        i {
                                            position: relative;
                                            left: -40px;
                                            line-height: 30px;
                                            font-size: 17px;
                                            vertical-align: middle;
                                            cursor: pointer;
                                            padding: 3px 10px;
                                        }
                                    }

                                    .addParts {
                                        display: inline-block;
                                        color: #27DDC3;
                                        font-size: 16px;
                                        vertical-align: middle;
                                        cursor: pointer;
                                        position: relative;
                                        left: -30px;
                                    }
                                }
                            }

                            aside.partForm {
                                position: fixed;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                background-color: rgba(0, 0, 0, .5);
                                z-index: 99;

                                >div {
                                    position: absolute;
                                    top: calc((100vh - 600px) / 2);
                                    left: 0;
                                    right: 0;
                                    margin: 0 auto;
                                    width: 800px;
                                    height: 600px;
                                    border-radius: 2px;
                                    background-color: #fff;
                                    padding: 30px 20px 0;
                                    color: #333;

                                    div.form-line {
                                        margin-bottom: 20px;

                                        label {
                                            width: 49%;
                                            position: relative;

                                            span {
                                                display: inline-block;
                                                width: 130px;
                                                text-align: right;
                                                font-size: 16px;
                                                color: #818181;
                                            }

                                            i.required {
                                                color: red;
                                                font-size: 20px;
                                                vertical-align: bottom;
                                                font-style: normal;
                                            }

                                            input {
                                                width: 200px;
                                                height: 35px;
                                                background: rgba(202, 202, 202, 0.27);
                                                border: 1px solid #C6C6C6;
                                            }

                                            select {
                                                width: 200px;
                                                height: 35px;
                                                background: rgba(202, 202, 202, 0.27);
                                                border: 1px solid #C6C6C6;
                                            }

                                            textarea {
                                                width: 200px;
                                                height: 35px;
                                                vertical-align: top;
                                                position: absolute;
                                            }

                                            input[type="file"] {
                                                display: inline-block;
                                                width: 70px;
                                                height: 25px;
                                                cursor: pointer;
                                            }

                                            div.fileNames {
                                                position: absolute;
                                                left: 210px;
                                                top: 0;
                                                width: 500px;
                                                background-color: #ccc;
                                                max-height: 70px;
                                                overflow-y: auto;
                                                overflow-x: hidden;
                                                min-height: 25px;

                                                span {
                                                    position: relative;

                                                    i {
                                                        position: absolute;
                                                        left: -2em;
                                                        top: 0;
                                                        color: red;
                                                        font-size: 12px;
                                                        line-height: 22px;
                                                        cursor: pointer;
                                                    }

                                                    b {
                                                        cursor: pointer;
                                                    }
                                                }
                                            }

                                            ul {
                                                position: absolute;
                                                top: 35px;
                                                left: 130px;
                                                width: 200px;
                                                padding: 0;
                                                list-style: none;
                                                background-color: #fff;
                                                z-index: 1;
                                                border: 1px solid rgba(198, 198, 198, 1);
                                                margin-left: 3px;

                                                li {
                                                    cursor: pointer;
                                                    line-height: 1.5;

                                                    &:hover {
                                                        background-color: #fff;
                                                        background-color: rgba(202, 202, 202, 0.27);
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    footer {
                                        margin-top: 80px;
                                        text-align: center;

                                        button {
                                            width: 93px;
                                            height: 44px;
                                            font-size: 20px;
                                            margin: 0 20px;
                                            border-radius: 2px;

                                            &.cancel {
                                                background: rgba(202, 202, 202, 0.27);
                                                border: 1px solid rgba(198, 198, 198, 1);
                                            }

                                            &.save {
                                                background-color: #29BDB4;
                                                color: #fff;
                                                border: 1px solid #29BDB4;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}