.publicSummary {
    background: url("../../images/enrichment/public/dataReportSummaryBg.jpg") no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    /* checkbox 样式 */
    .i-checks>i {
        background-color: transparent;
    }
    .i-checks input:checked+i {
        border-color: #1caf9a;
    }
    .i-checks input:checked+i:before {
        background-color: #1caf9a;
    }
    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    } // 防止闪现
    .ng-clock {
        display: none !important;
    } // 带颜色 icon
    .symbol-icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
    .page-number {
        height: 34px;
        line-height: 34px;
        select {
            width: 45px;
            height: 34px;
            background: #214c77;
            border: 1px solid #556d98;
            border-radius: 2px;
            vertical-align: middle;
        }
        span.page-next,
        span.page-pre {
            width: 34px;
            height: 34px;
            line-height: 34px;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            i {
                color: white;
            }
            &.disabled {
                border: 1px solid #556d98;
                background: #214c77;
                cursor: no-drop;
            }
        }
        input {
            width: 38px;
            height: 34px;
            border: 1px solid #556d98;
            background: #214c77;
        }
        span.page-go {
            width: 38px;
            height: 34px;
            line-height: 34px;
        }
    }
    >div {
        min-width: 1349px;
        .switch-power-enrich {
            .latest-update {
                font-size: 12px;
                margin-left: 35px; // position: absolute;
                line-height: 82px; // right: 300px;
            }
            .historical-record {
                position: absolute;
                right: 80px;
                top: 25px;
            }
        }
    }
}