.settlementAmount {
    height: 100vh;
    .settlement-amount-handle {
        margin: 0 30px;
        padding: 15px 0 5px;
        z-index: 1;
        position: relative;
        button {
            background: #15AB97;
            border: none;
            border-radius: 2px;
            padding: 5px 15px;
            &.serach-btn {
                float: left; // border: 1px solid #31639f;
                color: white;
                background: #1cb09a;
            }
        }
    }
    .settlement-amount-list {
        height: calc(100vh - 150px);
        margin: 0 30px;
        background: linear-gradient(209deg, rgba(14, 51, 93, 1), rgba(14, 54, 109, 1), rgba(35, 36, 91, 1));
        .my-table {
            .fixed-left {
                background-color: #14385c;
            }
            th {
                cursor: default;
                height: 50px;
                font-size: 16px;
                color: rgba(255, 255, 255, .7);
                background-color: rgb(11, 36, 60);
                font-weight: normal;
                text-align: center !important;
                border: 1px solid #092139;
                border-bottom: none;
                border-top: none;
                &:nth-child(1) {
                    border-right: none;
                    border-left: none; // padding-right: 2em;
                    text-align: center;
                }
                &:nth-child(2) {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
            }
            td {
                height: 50px;
                color: rgb(178, 216, 255);
                border: 1px solid #092139;
                padding: 0 1em;
                position: relative;
                font-size: 14px;
                &:nth-child(1) {
                    border-left: none; // padding-right: 2em;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    .slide-down {
        >div>div {
            color: #fff;
            margin-bottom: 1em;
            select,
            input[type=text], input[type=number] {
                width: 235px;
                border: 1px solid #31639f;
                background-color: rgba(23, 62, 106, 0.8);
                color: rgba(255, 255, 255, 0.8);
                padding: 5px;
            }
            .calendar {
                input[type=text]{
                    width: 100px;
                    text-align: center;
                }
            }
            >span {
                display: inline-block;
                width: 100px;
                text-align: right;
            }
            input.search-input {
                position: relative;
                width: 235px;
                left: -40px;
                background-color: #396FAB;
                padding: 2px 5px;
                border-radius: 5px;
                &::-ms-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    border-radius: 2px;
                }
                &::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    border-radius: 2px;
                }
            }
            label {
                display: inline-block;
                width: 152px;
                cursor: pointer;
            }
            button {
                background: #15AB97;
                border: none;
                border-radius: 2px;
                padding: 8px 25px;
                color: #fff;
            }
            &.imgs {
                position: relative;
                height: calc(100vh - 400px);
                input[type=file] {
                    display: inline-block;
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    left: 105px;
                    top: 0;
                    cursor: pointer;
                    opacity: 0;
                }
                img {
                    vertical-align: middle;
                    width: 100px;
                    height: 100px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}