.standardizationManagement{
    .select-con{
        width:150px;height:30px;border: 1px solid #31639f;border-radius: 2px;background-color: rgba(23,62,106,0.8);color: rgba(255,255,255,0.8);
        margin-left:5px;
        margin-right:40px;
    }
    .input-con{
        text-indent: 1em;
        margin-left:5px;
        height: 30px;
        width:150px;
        line-height: 30px;
        border: 1px solid rgba(88,155,231,0.6);
        border-radius: 2px;
        background-color: rgba(23,62,106,0.8);
        color: rgba(255,255,255,0.8);
    }
    .btn-common{
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding:0 15px;
        border-radius: 2px;
        &.search-btn{
            background: #1cb09a;
            border:1px solid #1cb09a;
            color:#fff;
        }
    }
    .my-table {
        .fixed-left {
            background-color: #14385c;
        }
        tr {
            cursor: pointer;
            &.tr-click{
                &:hover {
                    background-color: #1b4980;
                }
                &.active {
                    background-color: #1b4980;
                }
            }
        }
        th {
            cursor: default;
            height: 50px;
            font-size: 16px;
            color: rgba(255, 255, 255, .7);
            background-color: #0d2d4f;
            font-weight: normal;
            text-align: center !important;
            border: 1px solid #092139;
            border-bottom: none;
            border-top: none;
            &:nth-child(2) {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
        td {
            height: 50px;
            color: rgb(178, 216, 255);
            border: 1px solid #092139;
            padding: 0 2em;
            position: relative;
            font-size: 12px;
            background-color: rgba(18,66,113,0.3);
            &:nth-child(2) {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    .alertModal {
        position: fixed;
        top: 0; 
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: auto;
        transition: height 0.2s ease 0s;
    }
}