.stationEntrustCompanyManage {

    article.content {
        padding: 0 30px;

        footer {
            text-align: center;

            button {
                width: 212px;
                height: 48px;
                border-radius: 2px;
                font-size: 18px;
                margin: 0 20px;
                border: none;

                &.cancel {
                    background: rgba(163, 163, 163, 1);
                }

                &.commit {
                    background-color: #1CAF9A;
                }
            }
        }
    }

    .my-table {
        width: 100%;

        .fixed-left {
            background-color: #14385c;
        }

        tr.tr-click:hover {
            background-color: #1b4980;
        }

        tr {
            background-color: #0D3463;
        }

        th {
            height: 45px;
            font-size: 16px;
            color: rgba(255, 255, 255, .7);
            background-color: #0D2D4F;
            border-bottom: none;
            font-weight: normal;
            text-align: center !important;
            border: 1px solid #0A1C2C;
            border-bottom: none;
        }

        td {
            height: 50px;
            font-size: 16px;
            color: rgb(178, 216, 255);
            border: 1px solid #0A1C2C;
            padding: 0 1em;
            position: relative;
        }
    }
}