.stationGroupManagement{
    .poiter{
        cursor: pointer;
    }
    .department-tree{
        background-image: linear-gradient(25deg, rgba(48, 38, 111, 0.92) 0%, rgba(4, 64, 197, 0.3) 40%, rgba(113, 148, 173, 0.21) 120%);
        width:380px;border-radius: 4px;position: relative;
    }
    .group-con{
        padding: 20px 10px 10px 30px;
        line-height: 40px;
        .icon-shanchu1{
            position: absolute;
            right:10px;
            color:#ff8080;
        }
        .active{
            color:#06bebe
        }
    }
    .button-span{
        display: inline-block;
        padding:6px 15px;
        margin-right:10px;
        background:#1caf9a;
        border-radius: 2px;
    }
    .circle-icon{
        display:inline-block;
        width:5px;
        height:5px;
        border-radius: 50%;
        background: #c9d1d6;
        margin-right: 10px;
    }
}