.userManagement {
    .input-place-hoder::-webkit-input-placeholder {
        /* WebKit browsers */
        color: rgba(255, 255, 255, .5);
    }
    .input-place-hoder:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: rgba(255,255,255, .5);
    }
    .input-place-hoder::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: rgba(255,255,255, .5);
    }
    .input-place-hoder::-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: rgba(255,255,255, .5);
    }
    
    .poiter {
        cursor: pointer;
    }

    .button-span {
        display: inline-block;
        padding: 6px 15px;
        margin-right: 10px;
        background: #1caf9a;
        border-radius: 2px;
    }

    .department-tree {
        background-image: linear-gradient(25deg, rgba(48, 38, 111, 0.92) 0%, rgba(4, 64, 197, 0.3) 40%, rgba(113, 148, 173, 0.21) 120%);
        width: 380px;
        border-radius: 4px;
        position: relative;
    }

    .tree_manage li>a>span.button.ico_open {
        width: 18px;
        height: 18px;
        background: white;
        border-radius: 50%;
        border-left: none;
        border-right: none;
        border-top: none;
        border: 4px solid rgba(0, 0, 0, 0.7);
    }

    .tree_manage li>a>span.button.ico_close {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: white;
        border-left: none;
        border-right: none;
        border-top: none;
        border: 4px solid rgba(0, 0, 0, 0.7);
    }

    .tree_manage li>a>span.button.ico_docu {
        background-color: #c9d1d6;
    }

    .tree_manage li>a.curSelectedNode {
        background-color: transparent;
        color: #06bebe;
    }
    .tree-con{
        height:100px;
        overflow: auto;
    }

    .my-table {
        // background-color: rgba(18,66,113,0.3);

        .fixed-left {
            background-color: #14385c;
        }

        tr {
            cursor: pointer;

            &.tr-click {
                &:hover {
                    background-color: #1b4980;
                }

                &.active {
                    background-color: #1b4980;
                }
            }
        }

        th {
            cursor: default;
            height: 50px;
            font-size: 16px;
            color: rgba(255, 255, 255, .7);
            background-color: #0d2d4f;
            font-weight: normal;
            text-align: center !important;
            border: 1px solid #092139;
            border-bottom: none;
            border-top: none;

            &:nth-child(1) {
                // border-right: none;
                // border-left: none; // padding-right: 2em;
                // text-align: center;
            }

            &:nth-child(2) {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }

        td {
            height: 50px;
            color: rgb(178, 216, 255);
            border: 1px solid #092139;
            padding: 0 2em;
            position: relative;
            font-size: 12px;
            background-color: rgba(18, 66, 113, 0.3);

            &:nth-child(1) {
                // border-right: none;
                // border-left: none; // padding-right: 2em;
                // text-align: center;
            }

            &:nth-child(2) {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    .alertModal {
        position: fixed;
        top: 0; // bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: hidden;
        transition: height 0.2s ease 0s;
    }

    .roleConfigurationModel {
        padding: 0 30px;

        header {
            line-height: 38px;

            i {
                margin-right: 30px;
                font-size: 25px;
                vertical-align: sub;
                cursor: pointer;
            }

            span {
                font-size: 16px;
            }
        }

        aside {
            width: 280px;
            background: #124271 linear-gradient(209deg, rgba(110, 125, 139, .2), rgba(100, 140, 183, .2), rgba(255, 0, 114, .2));
            float: left;
            overflow: hidden;

            >div {
                width: calc(100% + 17px);
                height: 100%;
                overflow-y: scroll;

                span {
                    display: block;
                    width: 191px;
                    height: 30px;
                    background: rgba(23, 62, 106, 1);
                    border: 1px solid rgba(45, 99, 159, 1);
                    text-align: center;
                    line-height: 30px;
                    margin: 20px auto;
                    cursor: pointer;

                    &.active {
                        background-color: #1caf9a;
                    }
                }
            }
        }

        article {
            width: calc(100vw - 350px);
            float: right;
            overflow: hidden;
            background: #124271 linear-gradient(209deg, rgba(110, 125, 139, .2), rgba(100, 140, 183, .2), rgba(255, 0, 114, .2));

            >div {
                width: calc(100% + 17px);
                height: 100%;
                overflow-y: scroll;
                padding: 10px 30px;

                section {
                    margin-bottom: 10px;

                    .title {}

                    .content {
                        min-height: 100px;
                        background-color: #031A34;
                        padding: 20px 0;

                        .checked {
                            min-height: 50px;
                            padding: 20px;
                            position: relative;

                            label {
                                width: 180px;
                                margin-bottom: 1em !important;
                                position: relative;

                                // &:hover,
                                // &.active {
                                //     background-color: #124271;
                                // }

                                i {
                                    display: inline-block;
                                    font-style: normal;
                                    vertical-align: middle;
                                    width: 20px;
                                    height: 20px;
                                    background: rgba(33, 76, 119, .5);
                                    border: 1px solid rgba(95, 146, 200, 1);
                                    border-radius: 2px;
                                    text-align: center;
                                    line-height: 16px;
                                    font-size: 18px;
                                    color: #FF6E6E;
                                    cursor: pointer;
                                }

                                span {
                                    margin-left: 0.5em;
                                }
                            }

                            ul {
                                position: absolute;
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                left: 45px;
                                top: 0;
                                // background-color: #124271;
                                // border: 1px solid #5f92c8;
                                z-index: 1;
                                width: max-content;
                                max-width: calc(100vw - 700px);
                                max-height: 50px;
                                overflow: auto;
                                // width: 150px;
                                // height: 100%;
                                // max-height: 100%;
                                // overflow: auto;

                                li {
                                    padding: 0 1em;
                                    cursor: pointer;
                                    line-height: 2em;

                                    i {
                                        font-size: 16px;
                                        line-height: 20px;
                                        color: #1caf9a;
                                        font-weight: bold;
                                    }

                                    // &:hover {
                                    //     background-color: #031A34;
                                    // }
                                }
                            }
                        }

                        .options {
                            background: rgba(10, 37, 67, 1);
                            padding: 20px;
                            // box-shadow: 0px 7px 35px 3px rgba(64, 120, 201, 1);

                            label {
                                width: 150px;
                                margin-right: 30px;
                                margin-bottom: 1em !important;

                                i {
                                    background-color: rgba(33, 76, 119, .5);
                                    border: 1px solid rgba(95, 146, 200, 1);
                                    border-radius: 2px;
                                }

                                span {
                                    margin-left: 0.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}