.videoSurveillance {
    .header-center {
        display: inline-block;
        margin-left: calc((100vw - 930px) / 3);

        i {
            margin: 0 20px;
            color: rgba($color: #fff, $alpha: 0.6);
            line-height: 75px;
            cursor: pointer;
            font-size: 40px;

            &.active {
                color: rgba(58, 232, 184, 1);
            }
        }

        span {
            font-size: 40px;
            margin: 0 15px;
            cursor: pointer;

            &.active {
                color: rgba(58, 232, 184, 1);
            }
        }
    }

    .video-list {
        padding: 10px 25px;
        height: calc(100vh - 80px);

        >div {
            width: 100%;
            height: 100%;
            overflow: hidden;

            >div {
                width: calc(100% + 17px);
                height: 100%;
                overflow-y: scroll;

                a {
                    font-size: 30px;
                    color: rgba(58, 232, 184, 1);
                }

                .video-item {
                    float: left;
                    height: 0;
                    padding: 25% 0;
                    position: relative;
                    transition: all 0.5s ease;

                    .video-content {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        padding: 5px;

                        .video {
                            width: 100%;
                            height: 100%;
                            background-color: rgba(22, 62, 103, .8);
                            position: relative;
                            overflow: hidden;

                            .vjs-poster {
                                background-size: auto;
                                background-position: left top;
                            }

                            .vjs-tech {
                                pointer-events: none;
                            }

                            i.iconfont.icon-jiankong- {
                                position: absolute;
                                bottom: 0;
                                margin-bottom: -24.4%;
                                right: -5%;
                                font-size: 50%;
                                color: rgba(31, 106, 183, .3);
                            }
                        }
                    }
                }
            }
        }

    }

    aside.aside {
        position: fixed;
        right: 0;
        top: 75px;
        bottom: 0;
        width: 0;
        z-index: 9;
        background-color: rgba(22, 78, 136, 1);
        transition: all 500ms ease;

        &.open {
            width: 280px;
        }

        i.iconfont.icon-zhankai-1 {
            position: absolute;
            right: 0;
            top: 0;
            background-color: rgba(22, 78, 136, 1);
            width: 27px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: rgba(58, 232, 184, 1);
            cursor: pointer;
        }

        i.iconfont.icon-shouqi- {
            color: rgba(58, 232, 184, 1);
            font-size: 12px;
            margin-left: 10px;
            line-height: 20px;
            cursor: pointer;
        }

        .catalog {
            height: calc(100% - 240px);
            overflow: hidden;

            >div {
                width: calc(100% + 17px);
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;

                .tab {
                    border: 1px solid #274f78;

                    button {
                        float: left;
                        width: 50%;
                        background-color: transparent;
                        border: none;

                        &.active {
                            background-color: #31c1aa;
                        }
                    }
                }

                /* ztree的样式 */
                .ztree {
                    width: 400px;
                    text-indent: 15px;
                    padding: 0;

                    * {
                        font-size: 14px;
                    }

                    li {
                        line-height: 20px;
                        white-space: normal;

                        a.level0,
                        a.level1,
                        a.level2,
                        a.level3,
                        a.level4,
                        a.level5,
                        a.level6,
                        a.level7 {
                            text-indent: 0;
                        }

                        ul {
                            padding: 0;

                            &.level0 {
                                text-indent: 31px;
                            }

                            &.level1 {
                                text-indent: 47px;
                                background: rgba(27, 68, 113, 1);
                            }

                            &.level2 {
                                text-indent: 63px;
                                background: #0e325a;
                            }

                            &.level3 {
                                text-indent: 79px;
                                background: #081e36;
                            }

                            &.level4 {
                                text-indent: 95px;
                                background: #03111f;
                            }

                            &.level5 {
                                text-indent: 111px;
                                background: #03111f;
                            }

                            &.level6 {
                                text-indent: 127px;
                                background: #03111f;
                            }
                        }

                        a {
                            margin: 2px 0;
                            max-width: 220px;
                            height: auto;
                        }

                        span {
                            &.button {
                                background-image: url('../../images/enrichment/videoSurveillance/checkbox.png');
                                width: 15px;
                                height: 15px;

                                &.switch {
                                    display: none;
                                }

                                &.chk {
                                    margin-top: 4px;
                                    margin-right: 4px;

                                    &.checkbox_true_part {
                                        background-position: 0 -30px;
                                    }

                                    &.checkbox_false_part {
                                        background-position: 0 -30px;
                                    }

                                    &.checkbox_true_part_focus {
                                        background-position: 0 -30px;
                                    }

                                    &.checkbox_false_full {
                                        background-position: 0 -60px;
                                    }

                                    &.checkbox_false_full_focus {
                                        background-position: 0 -60px;
                                    }

                                    &.checkbox_true_full {
                                        background-position: 0 0;
                                    }

                                    &.checkbox_true_full_focus {
                                        background-position: 0 0;
                                    }
                                }

                                &.ico_close {
                                    background-image: url('../../images/arraw-right.png');
                                    background-position: -2px 0;
                                }

                                &.ico_open {
                                    background-image: url('../../images/arraw-bottom.png');
                                    background-position: -2px 0;
                                }

                                &.ico_docu {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .curSelectedNode {
                    background: none;
                }
            }
        }

        .cloudHandel {
            height: 230px;
            padding: 15px;

            >div {
                height: 100%;
                border-top: 1px solid rgba(12, 41, 71, 1);
                padding-top: 10px;
                font-size: 16px;

                .steeringWheel {
                    float: left;
                    width: 149px;
                    height: 151px;
                    background: url(../../images/enrichment/videoSurveillance/steeringWheel.png);
                    position: relative;

                    i {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(../../images/enrichment/videoSurveillance/arrow.png);
                        cursor: pointer;

                        &.top {
                            top: 10px;
                            left: 50%;
                            transform: translateX(-50%);
                            background-position: 0 -28px;

                            &:hover {
                                background-position: -38px -28px;
                            }
                        }

                        &.bottom {
                            bottom: 10px;
                            left: 50%;
                            transform: translateX(-50%);
                            background-position: 0 -86px;

                            &:hover {
                                background-position: -38px -86px;
                            }
                        }

                        &.left {
                            left: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            background-position: 0 0;

                            &:hover {
                                transform: translateY(-50%) translateX(-5px);
                                background-position: -38px 0;
                            }
                        }

                        &.right {
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%) translateX(5px);
                            background-position: 0 -60px;

                            &:hover {
                                transform: translateY(-50%);
                                background-position: -38px -60px;
                            }
                        }
                    }
                }

                .joystick {
                    float: right;
                    width: 80px;
                    height: 151px;
                    padding-top: 25px;

                    >div {
                        height: 22px;
                        margin-bottom: 10px;
                        text-align: center;

                        i {
                            width: 22px;
                            height: 22px;
                            display: inline-block;
                            background: rgba(72, 166, 228, 1);
                            border: 1px solid rgba(146, 212, 255, 1);
                            line-height: 20px;
                            cursor: pointer;

                            &.pull-left {
                                color: rgba(253, 184, 20, 1);
                                font-size: 20px;
                            }

                            &.pull-right {
                                color: rgba(29, 221, 187, 1);
                                font-size: 28px;
                            }
                        }

                        span {
                            font-size: 14px;
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}