.workingConfigure{
    ul,p{
        padding:0;
        margin:0;
    }
    .flex{
        display:flex;
    }
    .flex_1{
        flex:1;
    }
    .light-white{
        color:rgba(255,255,255,0.5)
    }
    .left-menu{
        background-image: linear-gradient(25deg, rgba(48, 38, 111, 0.92) 0%, rgba(4, 64, 197, 0.3) 40%, rgba(113, 148, 173, 0.21) 120%); 
        .menu-btn{
            height:30px;line-height: 30px;margin:20px auto;width:190px;cursor: pointer;
            list-style: none;
            background:rgba(23,62,106,0.8);
            border:1px solid rgba(45,99,159,1);
            color:rgba(255,255,255,0.8);
            text-align:center;
            &.active-btn{
                background:rgba(28,175,154,0.8);
                border:1px solid rgba(45,99,159,1);
            }
            a{
                display: block;
                color: rgba(255,255,255,0.8);
            }
        }
    }
    .block-area{
        margin: 20px 40px;
        .m-r-20{
            margin-right:20px;
        }
        .block-title{
            padding:10px 0;
        }
        .bg-area{
            background:rgba(14,42,73,1);
            padding:24px;
        }
        .label-width{
            width:10em;
            text-align:right;
        }
        
    }
    .common-btn{
        display:inline-block;
        width:65px;
        height:30px;
        line-height: 30px;
        border:1px solid rgba(255,255,255,0.6);
        &.save-btn{
            background:rgba(28,175,154,0.8);
            border:rgba(28,175,154,1);
        }
    }
    .table > tbody > tr > td {
        border-top: 1px solid rgba(255,255,255,0.5);
        color: rgba(255,255,255,0.5);
    }
    .table > thead > tr > th {
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
}