.workingConfigure{
    ul,p{
        padding:0;
        margin:0;
    }
    .flex{
        display:flex;
    }
    .flex_1{
        flex:1;
    }
    .light-white{
        color:rgba(255,255,255,0.5)
    }
    .left-menu{
        background-image: linear-gradient(25deg, rgba(48, 38, 111, 0.92) 0%, rgba(4, 64, 197, 0.3) 40%, rgba(113, 148, 173, 0.21) 120%); 
        .menu-btn{
            height:30px;line-height: 30px;margin:20px auto;width:190px;cursor: pointer;
            list-style: none;
            background:rgba(23,62,106,0.8);
            border:1px solid rgba(45,99,159,1);
            color:rgba(255,255,255,0.8);
            text-align:center;
            &.active-btn{
                background:rgba(28,175,154,1);
                border:1px solid rgba(45,99,159,1);
                a{
                    color:rgba(255,255,255,1);
                }
            }
            a{
                display: block;
                color: rgba(255,255,255,0.8);
            }
        }
    }
    .block-area{
        margin: 20px 40px;
        .m-r-20{
            margin-right:20px;
        }
        .m-r-50{
            margin-right:50px;
        }
        .m-b-20{
            margin-bottom:20px;
        }
        .block-title{
            padding:10px 0;
        }
        .bg-area{
            background:#031A34;
            padding:24px;
        }
        .label-width{
            width:10em;
            text-align:right;
        }
        .disabledInput{
            background:transparent;
            border:none;
        }
        .abledInput{
            background: transparent;
            border:1px solid rgba(255,255,255,0.8);
            width: 100px;
        }
    }
    .common-btn{
        display:inline-block;
        width:65px;
        height:30px;
        line-height: 30px;
        border:1px solid rgba(255,255,255,0.6);
        &.save-btn{
            background:rgba(28,175,154,0.8);
            border:rgba(28,175,154,1);
        }
        &.disabledButton{
            background:grey;
        }
    }
    .line-save-btn{
        font-style:normal;color:#1ddabe;cursor: pointer;
        &.disabledButton{
            color:grey;
        }
    }
    .table > tbody > tr > td {
        border-top: 1px solid rgba(255,255,255,0.5);
        color: rgba(255,255,255,1);
    }
    .table > thead > tr > th {
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }
    .i-checks input[disabled] + i{
        border-color:rgba(255,255,255,0.4);
    }
    .i-checks input[disabled] + i:before {
        background-color:rgba(255,255,255,0.4);
    }
    .restrict-table.table>tbody>tr{
        border:none;
        td{
            border:none;
        }
    }
    .restrict-table.table > thead > tr > th {
        border:none;
        color: rgba(255,255,255,0.6);
    }
    .active-select{
        border:1px solid rgba(255,255,255,1);
        background:rgba(14, 42, 73, 1);
    }
    .disabled-select{
        background: transparent;
        -webkit-appearance: none;
        border: none;
    }
    .calendar {
        input{
            background:transparent;
            border: 1px solid rgba(255,255,255,0.8);
            width: 100px;
        }
    }
    .active-calendar{
        .calendar {
            input{
                border: 1px solid rgba(255,255,255,1);
            }
        }
    }
    .search-input{
        text-indent:1em;height: 30px;width: 170px;line-height: 30px;border: 1px solid rgba(88,155,231,0.6);border-radius:2px;background-color: rgba(23,62,106,0.8);color: rgba(255,255,255,0.8);
    }
    .btn-info{
        vertical-align: top;
    }
    .add-small-btn{
        display:inline-block;
        width:16px;
        height:16px;
        color:rgba(64, 199, 190, 1);
        border:1px solid rgba(64, 199, 190, 1);
        border-radius: 50%;text-align: center;
        line-height: 16px;
        margin-right: 8px;
    }
    .my-table {        
        .fixed-left {
            background-color: #14385c;
        }
        tr {
            cursor: pointer;
            &.tr-click{
                &:hover {
                    background-color: #1b4980;
                }
                &.active {
                    background-color: #1b4980;
                }
            }
        }
        th {
            cursor: default;
            height: 50px;
            font-size: 14px;
            color: rgba(255, 255, 255, .7);
            background-color: #0d2d4f;
            font-weight: normal;
            text-align: center !important;
            border: 1px solid #092139;
            border-bottom: none;
            border-top: none;
            &:nth-child(2) {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
        td {
            height: 50px;
            border: 1px solid #092139;
            position: relative;
            font-size: 12px;
            background-color: rgba(18,66,113,0.3);
            &:nth-child(2) {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    .assessment{
        .table{
            tr:nth-child(2n) {
                background:rgba(29,64,103,0.8);
            }
            tr:nth-child(2n+1) {
                background:rgba(29, 64, 103, 0.4)
            }
        }
    }
    #b{
        tr.tr_bg:nth-child(2n) {
            background:rgba(29,64,103,0.8);
        }
        tr.tr_bg:nth-child(2n+1) {
            background:rgba(29, 64, 103, 0.4)
        }
    }
    #c{
        tr.tr_bg:nth-child(2n) {
            background:rgba(29,64,103,0.8);
        }
        tr.tr_bg:nth-child(2n+1) {
            background:rgba(29, 64, 103, 0.4)
        }
    }
    #d{
        tr.tr_bg:nth-child(2n) {
            background:rgba(29,64,103,0.8);
        }
        tr.tr_bg:nth-child(2n+1) {
            background:rgba(29, 64, 103, 0.4)
        }
    }
    .alertModal {
        position: fixed;
        top: 0; 
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);
        z-index: 100;
        overflow: hidden;
        transition: height 0.2s ease 0s;
    }
    .disabled-modal{
        z-index:2;
        position: absolute;
        bottom:0;
        top:0;
        left:0;
        right:0;
        background: rgba(0,0,0,0.7);
        text-align: center;
        font-size: 16px;
        padding-top: 50px;

    }
    .form-group {
        line-height:34px;
        font-size: 14px;
    }
    .form-input{
        display: inline-block;
        width: 85%;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
        border: 1px solid #ccc;
        text-indent: 1em;
    }
}