/**
web 界面颜色字体规范文档
*/
/**
	颜色  浅蓝：#4696cf  深蓝：#428bca  浅绿：#1caf9a 深绿：#2d96a1
*/
.navbar-footer-solway{
	height: 80px;
    position: fixed;/
    z-index: 1030;
    bottom: 0px;
    margin-left: -15px;
    z-index:2004
}
.fixedTable{
	display: block;
    position: fixed;
    top: 50px;
    background-color: #fff;
    z-index: 200;
}
#go-back-flag{
	display: none;
}
.panel .nav-tabs {
	border: 0px;
}
.panel-info{
	 border: 0px;
	 border-radius:0px;
}
.panel-info .nav >li{
	 border: 0px;
	 border-radius:0px;
	 padding: 11px 5px
}
.panel-info .nav {
	  margin: -15px -15px;
}
.panel-info .panel-body ,.panel-success .panel-body{
	  height:100px;
}
.panel-info .nav > li > a {
	 padding: 0px;
     color:#fff;
     border: 0px;
	 border-radius:0px;
	 margin-top:4px;
	 padding: 3px 10px
}

.imgfile input[type="file"]{
	position: absolute;
	width: 150px;
	height:95px;
	opacity: 0;
}
.fileimgsize {
	border: 1px solid #cfdadd;
	width:150px;
    height:95px;
    margin-right: 10px;
    float:left
}
.imgfile #picture0{
	display:block;
}
.panel-info .nav > li > a:hover,.panel-info  .nav > li > a:focus {

	color: #428bca;
    border-radius: 20px;
}
.panel-info .nav-tabs > li.active > a,.panel-info .nav-tabs > li.active > a:focus {
    color: #428bca;
    border-radius: 20px;
}
.panel-info > .panel-heading {
	padding:9px 0px 9px 15px;
    color: #fff;
    border-radius:0px;
    background-color: #4696cf;
    border-color: #4696cf;
}
.writeOtherReason{
    color: #428bca!important;
    border: 1px solid #428bca!important;
    border-radius: 0px;
    }
.panel-info,.panel-success{
	margin-bottom:10px;
}
.panel-success{
	 border: 0px;
	 border-radius:0px;
}
.panel-success > .panel-heading {
	padding:9px 0px 9px 15px;
    color: #fff;
    border-radius:0px;
    background-color: #1caf9a;
    border-color: #1caf9a;
}
.panel-success .nav >li{
	 border: 0px;
	 border-radius:0px;
	 padding: 11px 5px
}
.panel-success .nav {
	  margin: -9px -15px;
}
.panel-success .nav > li > a {
	 padding: 0px;
     color:#fff;
     border: 0px;
	 border-radius:0px;
	 margin-top:4px;
	 padding: 3px 10px
}
.panel .imgdiv{
	margin-left: 10px;
    background-color: rgba(0, 0, 0,0.05);
    height: 38px;
    margin-top: -8px;
    line-height: 38px;
    padding: 0px 30px;
    }
/**
选中状态
*/
.month div{
	margin:10px 0px;
}
.monthActive{
	color:#fff;
	border-radius:50%;
    background-color: #428bca;
    padding: 5px;
}
.yearActive{
	color: #fff;
    border-radius: 40px;
    background-color: #428bca;
    padding: 5px;
}
.yearActive:hover, .yearActive:focus, .monthActive:hover, .monthActive:focus ,.quarterActive:hover, .quarterActive:focus,.areaActive:hover, .areaActive:focus{
    color: #fff
}
.quarterActive{
	color: #fff;
    border-radius: 40px;
    background-color: #428bca;
    padding: 5px 10px;
}
.areaActive{
	color: #fff;
    border-radius: 40px;
    background-color:#2d96a1;
    padding: 5px 10px;
    margin:10px 0px;
}
.dataTypeActive{
	color: #fff;
    border-radius: 40px;
    background-color: #f1b900;
    padding: 5px;
}
.areaDiv div{
	margin:10px 0px;
	padding: 5px 10px;
}
.panel-success .nav > li > a:hover,.panel-success  .nav > li > a:focus {
	color: #2d96a1;
    border-radius: 20px;
}
.panel-success .nav-tabs > li.active > a,.panel-success .nav-tabs > li.active > a:focus {
    color: #2d96a1;
    border-radius: 20px;
}
.downJt{
	margin-top:5px;
	margin-left: 155px;
	display: none;
}
.upJt{
	margin-left: 155px;
	display: none;
}
.modelCloseBtn{
	position: absolute;
    font-size: 35px;
    right: -18px;
    top: -18px;
    color: #666;
    z-index: 99999;
}
.circle{
	width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #666;
}
.font-thin-table .table > thead > tr > th {
    font-weight: 300;
}
.table> tbody + tbody {
     border-top: 1px solid #e3e8f0;
}
.table-list > tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
}
.table-list  > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #e3e8f0;
}
.table-list> tbody > tr:nth-child(odd) {
    background-color: #fff;
}
.font-thin-table .table > tbody > tr > td {
        padding:10px 15px;
}
.table-list > thead > tr > th {
    color: #fff;
}
.nav-choose li a{
	width: 120px;
	margin:0px 10px 10px 0px;
}
.submit-btn{
	background-color:#428bca;
	width: 180px;
	height: 42px;
	color:#fff;
}
.submit-btnt{
	background-color:#1caf9a;
	width: 180px;
	height: 42px;
	color:#fff;
}
.hr-b-orange{
	background-color: #ff9b6d;
}
.hr-b-green1{
	background-color: #5fc6be;
}
.hr-b-green2{
	background-color: #5fc6be;
}
.hr-b-yellor{
	background-color: #ffc400;
}
.hr-bottom{
margin: 0px;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    }
.green{
	color:#1caf9a;
}
.green2{
color:#6fbb18
}
.border-black{
	border:1px solid rgba(28, 42, 54,.5);
}
.border-none{
	border:0px solid #1c2a36
}
.href-blur{
	color:#428bca!important;
}
.body-bg-color{
	background-color: #f0f3f6
}
.bg-white{
	background-color: #fff;
}
.warning{
	color:#e74c3c;
}
.b-default{
  border-color: #dbe1e8;
}
.data-red{
	color:#e74c3c;
}
.data-bg-red{
	background:#e74c3c;
}
.data-bg-red-2{
	background:#bb78bd;
}
.data-green{
	color:#1caf9a;
}
.data-bg-green{
	background-color:#1caf9a;
}
.data-blue{
	color:#21a5dc;
}
.data-bg-blue{
	background-color:#21a5dc;
}
.data-yellow{
	color:#f1b900;
}
.data-bg-yellow{
	background-color:#f1b900;
}
.data-orange{
	color:#f27136;
}
.data-bg-orange{
	background-color:#f27136;
}
.data-grey{
	color:#657282;
}
.data-bg-grey{
	background:#657282;
}
/**
	透明度
*/
.white-trans-80{
	color:rgba(255, 255, 255,0.8);
}
.white-trans-70{
	color:rgba(255, 255, 255,0.7);
}
/**
	字体大小
*/
.font-big-1{
	font-size:30px;
}
.font-big-32{
	font-size:32px;
}
.font-big-34{
	font-size:34px;
}
.font-big-26{
	font-size:26px;
}
.font-big{
	font-size:24px;
}
.font-h{
	font-size:22px;
}
.font-h1{
	font-size:20px;
}
.font-h2{
	font-size:18px;
}
.font-h3{
	font-size:16px;
}
.font-h4{
	font-size:14px;
}
.font-h5{
	font-size:13px;
}
.font-h6{
	font-size:12px;
}

/**
	字体颜色
*/
.black-5{
	color:#ccc
}
.black-4{
	color:#999
}
.bg-black-4{
	background-color:#999
}
.bg-blue-1{
	background-color:#4696cf;
}
.bg-blue-2{
	background-color:#1caf9a;
}
.black-3{
	color:#707070
}
.black-2{
	color:#666
}
.black-0{
	color:#000;
}
.bg-black-2{
	background-color:#666
}
.bg-black-05{
	background-color:rgba(0, 0, 0,0.05);
}
.black-1{
	color:#333
}
.blue-1{
	color:#1e3e50
}
.blue-2{
	color:#4f5f6f
}
.blue-3{
	color:#4488BB
}
.blue-4{
	color:#3E6792
}
.blue-5{
	color:#4696cf
}
.blue-6{
	color:#1caf9a
}
.white-1{
	color:#ffffff!important
}
.white-2{
	color:#f0f3f6
}
.grey{
	color:#98a6ad
}
/**
导航颜色
*/
.nav-title{
	color:#9fa1a8;
	font-size:13px;
}
.header-nav > li > a {
    color:#333;
}
/**
滚动图片样式
*/

#photos { visibility: hidden;    margin: 0px auto!important; }
.gallery { background: #ddd; padding: 5px;}
.filmstrip { margin: 5px; }
.frame {}
.frame .img_wrap { border: 1px solid #aaa; }
.frame.current .img_wrap { border-color: #000; }
.frame img { border: none; }
.frame .caption { font-size: 11px; text-align: center; color: #888; }
.frame.current .caption { color: #000; }
.pointer {
	border-color: #000;
}
/* 首页tab 切换样式 */
.bg-green-94{
	background-color: #94c75a
}
.bg-green-94:hover{
	background-color: #67A025
}
.bg-blue-new{
	background-color: #579fd3
}
.bg-blue-new:hover{
	background-color: #1F87D2
}
.plure-new{
	color: #6554b2
}
.btn-nav  > li.active > a {
    color: #fff;
    border-radius: 40px;
    background-color: #2d96a1!important;
}
.btn-nav > li> a {
    padding: 5px 20px!important;
    color:#666;
    margin:0px 10px
}
.btn-nav > li.active > a, .btn-nav> li.active > a:hover, .btn-nav> li.active > a:focus {
    color: #fff;
}
#table-div{
	overflow: auto
}
.nav-xxs > li.active > a {
    color: #fff;
    padding: 20px 0px;
    border-radius: 40px;
    background-color: #579fd3!important;
}
.nav-xxs > li.active > a,.nav-xxs > li.active > a:hover, .nav-xxs> li.active > a:focus {
    color: #fff;
}
.nav-xxs > li > a {
	text-align: center;
	width: 27px;
    padding: 20px 0px;
    color:#666;
    margin: 0px 0px 0px -5px;
}
.no-hover.nav > li > a:hover, .no-hover .nav > li > a:focus {
    border-left: 0px!important;
    background-color: #1caf9a;
    color: #fff;
    height: 50px;
}
/*全屏背景遮罩层*/
.loadingPage_bg1 {
	background:none repeat scroll 0 0 #000;
	height:100%;
	left:0; /*:rgba(0,0,0,0.5);*/
	opacity:0.7;
	filter:alpha(opacity=70);
	width:100%;
	position:absolute;
	top:0px;
	z-index: 1056;
}
/*局部背景遮罩*/
.loadingPage_bg {
	background:none repeat scroll 0 0 transparent;
	height:100%;
	left:0; /*:rgba(0,0,0,0.5);*/
	opacity:1;
	filter:alpha(opacity=100);
	width:100%;
	z-index:110;
}

#loadingPage {
	display:block;
	font-weight:bold;
	font-size:12px;
	color:#595959;
	left:50%;
	margin-left:-74px;
	margin-top:-14px;
	padding:10px 10px 10px 50px;
	position:absolute;
	text-align:left;
	top:50%;
	z-index:1057;
	background:url(../theme/images/solway/icon/loading.gif) no-repeat scroll 12px center #FFFFFF;
}
.select ul {
     background-color: #fff!important;
     border: 1px solid #dee5e7;
}
.nowrap{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.default-blue-bg{
	background: #06bebd;
	color:#fff;
}

.default-blue{
	color: #06bebd;
}
.zoom-5{
	zoom:0.5;
}
.taskListDiv{
	background: #fff;
    color: #666;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 10px;
}
.ownDiv{
	background: #06bebd;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    float: right;
    padding:10px;
}
.ownDiv .black-2{
	color:#fff;
}
.ownDiv .black-0{
	color:#fff;
}
.f-task-div{
	padding:15px;
	background-color: #fafafa;
	color:#999;
	border-bottom: 1px solid #ddd;
}
.z-index-0{
	z-index:0;
}
.taskTitle{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    padding:16px 15px;
    height: 53px;
}
.taskBtn{
	background: #06bebd;
	color:#fff;
	border-color: 1px solid #06bebd
}
.ownDiv .taskBtn{
	background: #fff;
	color:#06bebd;
	border-color: 1px solid #06bebd
}
.ownDiv .taskDetails .default-blue{
	color:#fff;
}
.ownDiv .taskBtn:hover,.ownDiv .taskBtn:focus,.ownDiv .taskBtn.focus {
    color: #06bebd;
    text-decoration: none;
}
.taskBtn:hover, .taskBtn:focus, .taskBtn.focus {
    color: #fff;
    text-decoration: none;
}
.noteListActive{
	    background-color: #edf1f2;
}
.noteListActive .badge{
	 display: none
}
.nav-tabs-writer > li > a:hover, .nav-tabs-writer > li > a:focus {
    background-color: #fff;
    color: #06bebd;

}
.nav-tabs-writer > li > a{
	border: transparent;
    border-radius: 2px 2px 0 0;
    padding-left: 0px;
    padding-right: 0px;
}
.nav-tabs-writer > li > a > .active{
	background-color: #fff;
    color: #06bebd;
}
.nav-tabs-writer{
	border: transparent;
}
.nav-tabs-border > li > a:hover, .nav-tabs-border> li > a:focus {
    background-color: #fff;

}
.nav-tabs-border > li > a{
	border: transparent;
    border-radius: 2px 2px 0 0;
    padding-left: 0px;
    padding-right: 0px;
}
.nav-tabs-border  .active{
	background-color: #fff;
   	border-bottom: 1px solid #06bebd;
}
.nav-tabs-border{
	border: none;
	border-bottom: 1px solid #ddd;
}
.nav-tabs-border li{
	margin-bottom:0px;
}
.nav-tabs-border> li > a > .active{
	background-color: #fff;
}
.nav-tabs-border > li:hover > a, .nav-tabs-border> li.active > a, .nav-tabs-border > li.active > a:hover {
    border: transparent;
}
.handle1{
	color:#e74c3c;
}
.handle2{
	color:#c79b23;
}
.handle3{
	color:#666;
}
.handle1-bg{
	    background-color: rgba(231, 76, 60,0.1);
}
.handle2-bg{
	background-color: rgba(199, 155, 35,0.1)
}
.handle3-bg{
	background-color:rgba(102, 102, 102,0.1);
}
.readDiv{
	    border: 1px solid rgba(231, 76, 60,0.8);
}
.noteModal .modal-dialog{
	margin-top:100px
}
.noteModal .modal-header {
    background-color: #f7f7f7;
    border-radius: 6px 6px 0px 0px;
    border:0px
}
.noteModal .form-control{
       background-color: #f7f7f7;
}
.noteModal .form-horizontal .control-label {
    text-align: left!important;
    padding-left: 15px;
    padding-right: 0px;
}
.redBtn{
	    background-color: #e74c3c;
    color: #fff;
}
.redBtn:hover, .redBtn:focus, .redBtn.focus {
    color: #fff;
    text-decoration: none;
}
.fileimgsize-sm{
    border: 1px solid #cfdadd;
    width: 100px;
    height: 95px;
    margin-right: 10px;
    float: left
}
.imgfile-sm input[type="file"] {
    position: absolute;
    width: 100px;
    height: 95px;
    opacity: 0;
}
#notePaging{
	position: absolute;
	left:0px;
	bottom: 10px;
	right: 0px
}
#notePaging a{
	background-color: #f7f7f7;
    padding: 5px;
}
.prePageactive{
	background-color: rgba(6, 190, 189,0.7)!important;
    color: #fff!important;
    padding: 5px;
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 5px;
}
.note_task_pager{
	width: 280px;
	padding-top:10px
}
.note_task_pager .note_task{
	    float: left !important;
}
.note_task_pager #pageSizeSelect{
	  width: 50px!important;
	  padding:0px
}
.icon-size{
	width: 16px;
	height:16px;
}
.coverDiv{
	background: rgba(0, 0, 0,0.3);
}
.coverDiv:focus {
    background: rgba(0, 0, 0,0.3)!important;
    border: transparent!important;
    cursor: Auto;
}
.map-jt{
	padding: 2px 8px;
    font-size: 20px;
    background: #04B1B0;
    color: rgba(28, 43, 54,.9)!important;
    border-radius: 4px;
    cursor: pointer;
    color:#fff;
}
.map-jt-sm {
	font-size: 14px;
	padding: 0 5px;
	color: #333 !important;
}
.map-nav-ul > li > a:hover, .map-nav-ul > li > a:focus {
    background: transparent;
    color: #fff;
}
.map-nav-ul  .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}
.map-nav-ul .dropdown-menu {
    border:1px solid rgba(4, 177, 176,.5)!important;;
    background: rgba(255, 255, 255,0.07);
    color:#fff;
}
.map-nav-ul .dropdown-menu > li > a {
    color:#fff
}
.map-nav-ul .dropdown-menu .divider {
    background-color: rgba(4, 177, 176,.5)!important;
}
.bg-black-green{
	 background: #1c2b36!important;
}
.map-nav-ul .dropdown-menu > li > a:hover,.map-nav-ul .dropdown-menu > li > a:focus,.map-nav-ul .dropdown-menu > .active > a,.map-nav-ul .dropdown-menu > .active > a:hover,.map-nav-ul .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: transparent !important;
}
.chartActive{
	    background: rgba(0, 0, 0,.1);
}
.first-left-mon{
	height: 354px!important;
}
.error{
	border-color: #e74c3c !important;
	box-shadow: 0 0 6px #f8b9b7 !important;
}
label.error {
    display: block;
    margin-bottom: 0px;
    box-shadow: none !important;
}
label.error .popover{
    border-radius: 5px;
}
.pt5 {padding-top: 5px;}.pt10 {padding-top: 10px;}.pt15 {padding-top: 15px;}.pt20 {padding-top: 20px;}.pt25 {padding-top: 25px;}.pt30 {padding-top: 30px;}.pt40 {padding-top: 40px;}
.pr5 {padding-right: 5px;}.pr10 {padding-right: 10px;}.pr15 {padding-right: 15px;}.pr20 {padding-right: 20px;}.pr25 {padding-right: 25px;}.pr30 {padding-right: 30px;}.pr40 {padding-right: 40px;}
.pb5 {padding-bottom: 5px;}.pb10 {padding-bottom: 10px;}.pb15 {padding-bottom: 15px;}.pb20 {padding-bottom: 20px;}.pb25 {padding-bottom: 25px;}.pb30 {padding-bottom: 30px;}.pb40 {padding-bottom: 40px;}
.pl5 {padding-left: 5px;}.pl10 {padding-left: 10px;}.pl15 {padding-left: 15px;}.pl20 {padding-left: 20px;}.pl25 {padding-left: 25px;}.pl30 {padding-left: 30px;}.pl40 {padding-left: 40px;}.pl80 {padding-left: 80px;}
.p10 {padding: 10px;}.p20 {padding: 20px;}
.m10 {margin: 10px;}.m20 {margin: 20px;}
.mt5 {margin-top: 5px;}.mt10 {margin-top: 10px;}.mt15 {margin-top: 15px;}.mt20 {margin-top: 20px;}.mt25 {margin-top: 25px;}.mt30 {margin-top: 30px;}.mt40 {margin-top: 40px;}
.mr5 {margin-right: 5px;}.mr10 {margin-right: 10px;}.mr15 {margin-right: 15px;}.mr20 {margin-right: 20px;}.mr25 {margin-right: 25px;}.mr30 {margin-right: 30px;}.mr40 {margin-right: 40px;}
.mb5 {margin-bottom: 5px;}.mb10 {margin-bottom: 10px;}.mb15 {margin-bottom: 15px;}.mb20 {margin-bottom: 20px;}.mb25 {margin-bottom: 25px;}.mb30 {margin-bottom: 30px;}.mb40 {margin-bottom: 40px;}
.ml5 {margin-left: 5px;}.ml10 {margin-left: 10px;}.ml15 {margin-left: 15px;}.ml20 {margin-left: 20px;}.ml25 {margin-left: 25px;}.ml30 {margin-left: 30px;}.ml40 {margin-left: 40px;}
.lh20 {line-height: 20px;}.lh30 {line-height: 30px;}.lh40 {line-height: 40px;}.lh50 {line-height: 50px;}
.h20 {height: 20px;}

.ml_80 {margin-left: -80px;}
.mhori_none {margin-left: 0;margin-right: 0;}
.whp {width: 100%;height: 100%;}
.wp {width: 100%;}
.hp {height: 100%;}
.opacity {opacity: 0;filter: alpha(opacity: 0);}
.ohidden {overflow: hidden;}
.spacenowrap{white-space: nowrap;}
.clearfix:after {content:"";display: table;clear: both;}
.pa {position: absolute;}
.pr {position: relative;}
.bc {margin-left: auto;margin-right: auto;}
.vh {visibility: hidden;}
.vm {vertical-align: middle;}
.cp {cursor: pointer;}
.db {display: block;}
a.inherited, a.inherited:hover, a.inherited:focus {color: inherit;}
.bbdashed {border-bottom: 1px dashed #ccc;}
.bdd {border: 1px solid #ddd;}
.bdn {border: none;}
.bsn {box-shadow: none;}
.c9 {color: #999;}
.c5 {color: #555;}
.fb {font-weight: bold;}
.bgf3 {background-color: #f3f3f3;}

.ico-null {visibility: hidden;}
.icon-holder {position: absolute;font-size: 16px;margin-left: -10px;}
.ls4_3 {letter-spacing: .4em;}
.ls4_2 {letter-spacing: 1.9em;margin-right: -1.8em;}
.brls4_2 {letter-spacing: 1.9em;margin-left: 1.9em;margin-right: -1.9em;padding-left: 0px;}
.brls4_3 {letter-spacing: 0.5em;margin-left: 0.5em;margin-right: -0.5em;padding-left: 0px;}
.dropdown-menu > li > a.icon-dmst {cursor:default;color:#CDC5BF;}
.dropdown-menu > li > a.icon-dmst:hover {background-color: transparent !important;}

/*天气*/
.sun_color {color: #ffc700;}
.yin_color {color: #90abfc;}
.rain_color {color: #5fc6be;}
.snow_color {color: #28b5fa;}
.smog_color {color: #999;}
.weatherelse_color {color: #fe9700;}

.sun_bg {background-color: #ffc700;}
.yin_bg {background-color: #90abfc;}
.rain_bg {background-color: #5fc6be;}
.snow_bg {background-color: #28b5fa;}
.smog_bg {background-color: #999;}
.weatherelse_bg {background-color: #fe9700;}

#loadAnimation {
   position: fixed;
   left: 0;
   top: 0;
   z-index: 9999;
   width: 0%;
   height: 3px;
   animation: myfirst 1s;
   animation-iteration-count: infinite;
}
@keyframes myfirst {
      from {
        width: 0%;
      }
   to {
      width: 100%
   }
}
#loadinfo {position: fixed;top: 0;left: 48%;z-index: 10000;text-align: center;}

.no-padding-left{padding-left: 0;}
.no-padding-right{padding-right: 0;}
.no-padding-top{padding-top: 0;}
.no-padding-bottom{padding-bottom: 0;}
.no-padding-left-right{padding-left: 0;padding-right: 0;}

span.ng-scope > font > font, .app-content-body > span.ng-scope:first-child, [data-ng-include] > span.ng-scope:first-child {
	display: none;
}