@keyframes rotate0-360
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes rotate0-360 /* Firefox */
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-webkit-keyframes rotate0-360 /* Safari 和 Chrome */
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-o-keyframes rotate0-360 /* Opera */
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.svgRotate0-360{
    /*animation: rotate0-360 3s infinite linear;*/
    /*transform-origin: 50% 50%;*/
}