@CHARSET "UTF-8";
@font-face { 
font-family: kuhei; 
src:url('../fonts/kuhei.ttf'), 
url('../fonts/kuhei.ttf'), 
url('../fonts/kuhei.ttf'); /* IE9 */ 
} 
@media screen and (min-width : 1701px) and (max-width : 1920px) {
    html,body .datang-index{
        font-size: 18px;
    }
}
@media screen and (min-width : 1441px) and (max-width : 1700px) {
    html,body .datang-index{
        font-size: 16px;
    }
}
@media screen and (min-width : 1371px) and (max-width : 1440px) {
    html,body .datang-index{
        font-size: 14px;
    }
}
@media screen and (min-width : 768px) and (max-width : 1370px) {
    html,body .datang-index{
        font-size: 12px;
    }
}

.font36{font-size:2rem;}
.font30{font-size: 1.65rem;}
.font26{font-size:1.44rem;}
.font24{font-size:1.3rem;}
.font20{font-size: 1.1rem;}
.font18{font-size:1rem;}
.font16{font-size: 0.88rem;}
.font14{font-size: 0.77rem;}
.green{color:#25ff2a;}
.blue{color:#a2fff7;}
.red{color:#ff2224;}
.bababa{color:#bababa;}
.light-blue{color:#21fffc;}
.yellow{color:#ffd200;}
.light-green{color:#00ffb4;}
.dark-green{color:#25ebc4;}

.margin-b-20{margin-bottom: 0.8rem;;}
.canvas3D {
	position:absolute;
	left:0;
	top:0;
}
.no-padder-left{padding-left:0 !important}
.no-padder-right{padding-right:0 !important}
.earth-bg {
    height: 100%;
    background:url(../images/common/earth.png) no-repeat center center;
    background-size: contain;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    background-size: auto 122%;
}
/* header */
.bg{    background: url(../images/datang/monitoringMap/bg.png) no-repeat;width: 100%;height: 100%; position: absolute;    background-size: 100% 100%;}
.bg-cover1{background:#1b3648;opacity:0.2;z-index: 2;position: absolute;width: 100%;height: 100%;}
.bg-cover2{    background: #1a2b43;opacity:0.6;z-index: 3;position: absolute;width: 100%;height: 100%;}
.page-content{position: absolute;width: 100%;height: 100%;/* padding: 0 3rem; */}
.page-content .header >hr{margin:0 100px;background:rgb(0,255,255);border:1px solid rgb(0,255,255);height:3px;}


/* .page-content .header .trapezoid{    width: 43%;margin:0 auto;height:0  ;  border-top: 6.7rem solid rgba(16,49,84,0.7);border-left: 4rem solid transparent;border-right: 4rem solid transparent;position:relative;}
.page-content .header .small-trapezoid{    width: 64%;margin: 0 18%;height:0;border-top:15px solid rgb(0,255,255);border-left:8px solid transparent;border-right:8px solid transparent;position: absolute;bottom: 6rem;}
.header .trapezoid h1{font-size:40px;color:white;position:absolute;bottom: 1rem;width: 100%;text-align: center;    font-size: 2.5rem;}
.company-logo{    width: 3rem;margin-right: 2.8rem;vertical-align: bottom;} */

<!-- new -->
.company-logo{    width: 3rem;margin-right: 2.8rem;vertical-align: bottom;}
.page-content .header .trapezoid{    width: 43%;margin:0 auto;height:0  ;  border-top: 6.7rem solid transparent;border-left: 4rem solid transparent;border-right: 4rem solid transparent;position:relative;}
.page-content .header .small-trapezoid{    width: 64%;margin: 0 18%;height:0;border-top:15px solid rgb(0,255,255);border-left:8px solid transparent;border-right:8px solid transparent;position: absolute;bottom: 6rem;}
.header .trapezoid .time-con{ position: absolute; bottom: 2.2rem;width: 100%;text-align: center;}
h1.company-name{color:white;width: 100%;text-align: center;    font-size: 2.5rem;    margin: 0;}
.company-logo{    width:3rem;margin-right: 2rem;vertical-align: bottom;}
<!-- new -->

.header-tab{}
.header-tab >a{margin-left:0.2rem;background:#265586;color:white;text-align:center;height:3rem;line-height:3rem;display:inline-block;width: 6rem;font-size:14px;}
.header-tab >a.tab-active{background:#00ffff;}
.header-tab >a>img{    margin-right: 8px;vertical-align: sub; }
.menu-con .header {
    height: 100%; -webkit-padding-start: 0px;
    text-align: center;
}
.menu-con .header > li {
    margin-left: 2.2rem;
    vertical-align: middle;
    display: inline-block;
}
/* map地图 */
.width-center {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 4;
    bottom: 0px;
}
.map-body .wind-solar-tab-con{position:absolute;bottom:70px;right:30%;}
.wind-solar-tab-con>a{display:inline-block;width:70px;height:30px;line-height:30px;text-align:center;    color: white; background: #294f76;margin-left: 15px;}
/* 左框 */
.square-item-title{margin-left:0.83rem;}
.con-left{width: 29.5%;    z-index: 4;position: relative;    cursor: pointer;}
.con-left .p-line{    height: 2.2rem;line-height: 2.2rem;}
 .con-left .square-con{margin-top:1.8rem;border:1px solid white;box-shadow: 0 0 8px #44cdcc;box-shadow: 0 0 8px #5afffe;padding:0.7rem 0.83rem;background: rgba(44,98,153,0.3);}
.con-left .progress-con{padding-right: 20px !important;    height: 100%;}
.con-left .progressBar {
    width: 100%;;position:absolute;bottom:0;
    height: 0.5rem;
    border: 1px solid rgb(178,178,178);
    background: white;
    line-height: 0px;
}
.big-green{color: #28ff5b;font-family: 'kuhei';
    font-size: 3.1rem;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center !important;
    letter-spacing: 0.4rem;
    margin-bottom: 1rem;margin-top:0.8rem;}
.span {
    display: inline-block;height: 0.5rem;
}
.con-left .bar-content-green {
    background: #00ff8a;position: absolute;left: 0;
    border-right: 1px solid #00ff8a;
}
.con-left .bar-content-red {
    background: #ff445e;
    border-right: 1px solid #ff445e;
}
.border-bottom-blue{    border-bottom: 1px solid rgba(91,115,139,0.4);}
.per25{width:25%;}
.per15{width:15%;}

.operation-line >span{display:inline-block;float:left;height:2.2rem;line-height:2.2rem;text-align: center;}
.operation-line-common>span{display:inline-block;float:left;height:2.9rem;line-height:2.9rem;text-align: center;}
/* 右框 */
.con-right{width: 24.7%;    cursor: pointer;}
.width-right {    z-index: 4; position: relative;top: -2.2rem;}
.con-right .square-con{margin-top: 1rem;padding: 0.6rem 1.1rem 5px;border:1px solid white;box-shadow: 0 0 8px #44cdcc;box-shadow: 0 0 8px #5afffe;background: rgba(44,98,153,0.3);}
.con-right .square-con>.padding20{padding: 0.83rem 0 0.55rem;}
.wind-power .square-con>.padding20{padding: 0.4rem 0 0.4rem;}
.con-right .icon-con{display:inline-block;width:20px;text-align:center;margin-right: 0.5rem;}
.con-right .icon-con-solar{display:inline-block;width:40px;text-align:center;}
.con-right .icon-con-wind{display:inline-block;width:50px;text-align:center;}
.con-right .square-con>.padding12{    padding: 0.45rem 0 0.55rem 0;}
#minMapBtn {
    position: absolute;
       right: 25%;
    bottom: 6rem;
}
.con-right .lineHeight2{line-height:2rem;}
.con-right .padding-right40{padding-right:35px;}
.no-border-con{height:8.8rem;}
.underBuildItem{display:inline-block;width:8px;height:16px;background:#d9a536;margin:0 2px;}
.orange{color:#d9a536;}
.no-border-con >div{width:50%;text-align:center;padding: 10px 0px;}
.circle-border{ border: 2px solid #68fff6;border-radius: 50%;position: relative;    width: 6.5rem;height: 6.5rem;margin: 0 auto;}
@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes rotationLeft{
from {-webkit-transform: rotate(360deg);}
to {-webkit-transform: rotate(0deg);}
}
.rotate-img-left{
	width: 5.5rem;
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
-webkit-transform: rotate(-360deg);
animation: rotationLeft 3s linear infinite;
-moz-animation: rotationLeft 3s linear infinite;
-webkit-animation: rotationLeft 3s linear infinite;
-o-animation: rotationLeft 3s linear infinite; 
}
.rotate-img{
    width: 5.5rem;
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
-webkit-transform: rotate(-360deg);
animation: rotation 3s linear infinite;
-moz-animation: rotation 3s linear infinite;
-webkit-animation: rotation 3s linear infinite;
-o-animation: rotation 3s linear infinite; 
}
.center-word{    position: absolute;    font-weight: bold;
    top: 2.1rem;
    left: 2rem;}
/* footer */
.map-footer {
    position: fixed;bottom: 0;width: 100%;z-index: 6;
}
.map-footer .col-sm-12>.col-sm-4 {
    height: 100%;
}
.footer-left i {
    display: inline-block;width: 8px; height: 8px;border-radius: 50%;
}
.footer-left i.white {
    background: white;border: 1px solid white;
}
.footer-left i.green {
    background: rgb(32,208,58);border: 1px solid rgb(32,208,58);
}
.footer-left i.red {
    background: rgb(255,74,36);border: 1px solid rgb(255,74,36);
}
.footer-left i.yellow {
    background: rgb(245,255,0);border: 1px solid rgb(245,255,0);
}
.footer-left i.grey {
    background: #8b8b8b;border: 1px solid #8b8b8b;
}
.earth-bg span {
    display: inline-block;
}
.state-name {
    margin: 0 15px;font-size: 12px;
}
.map-footer .border-right-blue{border-right:1px solid rgba(134,202,255,0.7);}
.map-footer .footer-trapezoid{z-index:5;    position: absolute;width: 100%;    bottom: 0;}
.map-footer .footer-trapezoid >hr {
    margin: 0;
    background: rgb(0,255,255);
    border: 1px solid rgb(0,255,255);
    height: 3px;
}
.map-footer .footer-trapezoid .small-trapezoid {
    width: 24%;
    margin: 0 auto;
    height: 0;
    border-bottom: 15px solid rgb(0,255,255);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    left: 38%;
    bottom: 1px;
}
.footer-center span {
    display: inline-block;
}
.footer-center >span {
    width: 24%;
    text-align: center;
    height: 20px;
    margin-top: 1.5rem;
    cursor: pointer;
}
.footer-center i {
    background: white;
    display: inline-block;
}
.footer-center i.square {
    width: 12px;
    height: 12px;
}
.footer-center i.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.footer-center i.triangle-new {
    width: 12px;
    height: 12px;
    background: url(../images/common/triangle.png) no-repeat;
}
.footer-center i.fan {
    width: 14px;
    height: 24px;
    background: url(../images/common/fan.png) no-repeat;
    background-size: contain;
    vertical-align: sub;
}
.state-name {
    margin: 0 15px;
    font-size: 12px;
}

.map-footer .header .footer-center  {
    color: #fff;
}

[ui-fullscreen] .fa-expand::before {
    content: "";
}
[ui-fullscreen] .fa-expand {
    background-image: url(../images/power-index/ico_fullScreen.png);
}
.ico_power {
    background-image: url(../images/power-index/ico_power.png);
}
.ico_spread {
    background-image: url(../images/datang/monitoringMap/ico-spread.png);
}
.header .label {
    cursor: pointer;
}
.clear {
    display: block;
    overflow: hidden;
}
.ico_user {
    background-image: url(../images/power-index/ico_user.png);
    background-size: 100%;
}
.ico-lockscreen {
    background-image: url(../images/power-index/ico_lockScreen.png);
}
.toggletick .ico-active-right {
    color: #22c1aa;
    visibility: hidden;
}
[ui-fullscreen] .fa-expand, .ico-lockscreen, .ico_power,.ico_spread, .ico_user {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: sub;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-right img {
    max-width: 20px;
    cursor: pointer;
}
.toggletick .ico-active-right {color: #22c1aa;visibility: hidden;}
.toggletick.active .ico-active-right {visibility: visible;}
.datang-index i.text-active{color:white;}

/* 头部悬浮，下拉框 */
.hover-header-con{height:2rem;width:100%;position:fixed;top:0;z-index:10;cursor: pointer;}

.systems-page{background:rgba(16,49,84,0.9);width:100%;height:100%;z-index:11;position:absolute;top:0;bottom:0;color:white;display:none;}
.systems-page .close-line{height:90px;line-height:90px;background:#112d4a;    padding-right: 4.7rem;}
.span-inline-block{display:inline-block;}
.system-item-bg{width: 17rem;color:white;cursor: pointer;height: 10.6rem;margin:0 auto;position: relative;box-shadow: 0 0 12px;border-radius: 10px;}
.sys-bg1{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-1.png") no-repeat;background-size: cover;}
.sys-bg2{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-2.png") no-repeat;background-size: cover;}
.sys-bg3{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-3.png") no-repeat;background-size: cover;}
.sys-bg4{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-4.png") no-repeat;background-size: cover;}
.sys-bg5{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-5.png") no-repeat;background-size: cover;}
.sys-bg6{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-6.png") no-repeat;background-size: cover;}
.sys-bg7{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-7.png") no-repeat;background-size: cover;}
.sys-bg8{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-8.png") no-repeat;background-size: cover;}
.sys-bg9{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-9.png") no-repeat;background-size: cover;}
.sys-bg10{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-10.png") no-repeat;background-size: cover;}
.sys-bg11{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-11.png") no-repeat;background-size: cover;}
.sys-bg12{background:url("../images/datang/monitoringMap/systemsPage/sys-bg-12.png") no-repeat;background-size: cover;}
.system-link-list >.col-sm-12{margin-bottom:2.2rem;}
.system-item-icon{height: 5rem;line-height:5rem;width: 2.78rem;margin:0 auto;border-bottom:1px solid white;position: relative; z-index: 12;}
.system-item-icon >img{width:2.78rem;}
.system-item-bg .sys-tip{z-index: 12;margin-top: 1.3rem; position: relative;}
.hover-cover{background:rgba(5,22,39,0.5);height: 100%;border-radius: 6px;position: absolute;top: 0;width: 100%;z-index: 11;}
.hover-cover.active{background:rgba(67,253,255,0.5);}


