.padding-b-10{
	padding-bottom: 10px;
} 

.whf_left{
	width:72%;
	height: 50px;
	float: left;
}

.height_70{
	height:50px;
}
.hb_info{
	height:80px;
    background-color:white;
}
.hb_parame{
	height:50px;
    background-color:white;
}

.wh_left{
	width: 4%;
	height:50px;
	float: left;
}

.margin_t{
	margin-top: 3px;
}

.wh_float{
	width: 10%;
	height: 50px;
	float: left;
}

.f_color{
	font-size: 14px;
	color: #333333"
}

.f_color_1{
	font-size: 22px;
	color: #54A886"
}

.f_color_2{
	font-size: 14px;
	color: #333333"
}

.f_color_3{
	width: 4%;
	height: 50px;
	float: left;
}

.f_color_4{
	width: 10%;
	height: 50px;
	float: left;
}

.w_a_line_h{
	width: 98%;
	margin: 0 auto;
	height: 25px;
	line-height: 25px;
}

.line_height_25{
	line-height: 25px;
}

.c_line_height{
	color: #005BAC;
	line-height: 25px;
}

.width_h{
	width: 98%;
	height: 450px;
}

.height_w_f{
	height:350px;
	width:33.3%;
	float:left;
}

.float_w_m{
	float: left;
	width: 100%;
	margin-top: -120px;
}

.float_w_m2{
	float: left;
	width: 100%;
	margin-top: -50px;
}

.color_line_h{
	color: #005BAC;
	line-height: 25px;
}

.height_b_t{
	height:1px;
	border:none;
	border-top:1px solid #CCCCCC;
}

.height_w_f_m{
	height: 350px;
	width: 33.3%;
	float: left;
	margin-top: -70px;
}

.width_m_h_f_t{
	width: 98%;
	margin-top: -80px;
	height: 50px;
	float: left;
	text-align: center;
}
.width_m2_h_f_t{
	width: 98%;
	margin-top: -50px;
	height: 50px;
	float: left;
	text-align: center;
}
.font_weight{
	font-weight:bold;
}