@CHARSET "UTF-8";
@media screen and (min-width : 1441px) and (max-width : 1920px) {
    html,body .datang-index{
        font-size: 18px;
    }
}
@media screen and (min-width : 1371px) and (max-width : 1440px) {
    html,body .datang-index{
        font-size: 15px;
    }
}
@media screen and (min-width : 1024px) and (max-width : 1370px) {
    html,body .datang-index{
        font-size: 14.2px;
    }
}
@media screen and (min-width : 900px) and (max-width : 1024px) {
    html,body .datang-index{ 
        font-size: 12px;
    }
}

.font36{font-size:2rem;}
.font30{font-size: 1.65rem;}
.font26{font-size:1.44rem;}
.font24{font-size:1.3rem;}
.font20{font-size: 1.1rem;}
.font18{font-size:1rem;}
.font16{font-size: 0.88rem;}
.green{color:#25ff2a;}
.blue{color:#a2fff7;}
.yellow{color:#ffd200;}
.orange{color:#ff5400;}
/* .blue{color:#7ed7df;} */
.light-green{color:#00ffb4;}
/* .app-header-fixed {
    padding-top: 0px;
} */

.canvas3D {
	position:absolute;
	left:0;
	top:0;
}
.no-padder-left{padding-left:0 !important}
.no-padder-right{padding-right:0 !important}
/* header */
.bg{    background: url(../images/datang/monitoringMap/bg.png) no-repeat;width: 100%;height: 100%; position: absolute;    background-size: 100% 100%;}
.bg-cover{background:#1b3648;opacity:0.5;z-index: 3;position: absolute;width: 100%;height: 100%;}
.page-content{z-index: 4;position: absolute;width: 100%;height: 100%;/* padding: 0 3rem; */}
.page-content .header >hr{margin:0 100px;background:rgb(0,255,255);border:1px solid rgb(0,255,255);height:3px;}
.page-content .header .trapezoid{    width: 43%;margin:0 auto;height:0  ;  border-top: 6.7rem solid rgba(16,49,84,0.7);border-left: 4rem solid transparent;border-right: 4rem solid transparent;position:relative;}
.page-content .header .small-trapezoid{    width: 64%;margin: 0 18%;height:0;border-top:15px solid rgb(0,255,255);border-left:8px solid transparent;border-right:8px solid transparent;position: absolute;bottom: 6rem;}
.header .trapezoid h1{font-size:40px;color:white;position:absolute;top:-90px;width: 100%;text-align: center;    font-size: 2.2rem;}
.company-logo{background:rgb(19,83,136);}
.company-logo>img{height:50px;}
.header-tab{}
.header-tab >a{margin-left:0.2rem;background:#265586;color:white;text-align:center;height:3rem;line-height:3rem;display:inline-block;width: 6rem;font-size:14px;}
.header-tab >a.tab-active{background:#00ffff;}
.header-tab >a>img{    margin-right: 8px;vertical-align: sub; }
/* map地图 */
.width-center {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 5;
    bottom: 0px;
}
.con-center {
    background: transparent;
}
/* 左框 */
.con-left{width: 23.5%;}
.con-left .p-line{    height: 2.2rem;line-height: 2.2rem;}
.con-left .square-con{border:1px solid white;box-shadow: 0 0 8px #44cdcc;box-shadow: 0 0 8px #5afffe;padding: 1.3rem 0.5rem;background: rgba(44,98,153,0.3);}
.con-left .progress-con{padding-right: 20px !important;    height: 100%;}
.con-left .progressBar {
    width: 100%;;position:absolute;bottom:0;
    height: 0.5rem;
    border: 1px solid rgb(178,178,178);
    background: white;
    line-height: 0px;
}
.span {
    display: inline-block;height: 0.5rem;
}
.con-left .bar-content-green {
    background: #00ff8a;position: absolute;left: 0;
    border-right: 1px solid #00ff8a;
}
.con-left .bar-content-red {
    background: #ff445e;
    border-right: 1px solid #ff445e;
}
.border-bottom-blue{border-bottom:1px solid #3a6fa8;}
.progress-tip  {margin-top: 1.3rem;}
.progress-tip .tip{width:12px;height:8px;display:inline-block;    margin-right: 0.3rem;}
.progress-tip .white-tip{background:white;}
.progress-tip .red-tip{background:#ff445e;}
.progress-tip .green-tip{background:#00ff8a;}
.progress-tip .red{color:#ff445e;}
.progress-tip .green{color:#00ff8a;}
/* 右框 */
.con-right{width: 21%;}
.width-right {}
.con-right .square-con{border:1px solid white;box-shadow: 0 0 8px #44cdcc;box-shadow: 0 0 8px #5afffe;background: rgba(44,98,153,0.3);}
.con-right .square-con>.padding20{padding: 0.83rem 0 0.55rem;}
.wind-power .square-con>.padding20{padding: 0.4rem 0 0.4rem;}
.con-right .icon-con{display:inline-block;width:20px;text-align:center;margin-right: 0.5rem;}
.con-right .icon-con-solar{display:inline-block;width:40px;text-align:center;}
.con-right .icon-con-wind{display:inline-block;width:50px;text-align:center;}
.con-right .square-con>.padding12{    padding: 0.45rem 0 0.55rem 0;}
#minMapBtn {
    position: absolute;
       right: 25%;
    bottom: 6rem;
}
.con-right .lineHeight2{line-height:2rem;}
.con-right .padding-right40{padding-right:35px;}
/* footer */
.map-footer {
    position: fixed;height: 5rem;bottom: 0;width: 100%; background: rgba(16,49,84,0.5);z-index: 6;
}
.map-footer .col-sm-12>.col-sm-4 {
    height: 100%;
}
.footer-left i {
    display: inline-block;width: 8px; height: 8px;border-radius: 50%;
}
.footer-left i.white {
    background: white;border: 1px solid white;
}
.footer-left i.green {
    background: rgb(32,208,58);border: 1px solid rgb(32,208,58);
}
.footer-left i.red {
    background: rgb(255,74,36);border: 1px solid rgb(255,74,36);
}
.footer-left i.yellow {
    background: rgb(245,255,0);border: 1px solid rgb(245,255,0);
}
.footer-left i.grey {
    background: #8b8b8b;border: 1px solid #8b8b8b;
}
.earth-bg span {
    display: inline-block;
}
.state-name {
    margin: 0 15px;font-size: 12px;
}
.map-footer .border-right-blue{border-right:1px solid rgba(134,202,255,0.7);}
.map-footer .footer-trapezoid{z-index:5;    position: absolute;width: 100%;    bottom: 0;}
.map-footer .footer-trapezoid >hr {
    margin: 0;
    background: rgb(0,255,255);
    border: 1px solid rgb(0,255,255);
    height: 3px;
}
.map-footer .footer-trapezoid .small-trapezoid {
    width: 24%;
    margin: 0 auto;
    height: 0;
    border-bottom: 15px solid rgb(0,255,255);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    left: 38%;
    bottom: 1px;
}
.footer-center span {
    display: inline-block;
}
.footer-center >span {
    width: 24%;
    text-align: center;
    height: 20px;
   margin-top: 1.5rem;
    cursor: pointer;
}
.footer-center i {
    background: white;
    display: inline-block;
}
.footer-center i.square {
    width: 12px;
    height: 12px;
}
.footer-center i.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.footer-center i.triangle-new {
    width: 12px;
    height: 12px;
    background: url(../images/common/triangle.png) no-repeat;
}
.footer-center i.fan {
    width: 14px;
    height: 24px;
    background: url(../images/common/fan.png) no-repeat;
    background-size: contain;
    vertical-align: sub;
}
.state-name {
    margin: 0 15px;
    font-size: 12px;
}
.map-footer .header {
         height: 100%;
    padding-top: 1.28rem;    -webkit-padding-start: 0px;
    text-align: center;
}

.map-footer .header > li {
    margin-left: 2.2rem;
    vertical-align: middle;
    display: inline-block;
}
.map-footer .header .footer-center  {
    color: #fff;
}

[ui-fullscreen] .fa-expand::before {
    content: "";
}
[ui-fullscreen] .fa-expand {
    background-image: url(../images/power-index/ico_fullScreen.png);
}
.ico_power {
    background-image: url(../images/power-index/ico_power.png);
}
.header .label {
    background-color: rgba(28, 175, 154, .8);
    border: 1px solid rgb(6, 190, 189);
    font-weight: lighter;
    cursor: pointer;
}
.clear {
    display: block;
    overflow: hidden;
}
.ico_user {
    background-image: url(../images/power-index/ico_user.png);
    background-size: 100%;
}
.ico-lockscreen {
    background-image: url(../images/power-index/ico_lockScreen.png);
}
.toggletick .ico-active-right {
    color: #22c1aa;
    visibility: hidden;
}
[ui-fullscreen] .fa-expand, .ico-lockscreen, .ico_power, .ico_user {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-right img {
    max-width: 20px;
    cursor: pointer;
}
.toggletick .ico-active-right {color: #22c1aa;visibility: hidden;}
.toggletick.active .ico-active-right {visibility: visible;}
.datang-index i.text-active{color:white;}




