.i_switchMap {
	background: url("../images/power-index/i_switchMap.png") no-repeat;
	padding-left: 20px;
}
.i_switchMap:hover, .i_switchMap:focus {
	color: #06bebd;
}
.placeholder_center::-moz-placeholder {
	color: #333;
	opacity: 1;
	text-align: center;
}
.placeholder_center::-webkit-input-placeholder {
	color: #333;
	text-align: center;
}
.placeholder_center:-ms-input-placeholder {
	color: #333;
	text-align: center;
}
.search_form {
	margin-top: 15px;
	margin-bottom: 20px;
	visibility: hidden;
}
.search_form .search {
	background-color: #e2e6e9;
}
.stat_block {
	color: #fff;
	font-size: 14px;
}
.bg_height {
	height: 241px;
}
.bg_hei {
	height: 120px;
}
.month_bg {
	background-color: #428BCA;
}
.year_bg {
	background-color: #354BA8;
}
.total_bg {
	background-color: #5B459D;
}
.failures_bg {
	background-color: #1D2939;
}
.failure_bg {
	background-color: #D8412F;
}

/*鏁呴殰*/
.fault_bg {
	background-color: #D8412F;
}

/*鎶ヨ*/
.alarm_bg {
	background-color: #FF9900;
}

/*涓柇*/
.break_bg {
	background-color: #5F7C8A;
}

/*鐭ヨ瘑搴�*/
.knows_bg {
	background-color: #97C34B;
}

.block_kwh > div, .block_kwh > a {
	float: left;
	width: 140px;
	height: 120px;
	margin-left: 1px;
	margin-bottom: 1px;
}
.block_kwh > div > p {
	margin-top: 30px;
}
.text_r_percent {
	padding-right: 10px;
	text-align: right;
	margin-top: 10px;
}

/*鏁呴殰*/
.failure_wrap {
	width: 290px;
}
.failure_up {
	margin-bottom: 1px;
	line-height: 120px;
}
.failure_up .h4 {
	margin-left: 30px;
}
.failure_down > div, .failure_down > a {
	float: left;
	width: 96px;
	height: 120px;
	padding-top: 25px;
}
.failure_down p, .block_right_d > div p {
	margin-top: 10px;
}
.failure_down > div + div,.failure_down > a + a {
	margin-left: 1px;
}
.block_right {
	margin-left: 10px;
	width: 285px;
}
.stat_bg {
	line-height: 115px;
	height: 115px;
	background: url("../images/power-index/i_stat.png") no-repeat 50px center #E81D62;
}
.stat_bg .h4 {
	padding-left: 80px;
}
.block_knows {
	line-height: 115px;
	height: 115px;
	background-color: #06bebd;
}
.i_knows, .i_msg_center {
	display: inline-block;
	height: 50px;
	width: 50px;
}
.i_knows {
	background: url("../images/power-index/i_knows.png") no-repeat center;
}
.i_msg_center {
	background: url("../images/power-index/i_msg_center.png") no-repeat center;
}
.block_right_d > div, .block_right_d > a {
	float: left;
	margin-top: 10px;
	height: 115px;
	width: 137px;
	padding-top: 25px;
}
.block_right_d > div + div, .block_right_d > a + div {
	margin-left: 10px;
}
.circleProgress_box {
	width: 200px;
	height: 200px;
	border: 10px solid rgba(0, 0, 0, .3);
	border-radius: 50%;
	position: relative;
	top: 20px;
	left: 45px;
}
.circleProgress_wrap {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 200px;
	height: 200px;
}
.wrapper_ly {
	width: 100px;
	height: 200px;
	position: absolute;
	top:0;
	overflow: hidden;
}
.right {
	right:0;
}
.left {
	left:0;
}
.circleProgress {
	width: 200px;
	height: 200px;
	border: 10px solid transparent;
	border-radius: 50%;
	position: absolute;
	top:0;
}
.rightcircle {
	border-top: 10px solid #fff;
	border-right: 10px solid #fff;
	right:0;
	-webkit-transform: rotate(225deg);
	   -moz-transform: rotate(225deg);
			transform: rotate(225deg);
}
.leftcircle {
	border-bottom: 10px solid #fff;
	border-left: 10px solid #fff;
	left:0;
	-webkit-transform: rotate(225deg);
	   -moz-transform: rotate(225deg);
			transform: rotate(225deg);
}
.circleProgress_data {
	margin: 35px;
}
.circleProgress_box .divider {
	height: 1px;
	background-color: #fff;
	margin-bottom: 8px;
}
.msg_center_num {
	position: absolute;
	margin-left: 5px;
	font-style: normal;
	font-weight: normal;
}
.powerList {
	margin-top: 10px;
	border-bottom: 1px solid #000;
}
.power_tab_nav {
	position: absolute;
	top: 0;
	left: 120px;
}
.power_tab_nav li {
	margin: 0 10px;
	cursor: pointer;
}
.power_tab_nav li:hover {
	color: #06bebd;
}
.power_tab_nav .active {
    margin-top: 1px;
	color: #06bebd;
	border-bottom: 2px solid #06bebd;
}
.tab_pager {
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 16px;
}
.pager_go {
	width: 20px;
	text-align: center;
}
.pager_go input {
	width: 20px;
	height: 16px;
}
.pager_arror a {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
}
.pager_arror.prev a {
	background-image: url("../images/power-index/i_prev.png");
}
.pager_arror.next a {
	background-image: url("../images/power-index/i_next.png");
}
.power_tab_con {
	overflow: hidden;
	margin-right: -10px;
	margin-bottom: 50px;
}
.power_tab_con > li {
	position: relative;
	float: left;
	width: 226px;
	height: 137px;
	padding: 15px 10px;
	border: 1px solid #eee;
	margin-top: 6px;
	background-color: #fff;
	line-height: 1.42857143;
	margin-right: 10px;
	overflow: hidden;
}
.power_tab_con .circle {
	display: inline-block;
	margin-right: 3px;
}
.power_tab_con .name {
	// margin-bottom: 35px;
	height: 55px;
    padding-right: 50px;
}
.powerList_weather .ico-family {
	position: absolute;
	font-weight: lighter;
	font-size: 30px;
	right: 13px;
	top: 5px;
	//color: #8f296b;
}
.power_tab_con > li:hover .hoverLayer {
	display: block;
}
.hoverLayer {
	display: none;
	position: absolute;
	left: 15px;
	top: 0;
	right: 15px;
	bottom: 0;
	padding: 15px;
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
	text-align: center;
}
.hoverLayer > li > a {
	display: block;
	color: inherit;
	padding: 25px 0 0;
	background-position: center 0;
	background-repeat: no-repeat;
	margin-bottom: 5px;
	margin-top: 10px;
}
.hoverLayer > li > a:hover {
	// color: #04B1B0;
}
.i_mon {
	background-image: url("../images/power-index/i_layer_mon.png");
}
.i_pro {
	background-image: url("../images/power-index/i_layer_pro.png");
}
.i_alaly {
	background-image: url("../images/power-index/i_layer_alaly.png");
}
.i_bill {
	background-image: url("../images/power-index/i_layer_bill.png");
}
.tab_alarm .name {
	color: #FF9900;
}
.tab_alarm .circle {
	background-color: #FF9900;
}
.tab_fault .name {
	color: #D8412F;
}
.tab_fault .circle {
	background-color: #D8412F;
}
.tab_break .name {
	color: #5F7C8A;
}
.tab_break .circle {
	background-color: #5F7C8A;
}
.power_tab_con .add_list {
	padding-top: 90px;
	padding-bottom: 5px;
	background: url("../images/power-index/i_add_list.jpg") no-repeat center 20px #fff;
	cursor: pointer;
}
