@CHARSET "UTF-8";
.imgfile input[type="file"] {
    position: absolute;
    width: 66px;
    height: 66px;
    opacity: 0;
}
 .border_hide > thead > tr > th {
       border-right-color: #FFFFFF!important;
       border-top: none;
}
 .map-nav-ul > li > a:hover, .nav > li > a:focus {
    background: transparent;
    color: #06bebd;
}


.menu{
	position:fixed;
	float: left;
	width: 210px;
	text-align: center;
	margin: 0px 0px 0px ;
	background-color:White;
	height: 1000px;
}
.menu_text{
	width: 210px;
	background-color:#1caf9a;
	height: 50px;
}
.font_color{
	color: #1caf9a;
}
.menu_center{
	margin: 0 auto;
 	width:170px;
  	line-height:50px;
   	height:30px;
}

.right_div{
   margin:0px 0px 0px 210px;
}
.outboard{
	background-color:Gainsboro ;
	float: left;
	margin: 10px 0px 0px 20px;
}

.list_top{
	float: left;
	margin: 0px 0px 0px 10px;
/* 	height: 280px; */
}

.list_below{
	float: left;
	margin: 5px 0px 0px 10px;
}
.title{
	float: left;
	margin: -10px 0px 0px 10px;
	margin-top: 5px;
}
.subhead{
	height: 30px;
	line-height:30px;
}
.button{
	height: 30px;
	font-size: 15px;
	font-weight:bold;
}

.list-group-item {
    background-color: #fff;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    border: medium none transparent;
    position: relative;
}
.data-bg-red{
background:white none repeat scroll 0 0;
}	
.w-xs{
	width: 120px;
}
.navi ul.nav li li a {
    padding-left: 73px;
    text-align: left
}

.table {
    background-color: transparent;
        border: transparent!important;
}
.b-light {
    border-color: transparent;
}
.table > thead > tr > th {
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #040404;
}
.p-r-5{
padding-right: 7px;
}
.table-bordered > thead > tr > th {
    border-color: transparent;
        border: transparent!important;
}
.menuCss{
background: transparent;
    color: #06bebd;
}
