$main-color: #1cb09a;
.recording-list,.secondaryConfig {
    .content-body{
        padding: 0 20px;
        .sir-tabs {
            padding: 10px 0;
            button {
                height: 35px;
                border: 1px solid $main-color;
                background-color: transparent;
                padding: 0 20px;
                border-radius: 2px;
                position: relative;
                vertical-align: middle;
                span {
                    display: inline-block;
                    position: absolute;
                    top: -1px;
                    right: -35px;
                    width: 35px;
                    height: 35px;
                    background-color: $main-color;
                    color: #fff;
                    font-size: 30px;
                    line-height: 35px;
                }
                &.active {
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }
        .sir-wap {
            background-color: #fff;
            .wap-header {
                padding: 0 12px;
                height: 60px;
                .pull-left {
                    button, input {
                        height: 30px;
                        margin-top: 15px;
                        vertical-align: bottom;
                    }
                    button {
                        background-color: $main-color;
                        border: 1px solid $main-color;
                        color: #fff;
                        border-radius: 2px;
                        padding: 0 10px;

                    }
                    input{
                        margin-left: 150px;
                        width: 200px;
                    }
                }
                
            }
            .my-table {
                thead {
                    background: #9fe8dd;
                    th {
                        padding: 12px 15px;
                    }
                }
                tbody {
                    tr {
                        &:nth-child(2n) {
                            background: #f1fbfa;
                        }
                        td {
                            padding: 12px 15px;
                        }
                    }
                    
                }
            }
        }
        .sir-wap2 {
            background: #fff;
            padding: 20px 45px 10px;
            .operation {
                button {
                    background-color: $main-color;
                    color: #fff;
                    border: none;
                    height: 30px;
                    padding: 0 30px;
                }
            }
            .edit-required {
                border-bottom: 1px solid #ccc;
                padding-bottom: 30px;
                h4 {
                    color: $main-color;
                }
                p {
                    font-size: 12px;
                    line-height: 2em;
                }
            }
            .save-submit {
                padding: 30px 0;
                button {
                    height: 45px;
                    margin-left: 10px;
                    padding: 0 30px;
                    border: 1px solid $main-color;
                    &.save {
                        background-color: $main-color;
                        color: #fff;
                    }
                    &.cacel {
                        background-color: #fff;
                        color: $main-color;
                    }
                }
            }
            .edit-form {
                margin-top: 50px;
                .form-line {
                    width: 100%;
                    margin-bottom: 20px;
                    >label {
                        display: block;
                        width: 100%;
                        span[data-require]::after {
                            content: '*';
                            color: red;
                            font-size: 20px;
                            padding-left: 2px;
                            vertical-align: bottom;
                        }
                        &.width-2-1 {
                            width: 45%;
                        }
                        >:nth-child(1) {
                            display: block;
                            float: left;
                            width: 90px;
                            line-height: 35px;
                        }
                        >:nth-child(2) {
                            display: block;
                            overflow: hidden;
                            input {
                                width: 100%;
                                height: 35px;
                            }
                            select {
                                width: 100%;
                                height: 35px;
                                line-height: 35px;
                            }
                            textarea {
                                width: 100%;
                                height: 90px;
                            }
                        }
                    }
                }
            }
        }
    }
}