.scheduleInstructionRecord {
    .content-body{
        padding: 0 20px;
        .sir-tabs {
            padding: 10px 0;
        }
        .sir-wap {
            background-color: #fff;
        }
    }
}