.alarmTemplateCtrl{
    position:fixed;
    bottom:0;
    right:0;
    // left:0;
    z-index: 99;
    // width:100%;
    //     height: 100%;
    // z-index: 99;
    // background: rgba(100,100,100,0.8);
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    &.has-bg{
        background: rgba(1,18,34,0.9);
        width:100%;
    }
    .pointer{
        cursor: pointer;
    }
    .light-White{
        color:rgba(255,255,255,0.7)
    }
    .marginTop{
        margin-top:30px
    }
    @-webkit-keyframes twinkleAnitmation {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        55% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    .status-normal{
        background: #4bbf6c;
        width:30px;
        height:38px;
        // line-height: 38px;
    }
    .status-abnormal{
        background: #f54f41;
        width:195px;
        height:38px;
        // line-height: 38px;
    }
    .alarm-twinkle{
        animation: twinkleAnitmation 1s linear infinite;
        -moz-animation: twinkleAnitmation 1s linear infinite;
        -webkit-animation: twinkleAnitmation 1s linear infinite;
        -o-animation: twinkleAnitmation 1s linear infinite;
    }
    .alarm-list{
        background: #000b16;width:100%;
        display:none;
        .device-normal{
            color:rgb(82,184,118);
        }
        .device-fault{
            color:rgb(255,97,97);
        }
        .device-alarm{
            color:rgb(190,152,86);
        }
        .device-interrupt{
            color:rgb(157,157,157); 
        }
        .i-checks input+i {
            border-color: rgb(88, 143, 209);
        }
        .i-checks input:checked+i {
            border-color: #1caf9a;
            &:before {
                background-color: #1caf9a;
            }
        }
        .header-condition{
            padding:10px 0 10px 25px;
            background:#000b16;
            font-size:14px;
            position: relative;
            z-index: 9;
            width: 95%;
            .m-l-30{margin-left:30px;}
            .sign-btn{display:inline-block;width:105px;height:26px;line-height: 26px;font-size: 14px;text-align: center;background:#1a385a;border-radius: 2px;    margin-right: 35px;}
            .i-switch-lg {
                width: 40px;
                height: 20px;
                background:#1caf9a;
            }
            .i-switch-lg input:checked + i:after {
                margin-left: 22px;
            }
            .i-switch-lg i:after {
                width: 17px;
            }
            .light-White{
                margin-left:40px;
            }
        }
        .my-table{
            tr {
                background-color: #0d3463;
                cursor: pointer;
                border: 1px solid #03213d;
            }
            th {
                cursor: default;
                height: 45px;
                font-size: 14px;
                padding: 0 1em;
                color: #a6acc7;
                background-color: #03213d;
                font-weight: normal;
                text-align: left !important;
            }
            td {
                height: 33px;
                background: #1a385a;
                padding: 0 1em;
                position: relative;
                font-size: 14px;
                color:rgba(255,255,255,0.6)
            }
        }
    }
}