.pageSlideDown {
    .hover-header-con {
        height: 15px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        cursor: pointer;
    }
    .hover-header-con-click {
        height: 15px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        cursor: pointer;
    }
    .systems-page {
        background: rgba(16, 49, 84, 1);
        width: 100%;
        height: 100%;
        z-index: 999;
        position: absolute;
        top: 0;
        bottom: 0;
        color: white;
        display: none;
        .pointer {
            cursor: pointer;
        }
        .close-line {
            height: 90px;
            line-height: 90px;
            background: #112d4a;
            padding: 0 4.7rem;
        }
        .system-tab{
            text-align: center;
            font-size:18px;
            padding:30px;
            >span{
                display: inline-block;
                color:rgba(255,255,255,0.5);
                width:150px;
                span{
                    cursor: pointer;
                }
                .active{
                    color:rgba(255,255,255,1);
                    border-bottom:2px solid rgba(255,255,255,1);
                }
            }
        }
        .system-item-bg {
            width: 17rem;
            color: white;
            cursor: pointer;
            height: 10.6rem;
            margin: 0 auto;
            position: relative;
            box-shadow: 0 0 12px;
            border-radius: 10px;
        }
        .logo-company {
            width: 34px;
            vertical-align: sub;
            margin-right: 25px;
        }
        .module-list {
            width: 515px;
            height: 375px;
            background: url('../../../images/enrichment/public/dashed-line-bg.png') no-repeat;
            background-size: contain;
            margin: 0 auto;
            position: relative;
            .animate-block-horizental{
                display:inline-block;
                width:8px;height:18px;
                background:rgba(57,146,188,0.2);
                position: absolute;
            }
            .animate-block-vertical{
                display:inline-block;
                width:18px;height:8px;
                background:rgba(57,146,188,0.2);
                position: absolute;
            }
            .animate-block-oblique{
                display:inline-block;
                width:18px;height:8px;
                background:rgba(57,146,188,0.2);
                position: absolute;
            }
            .animate-block1{
                bottom:0px;
                -webkit-animation: block1 1.5s linear infinite;
                -moz-animation: block1 1.5s linear infinite;
                -webkit-animation: block1 1.5s linear infinite;
                -o-animation: block1 1.5s linear infinite;
            }
            .animate-block2{
                bottom:129px;
                -webkit-animation: block1 1.5s linear infinite;
                -moz-animation: block1 1.5s linear infinite;
                -webkit-animation: block1 1.5s linear infinite;
                -o-animation: block1 1.5s linear infinite;
            }
            .animate-block3{
                bottom:20%;
                left:8px;
                -webkit-animation: block3 1.5s linear infinite;
                -moz-animation: block3 1.5s linear infinite;
                -webkit-animation: block3 1.5s linear infinite;
                -o-animation: block3 1.5s linear infinite;
            }
            .animate-block4{
                bottom:20%;
                right:6px;
                -webkit-animation: block3 1.5s linear infinite;
                -moz-animation: block3 1.5s linear infinite;
                -webkit-animation: block3 1.5s linear infinite;
                -o-animation: block3 1.5s linear infinite;
            }
            .animate-block5{
                transform: rotate(60deg) ;
                -webkit-animation: block5 1.5s linear infinite;
                -moz-animation: block5 1.5s linear infinite;
                -webkit-animation: block5 1.5s linear infinite;
                -o-animation: block5 1.5s linear infinite;
            }
            .animate-block6{
                transform: rotate(-60deg) ;
                -webkit-animation: block6 1.5s linear infinite;
                -moz-animation: block6 1.5s linear infinite;
                -webkit-animation: block6 1.5s linear infinite;
                -o-animation: block6 1.5s linear infinite;
            }
            @-webkit-keyframes block1 {
                0% {
                    left:25%;
                }
                100% {
                    left:75%;
                }
            }
            @-webkit-keyframes block3 {
                0% {
                    bottom:20%;
                }
                100% {
                    bottom:55%;
                }
            }
            @-webkit-keyframes block5 {
                0% {
                    top:24%;left:0px;
                }
                100% {
                    top:7%;left:28.5%;
                }
            }
            @-webkit-keyframes block6 {
                0% {
                    top:24%;right:0px;
                }
                100% {
                    top:7%;right:27.5%;
                }
            }
            .square-common {
                position: absolute;
                cursor: pointer;
                z-index: 1;
                width: 170px;
                height: 53px;
                font-size: 16px;
                color: white;
                border-radius: 7px;
                text-align: center;
                border-radius: 30px;
                text-align: center;
                background: rgba(14,56,107,0.5);
                border: 2px solid #4eb0de;
                line-height: 50px;
                &.active {
                    box-shadow: 0 0px 23px 5px #4eb0de inset;
                    border: none;
                    background: #103154;
                    // background: white;
                    // color: #5a97d8;
                    // transform: scale(1.2);
                    // -ms-transform: scale(1.2);
                    // -moz-transform: scale(1.2);
                    // -webkit-transform: scale(1.2);
                    // -o-transform: scale(1.2);
                }
            }
            .s11 {
                top: 23%;
                left: -13%;
            }
            .s12-con {
                position: absolute;
                top: -19%;
                left: 35%;
                box-shadow: 1px 1px 14px #4eb0de;
                width: 147px;
                height: 147px;
                border-radius: 50%;
                .circle-rotate1{
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: 22px;
                    left: 22px;
                    animation: clockwish 2s linear infinite;
                    -moz-animation: clockwish 2s linear infinite;
                    -webkit-animation: clockwish 2s linear infinite;
                    -o-animation: clockwish 2s linear infinite;
                    span{
                        width:5px;
                        height:5px;
                        border:1px solid rgb(52, 215, 230);
                        border-radius:50%;
                        position: absolute;
                        top:-3px;
                        left:-2px;
                    }
                }
                .circle-rotate2{
                    width: 90px;
                    height: 90px;
                    position: absolute;
                    top: 29px;
                    left: 29px;
                    animation: antiClockwish 1.6s linear infinite;
                    -moz-animation: antiClockwish 1.6s linear infinite;
                    -webkit-animation: antiClockwish 1.6s linear infinite;
                    -o-animation: antiClockwish 1.6s linear infinite;
                    span{
                        width:5px;
                        height:5px;
                        border:1px solid rgb(52, 215, 230);
                        border-radius:50%;
                        position: absolute;
                        top:-3px;
                        left:-2px;
                    }
                    
                }
                .circle-rotate3{
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    top: 34px;
                    left: 34px;
                    animation: clockwish 1.2s linear infinite;
                    -moz-animation: clockwish 1.2s linear infinite;
                    -webkit-animation: clockwish 1.2s linear infinite;
                    -o-animation: clockwish 1.2s linear infinite;
                    span{
                        width:5px;
                        height:5px;
                        border:1px solid rgb(52, 215, 230);
                        border-radius:50%;
                        position: absolute;
                        top:-3px;
                        left:-2px;
                    }   
                }
                .circle-rotate4{
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    animation: antiClockwish 1.4s linear infinite;
                    -moz-animation: antiClockwish 1.4s linear infinite;
                    -webkit-animation: antiClockwish 1.4s linear infinite;
                    -o-animation: antiClockwish 1.4s linear infinite;
                    span{
                        width:5px;
                        height:5px;
                        border:1px solid rgb(52, 215, 230);
                        border-radius:50%;
                        position: absolute;
                        top:-3px;
                        left:-2px;
                    }
                    
                }
                .circle-rotate5{
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 44px;
                    left: 44px;
                    animation: clockwish 1s linear infinite;
                    -moz-animation: clockwish 1s linear infinite;
                    -webkit-animation: clockwish 1s linear infinite;
                    -o-animation: clockwish 1s linear infinite;
                    span{
                        width:5px;
                        height:5px;
                        border:1px solid rgb(52, 215, 230);
                        border-radius:50%;
                        position: absolute;
                        top:-3px;
                        left:-2px;
                    }   
                }
                .circle-rotate6{
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 49px;
                    left: 49px;
                    animation: antiClockwish 1.8s linear infinite;
                    -moz-animation: antiClockwish 1.8s linear infinite;
                    -webkit-animation: antiClockwish 1.8s linear infinite;
                    -o-animation: antiClockwish 1.8s linear infinite;
                    span{
                        width:5px;
                        height:5px;
                        border:1px solid rgb(52, 215, 230);
                        border-radius:50%;
                        position: absolute;
                        top:-3px;
                        left:-2px;
                    }   
                }
                .circle-rotate7{
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 53px;
                    left: 53px;
                    animation: clockwish 2.2s linear infinite;
                    -moz-animation: clockwish 2.2s linear infinite;
                    -webkit-animation: clockwish 2.2s linear infinite;
                    -o-animation: clockwish 2.2s linear infinite;
                    span{
                        width:5px;
                        height:5px;
                        border:1px solid rgb(52, 215, 230);
                        border-radius:50%;
                        position: absolute;
                        top:-3px;
                        left:-2px;
                    }   
                }
                .circle-rotate8{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 59px;
                    left: 59px;
                    animation: antiClockwish 2.1s linear infinite;
                    -moz-animation: antiClockwish 2.1s linear infinite;
                    -webkit-animation: antiClockwish 2.1s linear infinite;
                    -o-animation: antiClockwish 2.1s linear infinite;
                    span{
                        width:5px;
                        height:5px;
                        border:1px solid rgb(52, 215, 230);
                        border-radius:50%;
                        position: absolute;
                        top:-3px;
                        left:-2px;
                    }   
                }
                .s12 {
                    width: 147px;
                    height: 147px;
                    line-height: 147px;
                    text-align: center;
                    font-size:16px;
                    border-radius: 50%;
                    box-shadow: 0 0px 27px 8px #4eb0de inset;
                    
                }
                span {
                    position: absolute;
                    bottom: -40px;
                    width: 100%;
                    text-align: center;
                    font-size: 22px;
                }
            }
            .s13 {
                top: 23%;
                left: 80%;
            }
            .s21 {
                top: 56%;
                left: -13%;
            }
            .s22 {
                top: 56%;
                left: 33%;
            }
            .s23 {
                top: 56%;
                left: 80%;
            }
            .s31 {
                top: 91%;
                left: -13%;
            }
            .s32 {
                top: 91%;
                left: 33%;
            }
            .s33 {
                top: 91%;
                left: 80%;
            }
            @-webkit-keyframes clockwish {
                0% {
                    transform: rotateZ(0deg);
                    -ms-transform: rotateZ(0deg);
                    -moz-transform: rotateZ(0deg);
                    -webkit-transform: rotateZ(0deg);
                    -o-transform: rotateZ(0deg);
                }
                100% {
                    transform: rotateZ(360deg);
                    -ms-transform: rotateZ(360deg);
                    -moz-transform: rotateZ(360deg);
                    -webkit-transform: rotateZ(360deg);
                    -o-transform: rotateZ(360deg);
                }
            }
            @-webkit-keyframes antiClockwish {
                0% {
                    transform: rotateZ(360deg);
                    -ms-transform: rotateZ(360deg);
                    -moz-transform: rotateZ(360deg);
                    -webkit-transform: rotateZ(360deg);
                    -o-transform: rotateZ(360deg);
                }
                100% {
                    transform: rotateZ(0deg);
                    -ms-transform: rotateZ(0deg);
                    -moz-transform: rotateZ(0deg);
                    -webkit-transform: rotateZ(0deg);
                    -o-transform: rotateZ(0deg);
                }
            }
        }
        .function-list{
            width: 680px;
            // height: 375px;
            margin: 0 auto;
            
            .function-line{
                text-align: center;
                margin-bottom: 32px;
                
            }
            .per-function{
                display: inline-block;
                font-size:16px;
                cursor: pointer;
            }
            .function-item{
                position: relative;
                width:136px;
                height:98px;
                border:1px solid rgba(57,111,170,0.2);
                .icon-jiantou-you{
                    display:none;
                    position: absolute;
                    right:10px;
                }
                &.active{
                    background:#123458;
                    box-shadow: 0px 14px 38px rgba(0,0,0,0.4);
                }
                &.no-r-border{
                    border-right: none;
                }
                &:hover{
                    background:#123458;
                    box-shadow: 0px 14px 38px rgba(0,0,0,0.4);
                    .icon-jiantou-you{
                        display:block;
                    }
                }
            }
            .floor2{
                img{
                    margin: 18px 0 0;height: 25px;
                }
                .item-name{
                    padding:14px 0px 0;
                }
            }
            .floor3{
                img{
                    margin: 18px 0 0;height: 25px;
                }
                .item-name{
                    padding:14px 0px 0;
                }
            }
        }
        .attached-funciton-con{
            position:fixed;bottom:0;left:0;right:0;text-align: center;
            .flex-con{
                display: flex;
                // flex-direction: column;
                justify-content:center;
                align-items: flex-end;
            }
            .attached-funciton{
                vertical-align: bottom;
                width:64px;
                height:64px;
                box-shadow: 0 0px 20px 0px white inset;
                border-radius:50%;
                padding-top: 15px;
                transition: all 0.3s ease 0s;
                &:hover {
                    width: 92px;
                    height: 92px;
                    padding-top: 29px;
                    cursor: pointer;
                }
                >span{
                    display: inline-block;
                    width:2em;
                }
            }
        }
        
        .fixed-circle-con{
            .left-top{
                position: fixed;cursor:pointer;top:-85px;left:-47px;width:329px;height:329px;border-radius: 50%;
                box-shadow: inset 0px -20px 29px 0px rgba(98, 216, 255, 0.52);
                >img{  
                    width: 175px;
                    margin-top: 140px;
                    margin: 134px 0 0 104px;
                }
            }
            .right-top{position: fixed;cursor:pointer;top:-85px;right:-47px;width:329px;height:329px;border-radius: 50%;
                box-shadow: inset 0px -20px 29px 0px rgba(93,93,93, 0.52);
                cursor: not-allowed;
                // box-shadow: inset 0px -20px 29px 0px rgba(177, 139, 229, 0.5);
                >img{
                    margin: 115px 0 0 88px;
                    width: 130px;
                }
            }
            .left-bottom{position: fixed;cursor:pointer;bottom:-110px;left:-47px;width:329px;height:329px;border-radius: 50%;
                box-shadow: inset 0px 20px 29px 0px rgba(93,93,93, 0.52);
                cursor: not-allowed;
                // box-shadow: inset 0px 20px 29px 0px rgba(177, 139, 229, 0.52);
                >img{
                    margin: 99px 0 0 130px;
                    width: 95px;
                }
            }
            .right-bottom{position: fixed;cursor:pointer;bottom:-110px;right:-47px;width:329px;height:329px;border-radius: 50%;
                box-shadow: inset 0px 20px 29px 0px rgba(93,93,93, 0.52);
                cursor: not-allowed;
                // box-shadow: inset 0px 20px 29px 0px rgba(98, 216, 255, 0.52);
            }
        }
    }
}