.switchPowerNewTpl{
    .flex{
        display:flex;
    }
    .flex_1{
        flex:1;
    }
    .modal-body{
        width:900px;
        height:560px;
        background:rgba(30,66,102,1);
        margin: 75px auto 0;
        position: relative;
        padding: 0;
    }
    .system-tab{
        font-size:20px;
        .tabNavSTClass{
            height:36px;
            line-height: 36px;
            background:rgba(30,66,102,1);
            border:1px solid rgba(39,79,120,1);
            cursor: pointer;
            color:white;
        }
        .activeItem{
            height:36px;
            line-height: 36px;
            background:rgba(49,193,170,1);
            border:1px solid rgba(49,193,170,1);
            cursor: pointer;
            color:white;
        }
    }
    .main-con{
        margin:30px;
        .department-tab{
            width:80px;
            cursor: pointer;
            padding:4px 0;
            font-size:16px;
            color:white;
            &.departmentActive{
                border-bottom:2px solid #31C1AA;
            }
        }
        .data-list{
            // position: relative;
            color:rgba(188,206,228,1);
            font-size:14px;
            .disabled {background-color: #999;cursor:  not-allowed;}
            .group{
                text-indent:1em;
                height: 50px;
                line-height: 50px;
                cursor: pointer;
                position: relative;
                .icon-xialajiantou{
                    position: absolute;
                    left:200px;
                }
                .icon-xialajiantou-copy{
                    color:#15F0F5;
                }
            }
            .company{
                text-indent:3em;
                height: 50px;
                line-height: 50px;
                background:rgba(23,52,81,0.5);
                border-bottom:1px solid rgba(23,52,81,0.8);
                cursor: pointer;
                position: relative;
                .icon-xianxiafengongsi{
                    margin-right:6px;
                }
                .icon-xialajiantou{
                    position: absolute;
                    left:200px;
                }
                .icon-xialajiantou-copy{
                    color:#15F0F5;
                }
            }
            .station{
                display:inline-block;
                margin:0 0px 20px 0;
                cursor: pointer;
                width:250px;
            }
            .active-station{
                color:#31c1aa;
            }
        }
    }

}