#containment-wrapper {
    border: 0px solid #494949;
}

.draggable {
    border: 0px solid #494949;
    cursor: pointer;
}

.draggable .inline {
    display: inline-block;
}

.draggable span {
    display: none;
}

.draggable:hover span {
    display: block;
    position: absolute;
    z-index: 1;
    width: 120px;
    margin-left: 40px;
    margin-top: -20px;
    padding: 5px;
    font-size: 13px;
    border: 0px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #000000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    -khtml-opacity: 0.7;
}

.draggable span p {
    margin: 0px;
}



/* 视图布局style */
.d3_tree_layout {
    width: 100%;
    height: 100%;
}
.d3_tree_node {
    cursor: pointer;
    font: 14px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
/*statusColor : ["#3fad22", "#999", "#db412f", "#f90"],*/
.normal rect, .normal line {
    stroke: #3fad22;
}
.fault rect, .fault line {
    stroke: #999;
}
.alarm rect, .alarm line {
    stroke: #db412f;
}
.break rect, .break line {
    stroke: #f90;
}
.show {
    display: block;
}
.hide {
    display: none;
}