@CHARSET "UTF-8";
.mete-con{    margin: 0px 10px 25px;}
.mete-con .square{width: 33%;margin-right:0.5%;height:60px;text-align:center;line-height:60px;color:white;font-size:14px;}
.mete-con .square:first-child{background:rgb(140,41,103);}
.mete-con .square:nth-child(2){background:rgb(245,102,105);}
.mete-con .square:last-child{background:rgb(255,103,0);margin-right:0;}
